body {
    min-width: 320px;
    overflow-x: hidden;
}

main {
    position: relative;
    font-family: 'Roboto';
}

h2 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
}

@media screen and (max-width: 320px) {
    body {
        overflow-x: auto;
    }
}

@media screen and (max-width: 991px) {
    h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 570px) {
    h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 21px;
    }
}

p {
    margin: 0;
}

.container {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}

.btn {
    background-color: transparent;
    padding: 0;
    border: none;
}

@media screen and (max-width: 480px) {
    .header-scroll .logo {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 650px) {
    .contact .form-result-container {
        width: 100% !important;
    }
}

.contact .form-result-container {
    position: relative;
    width: 60%;
    padding-top: 28px;
    margin: 0 auto;
    height: 250px;
}

.btn:focus {
    outline: none;
}

.btn--call,
.btn--delivery {
    border: 1px solid #f08105;
    padding: 10px 28px;
    border-radius: 20px;
    color: #f08105;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transition: background 0.2s ease, color 0.2s ease;
}

.btn--call:focus,
.btn--delivery:focus,
.btn--call:active,
.btn--delivery:active,
.btn--call:hover,
.btn--delivery:hover {
    color: #f08105;
    outline: none;
}

.btn--delivery {
    background-color: #f08105;
    color: #fff;
}

.btn--call:hover {
    background: #f08105;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .btn--call {
        display: none;
    }
}

.header,
.header-scroll {
    background: url("../img/header.png") left top/cover no-repeat;
    height: 132px;
    padding: 12px 0 26px;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
}

.header .hours,
.header-scroll .hours {
    display: inline-block;
    vertical-align: middle;
    color: #ababab;
    font-size: 14px;
    font-weight: 300;
    margin-right: 31px;
}

@media screen and (max-width: 991px) {
    .header .hours,
    .header-scroll .hours {
        display: none;
    }
}

.header .hours > span,
.header-scroll .hours > span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 30px;
}

.header .hours > *,
.header-scroll .hours > * {
    display: inline-block;
    vertical-align: middle;
}

.header .hours .hours-bold,
.header-scroll .hours .hours-bold {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .header,
    .header-scroll {
        height: 100px;
    }
}

.header p,
.header-scroll p {
    margin-bottom: 0;
}

.header .logo,
.header-scroll .logo {
    margin-right: 90px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1200px) {
    .header .logo,
    .header-scroll .logo {
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .header .logo,
    .header-scroll .logo {
        width: 106px;
        height: 50px;
    }
}

.logo {
    width: 148px;
    height: 70px;
    background: url("../img/logo.png") center center/contain no-repeat;
}

.instagram {
    width: 170px;
    height: 32px;
    background: url("../img/instagram.png") center center/contain no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 95px;
}

@media screen and (max-width: 1200px) {
    .instagram {
        margin-right: 40px;
    }
}

@media screen and (max-width: 768px) {
    .instagram {
        width: 150px;
    }
}

@media screen and (max-width: 650px) {
    .instagram {
        display: none;
    }
}

.phones {
    float: right;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .phones {
        font-size: 14px;
    }
}

.phones > .wrap {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.phones span {
    color: #f08105;
}

.phones:after {
    content: '';
    height: 70px;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .phones:after {
        height: 50px;
    }
}

.phones a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}

.phones a:hover,
.phones a:focus,
.phones a:active {
    color: #fff;
    text-decoration: none;
}

.header-scroll {
    position: fixed;
    opacity: 0;
    z-index: 3;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: opacity 0.2s ease, visibility 0s 0.2s, -webkit-transform 0.2s ease;
    transition: opacity 0.2s ease, visibility 0s 0.2s, transform 0.2s ease;
    transition: opacity 0.2s ease, visibility 0s 0.2s, transform 0.2s ease, -webkit-transform 0.2s ease;
}

@media screen and (max-width: 1200px) {
    .header-scroll .nav {
        display: none;
    }
}

.header-scroll .logo {
    margin-right: 45px;
}

.header-scroll.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0s, -webkit-transform 0.2s ease;
    transition: opacity 0.2s ease, visibility 0s, transform 0.2s ease;
    transition: opacity 0.2s ease, visibility 0s, transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.top-screen {
    background: url("../img/Cars-Wallpaper.jpg") center center/cover no-repeat;
    height: 1006px;
    padding-top: 170px;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .top-screen {
        height: 1156px;
    }
}

@media screen and (max-width: 767px) {
    .top-screen {
        padding-top: 120px;
    }
}

@media screen and (max-width: 480px) {
    .top-screen {
        height: 935px;
    }
    .header .logo {
        margin-right: 0;
    }
}

.top-screen h1 {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 64px;
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .top-screen h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 991px) {
    .top-screen h1 {
        font-size: 40px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .top-screen h1 {
        font-size: 38px;
    }
}

@media screen and (max-width: 650px) {
    .top-screen h1 {
        font-size: 32px;
        line-height: 38px;
    }
}

@media screen and (max-width: 570px) {
    .top-screen h1 {
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (max-width: 480px) {
    .top-screen h1 {
        font-size: 18px;
        line-height: 25px;
    }
}

.top-screen h1 .title_emphasize {
    font-size: 52px;
    white-space: normal;
}

@media screen and (max-width: 1200px) {
    .top-screen h1 .title_emphasize {
        font-size: 48px;
    }
}

@media screen and (max-width: 991px) {
    .top-screen h1 .title_emphasize {
        font-size: 36px;
    }
}

@media screen and (max-width: 767px) {
    .top-screen h1 .title_emphasize {
        font-size: 30px;
    }
}

@media screen and (max-width: 650px) {
    .top-screen h1 .title_emphasize {
        font-size: 24px;
    }
}

@media screen and (max-width: 570px) {
    .top-screen h1 .title_emphasize {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .top-screen h1 .title_emphasize {
        font-size: 14px;
    }
}

.top-screen .subtitle {
    text-align: center;
}

.top-screen .subtitle__vehicle {
    content: '';
    width: 114px;
    height: 65px;
    position: relative;
    left: 35px;
    background: url("../img/car-30085_640.png") center center/contain no-repeat;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

@media screen and (max-width: 570px) {
    .top-screen .subtitle__vehicle {
        left: 15px;
    }
}

@media screen and (max-width: 480px) {
    .top-screen .subtitle__vehicle {
        display: none;
    }
}

.top-screen .subtitle__text {
    margin: 0;
    display: inline-block;
    background-color: #f08105;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    position: relative;
    left: 45px;
    height: 55px;
    line-height: 55px;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    vertical-align: top;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
}

@media screen and (max-width: 767px) {
    .top-screen .subtitle__text {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .top-screen .subtitle__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 570px) {
    .top-screen .subtitle__text {
        font-size: 14px;
        left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .top-screen .subtitle__text {
        left: 0;
        padding: 0 10px;
    }
}

@media screen and (max-width: 360px) {
    .top-screen .subtitle__text {
        font-size: 12px;
        display: block;
    }
}

.top-screen .subtitle__text span {
    position: relative;
    left: 13px;
    z-index: 1;
}

@media screen and (max-width: 480px) {
    .top-screen .subtitle__text span {
        left: 0;
    }
}

.form-container {
    width: 570px;
    margin: 0 auto;
    position: relative;
    background: url("../img/order2.png") center top/cover no-repeat;
}

@media screen and (max-width: 650px) {
    .form-container {
        width: 450px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 480px) {
    .form-container {
        width: 100%;
        display: block;
    }
}

.form-container--top {
    margin-top: 10px;
    height: 382px;
    padding-top: 14px;
    background: url("../img/order.png") center top/cover no-repeat;
}

.form-container--top:after {
    top: 14px !important;
}

@media screen and (max-width: 650px) {
    .form-container--top:after {
        top: 12px !important;
    }
}

.form-container--top__body {
    padding-bottom: 0;
}

@media screen and (max-width: 650px) {
    .form-container--top {
        height: 330px;
    }
}

.form-container:after {
    content: '';
    width: 59px;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/corner.png") center center/contain no-repeat;
}

@media screen and (max-width: 650px) {
    .form-container:after {
        top: 0;
        height: 50px;
        background: url("../img/corner.png") left center/contain no-repeat;
    }
}

.form-container__body {
    padding: 30px 0 35px;
}

@media screen and (max-width: 650px) {
    .form-container__body {
        padding: 20px 0 25px;
    }
}

.form-container__head {
    text-transform: uppercase;
    color: #e0e0e0;
    height: 68px;
    line-height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

@media screen and (max-width: 650px) {
    .form-container__head {
        font-size: 14px;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
}

.form-container__head span.fa {
    color: #f08105;
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .form-container__head span.fa {
        margin-right: 5px;
    }
}

.form-container__head p {
    padding: 0 30px 0 59px;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

@media screen and (max-width: 650px) {
    .form-container__head p {
        font-size: 14px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .form-container__head p {
        font-size: 12px;
        padding: 0;
    }
}

@media screen and (max-width: 360px) {
    .form-container__head p {
        font-size: 10px;
    }
}

.best-price {
    margin-left: 50px;
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
    height: 110px;
    width: 288px;
    padding-left: 50px;
    position: relative;
    line-height: 18px;
    z-index: 2;
    background: url("../img/top-prompt-bottom.png") left bottom/304px 80px no-repeat;
}

@media screen and (max-width: 480px) {
    .best-price {
        margin-left: 0;
    }
}

.best-price__heading {
    color: #f08105;
}

.best-price__subheading {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}

.best-price p {
    margin: 0;
}

.best-price-wrap,
.sale {
    display: inline-block;
    vertical-align: middle;
}

.sale {
    width: 35px;
    height: 35px;
    background: url("../img/sale.png") center center/contain no-repeat;
    margin-left: 25px;
}

.top-screen__offer {
    background: url("../img/top-block-bottom.png") center center/cover no-repeat;
    height: 288px;
    position: absolute;
    z-index: 1;
    padding-top: 83px;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .top-screen__offer {
        height: 438px;
        background: url("../img/top-block-bottom.png") center bottom/cover no-repeat;
    }
    .top-screen__offer .container {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .top-screen__offer {
        height: 320px;
    }
}

.top-screen__offer h3 {
    color: #f08105;
    font-size: 43px;
    font-weight: 900;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
}

@media screen and (max-width: 650px) {
    .top-screen__offer h3 {
        font-size: 32px;
        width: auto;
        margin-right: 15px;
    }
}

@media screen and (max-width: 520px) {
    .top-screen__offer h3 {
        display: block;
        margin: 0;
    }
}

.parenthesis {
    background: url("../img/parenthesis.png") center center/contain no-repeat;
    width: 28px;
    height: 96px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 31px;
}

@media screen and (max-width: 650px) {
    .parenthesis {
        margin-right: 15px;
    }
}

@media screen and (max-width: 520px) {
    .parenthesis {
        display: none;
    }
}

.offer-desc {
    display: inline-block;
    vertical-align: middle;
    font-size: 27px;
    color: #fff;
    font-weight: 900;
    text-align: left;
    line-height: 39px;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    .offer-desc {
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (max-width: 520px) {
    .offer-desc {
        text-align: center;
        display: block;
    }
}

.offer-desc span {
    font-size: 23px;
    line-height: 33px;
    text-transform: none;
}

@media screen and (max-width: 991px) {
    .offer-desc span {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .offer-desc span {
        width: 300px;
        display: inline-block;
    }
}

.offer-desc em {
    font-style: normal;
    background: #fff;
    color: #281a33;
    padding: 0 7px;
}

.offer-timer {
    float: right;
}

@media screen and (max-width: 1200px) {
    .offer-timer {
        text-align: center;
        display: block;
        float: none;
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .offer-timer {
        display: none;
    }
}

.offer-timer__title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
}

.btn--orange {
    border-radius: 4px;
    background-color: #f08105;
    box-shadow: 0 5px 0px 0px #c06500;
    padding: 15px 50px;
    border: none;
    transition: box-shadow 0.1s ease, background-color 0.2s ease, -webkit-transform 0.1s;
    transition: box-shadow 0.1s ease, transform 0.1s, background-color 0.2s ease;
    transition: box-shadow 0.1s ease, transform 0.1s, background-color 0.2s ease, -webkit-transform 0.1s;
    color: #0b0b0b;
    font-size: 22px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.31);
}

@media screen and (max-width: 650px) {
    .btn--orange {
        padding: 10px 50px;
    }
}

@media screen and (max-width: 480px) {
    .btn--orange {
        padding: 5px 50px;
        font-size: 16px !important;
    }
}

.btn--orange:hover,
.btn--orange:focus,
.btn--orange:active {
    color: #0b0b0b;
}

.btn--orange:focus {
    outline: none;
}

.btn--orange:hover {
    background-color: #ca6e08;
}

.btn--orange:active {
    box-shadow: 0 3px 0px 0px #c06500;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.form-wrap {
    width: 332px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .form-wrap {
        width: 100%;
        padding: 0 10px;
    }
}

.form-wrap input {
    border-radius: 4px;
    background-color: #e0e0e0;
    width: 100%;
    height: 57px;
    line-height: 57px;
    padding: 0 27px;
    border: 0;
}

@media screen and (max-width: 650px) {
    .form-wrap input {
        height: 45px;
        line-height: 45px;
    }
}

.form-btn {
    display: block;
    width: 100%;
}

.input-tel-wrap,
.input-mail-wrap {
    color: #0b0b0b;
    font-size: 19px;
    font-weight: 400;
    position: relative;
    line-height: 57px;
    width: 332px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: left;
    border: none;
}

@media screen and (max-width: 650px) {
    .input-tel-wrap,
    .input-mail-wrap {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .input-tel-wrap,
    .input-mail-wrap {
        width: 100%;
    }
}

.input-tel-wrap p:before,
.input-mail-wrap p:before {
    font-family: 'FontAwesome';
    content: '\f10b';
    font-size: 19px;
    width: 30px;
    display: inline-block;
    padding: 0 28px;
    vertical-align: top;
    font-size: 25px;
    pointer-events: none;
}

.input-tel-wrap p,
.input-mail-wrap p {
    position: absolute;
    left: 0;
    height: 57px;
    top: 0;
    pointer-events: none;
    opacity: 0.44;
    transition: opacity 0.2s ease;
}

.input-tel-wrap p span,
.input-mail-wrap p span {
    display: inline-block;
    vertical-align: top;
}

.input-tel-wrap input:focus~p,
.input-mail-wrap input:focus~p,
.input-tel-wrap input[data-filled=true]~p,
.input-mail-wrap input[data-filled=true]~p {
    opacity: 0;
}

.input-mail-wrap {
    margin-bottom: 8px;
}

.input-mail-wrap p:before {
    content: '\f003';
    font-size: 18px;
}

.flip-clock-wrapper {
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .flip-clock-wrapper {
        width: auto;
        display: inline-block;
        background: url("../img/top-block-bottom.png") center bottom/cover no-repeat;
    }
}

.flip-clock-wrapper .flip-clock-dot {
    width: 7px;
    height: 7px;
}

.flip-clock-wrapper .days {
    width: 0 !important;
}

.flip-clock-wrapper .days .flip-clock-label {
    right: -55px;
}

.flip-clock-wrapper .hours .flip-clock-label,
.flip-clock-wrapper .minutes .flip-clock-label {
    right: -60px;
}

.flip-clock-wrapper .seconds .flip-clock-label {
    right: -62px;
}

.flip-clock-wrapper .flip-clock-dot {
    background: #f3c490;
    left: 3px;
}

.flip-clock-wrapper .flip-clock-divider {
    height: 58px;
    width: 14px;
    margin-right: 0;
}

.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    bottom: -20px;
    top: auto;
}

.flip-clock-wrapper ul {
    background-color: #f3c490;
    width: 10px;
    height: 57px;
    line-height: 57px;
    margin: 0 3px 0 0;
    border-radius: 5px;
}

.flip-clock-wrapper ul+ul {
    margin: 0;
}

.flip-clock-wrapper ul li a div div.inn {
    font-family: Roboto;
    color: #231a1c;
    font-size: 27px;
    line-height: 55px;
    font-weight: 900;
    background-color: #f3c490;
    text-shadow: none;
}

.flip-clock-wrapper ul li a div.up:after {
    background-color: rgba(40, 26, 51, 0.13);
    bottom: 0;
    height: 1px;
    top: auto;
}

.flip-clock-wrapper .flip {
    box-shadow: none;
}

.transfer {
    background: url("../img/transfer.png") center bottom/cover no-repeat;
    padding-top: 50px;
    position: relative;
    z-index: 1;
    height: 460px;
}

@media screen and (max-width: 1200px) {
    .transfer {
        height: 700px !important;
    }
}

@media screen and (max-width: 991px) {
    .transfer {
        height: 600px !important;
    }
}

@media screen and (max-width: 768px) {
    .transfer {
        height: auto !important;
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 570px) {
    .transfer {
        padding-bottom: 150px;
    }
}

.transfer__title {
    text-transform: uppercase;
    color: #272727;
    font-size: 31px;
    font-weight: 900;
    line-height: 39px;
    margin: 0 0 50px 0;
    text-align: center;
}

.btn--orange-md {
    padding: 15px 30px;
}

.transfer-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}

@media screen and (max-width: 1200px) {
    .transfer-img {
        display: block;
        width: 100%;
    }
}

.transfer-desc {
    color: #281a33;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .transfer-desc {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .transfer-desc {
        margin-bottom: 20px;
    }
}

.transfer-desc .transfer-desc__heading {
    font-size: 22px;
    display: block;
    font-weight: 900;
    line-height: 39px;
}

.advantages {
    padding-top: 190px;
    margin-top: -170px;
    background-color: #eee;
    height: 865px;
}

@media screen and (max-width: 1200px) {
    .advantages {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .advantages {
        padding-top: 140px;
    }
}

.advantages__title {
    color: #272727;
    line-height: 39px;
    text-align: center;
    margin: 0 0 54px 0;
}

.advantage {
    text-align: center;
    margin-bottom: 63px;
}

.advantage__img {
    background: url("../img/figure.png") center center/contain no-repeat;
    width: 156px;
    height: 156px;
    display: inline-block;
    margin-bottom: 31px;
    text-align: center;
    line-height: 156px;
}

.advantage p {
    color: #272727;
    font-size: 17px;
    font-weight: 300;
    line-height: 23px;
    margin: 0;
}

.auto-type {
    height: 238px;
    position: relative;
}

.auto-type__desc {
    height: 58px;
    background: url("../img/auto-type-desc.png") center center/cover no-repeat;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    line-height: 67px;
    text-transform: uppercase;
    left: 0;
    color: #fff;
    display: block;
}

.auto-type--business {
    background: url("../img/business-main.png") center top/contain no-repeat;
}

.auto-type--sport {
    background: url("../img/ford-mustang-sports-car1920-x-1080-368-kb-jpeg-x.png") center top/contain no-repeat;
}

.auto-type--luxury {
    background: url("../img/funn2shhwallpapers-blogspot-com_lux-cars-walls_5.png") center top/contain no-repeat;
}

.auto-type--armored {
    background: url("../img/banner4.png") center top/contain no-repeat;
}

.auto-type--exclusive {
    background: url("../img/957211629.png") center top/contain no-repeat;
}

@media screen and (max-width: 1200px) {
    .auto-type {
        background-size: cover;
    }
}

.auto-type-wrap {
    height: 302px;
    margin-bottom: 30px;
}

.auto-type-wrap .btn--orange {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.auto-type-wrap--delivery {
    background-color: #333;
    height: 307px;
    padding: 25px 30px;
}

.auto-type-wrap--delivery p {
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    margin-top: 26px;
    text-align: center;
    color: #fff;
}

.auto-type-wrap--delivery p em {
    font-weight: 700;
    font-style: normal;
}

.auto-type-wrap--delivery p .btn {
    border-radius: 3px;
    border: 1px solid #fff;
    width: 224px;
    height: 54px;
    font-size: 17px;
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
    transition: background 0.1s ease, color 0.1s ease;
}

.auto-type-wrap--delivery p .btn:hover {
    background: #fff;
    color: #333;
}

.nav {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    margin-right: 20px;
    transition: color 0.2s ease, box-shadow 0.2s ease;
}

.nav ul li.active {
    color: #e4902e;
    box-shadow: 0 2px #e4902e;
}

.nav ul li button {
    background-color: transparent;
    border: none;
    padding: 0;
    text-transform: uppercase;
}

.nav ul li button:focus {
    outline: none;
}

.auto-types {
    background: url("../img/auto_bg.png") center center/cover no-repeat;
    padding-bottom: 77px;
}

.auto-types__title {
    color: #fff;
    line-height: 39px;
    text-align: center;
    margin: 35px 0 60px;
}

@media screen and (max-width: 768px) {
    .auto-types__title {
        margin: 0 0 25px;
    }
}

line-height 30px__top {
    position: relative;
    top: -33px;
}

.csstransforms .auto-types__top {
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    top: 0 !important;
}

.popular-destinations {
    background: url("../img/map.jpg") center center/cover no-repeat;
    padding-bottom: 40px;
}

.popular-destinations__title {
    background-color: #33263d;
    text-align: center;
    color: #fff;
    margin: 0;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.52);
    height: 96px;
    line-height: 96px;
    margin-bottom: 86px;
}

.destination {
    margin-bottom: 50px;
    cursor: pointer;
}

.destination .destination__flag {
    border-radius: 50%;
    border: solid 5px rgba(240, 129, 5, 0.79);
    background-color: #ff9b2d;
    width: 47px;
    height: 47px;
    float: left;
    margin-right: 15px;
}

.destination div {
    margin-left: 62px;
}

.destination p,
.destination span {
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 3px 0;
}

.destination span {
    border-radius: 2px;
    background-color: #f08105;
    width: 75px;
    height: 23px;
    margin: 0;
    padding: 1px 5px;
}

.destination p {
    margin-bottom: 7px;
}

.gallery {
    padding: 83px 0 75px;
    background: url("../img/texture.png");
}

@media screen and (max-width: 768px) {
    .gallery {
        padding: 50px 0 75px;
    }
}

.gallery__title {
    color: #fff;
    margin: 0 0 60px 0;
}

@media screen and (max-width: 768px) {
    .gallery__title {
        margin: 0 0 30px 0;
    }
}

.gallery__slider .gallery-item {
    height: 264px;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.2s ease;
    position: relative;
}

@media screen and (max-width: 1110px) {
    .gallery__slider .gallery-item {
        height: 500px;
    }
}

@media screen and (max-width: 480px) {
    .gallery__slider .gallery-item {
        height: 250px;
    }
}

.gallery__slider .gallery-item img {
    min-width: 100%;
    min-height: 100%;
}

.gallery__slider .gallery-item__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 44px;
    text-align: center;
    background-color: rgba(50, 37, 60, 0.69);
    height: 44px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.gallery li.slick-active button {
    background-color: #fff;
}

.gallery .slick-dots button {
    background-color: rgba(255, 255, 255, 0.7);
}

.gallery .slick-active .gallery-item {
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.34);
}

.slick-slide:focus {
    outline: none;
}

.slick-dots {
    padding: 0;
    margin: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin: 6px;
}

.slick-dots li button {
    color: transparent;
    border-radius: 50%;
    border: none;
    padding: 0;
    transition: background-color 0.2s ease;
    width: 19px;
    height: 19px;
}

.slick-dots li button:focus {
    outline: none;
}

.slick-arrow {
    width: 21px;
    height: 35px;
    color: transparent;
    position: absolute;
    top: 114px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 0;
    z-index: 2;
}

@media screen and (max-width: 1110px) {
    .slick-arrow {
        height: 268px;
    }
}

.slick-arrow.slick-prev {
    left: -53px;
    background: url("../img/left.png") center center/contain no-repeat;
}

@media screen and (max-width: 1300px) {
    .slick-arrow.slick-prev {
        left: -15px;
    }
}

.slick-arrow.slick-next {
    background: url("../img/right.png") center center/contain no-repeat;
    right: -53px;
}

@media screen and (max-width: 1300px) {
    .slick-arrow.slick-next {
        right: -15px;
    }
}

.slick-arrow:focus {
    outline: none;
}

.slick-track {
    margin-bottom: 30px;
}

.testimonials {
    padding: 70px 0 65px;
    background: url("../img/testimonials-word-bubble-background.jpg") center center/cover no-repeat;
}

@media screen and (max-width: 768px) {
    .testimonials {
        padding: 50px 0 65px;
    }
}

.testimonials__title {
    color: #1b1b1b;
    margin: 0 0 60px 0;
}

@media screen and (max-width: 768px) {
    .testimonials__title {
        margin: 0 0 30px 0;
    }
}

.testimonials button {
    background-color: rgba(27, 27, 27, 0.47);
}

.testimonials li.slick-active button {
    background-color: #1b1b1b;
}

.testimonials .slick-track {
    margin-bottom: 55px;
}

.testimonials .slick-prev {
    background: url("../img/left-black.png") center center/contain no-repeat;
}

.testimonials .slick-next {
    background: url("../img/right-black.png") center center/contain no-repeat;
}

.testimonial {
    border-radius: 2px;
    background-color: #eee;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.14);
    height: 230px;
    color: rgba(123, 123, 123, 0.46);
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    position: relative;
}

.testimonial p {
    line-height: 230px;
    margin: 0;
}

.testimonial a {
    line-height: 230px;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.testimonial a img {
    display: inline-block;
}

.contact {
    padding: 65px 0 280px;
    position: relative;
    background: url("../img/footer.jpg") center center/cover no-repeat;
}

@media screen and (max-width: 1200px) {
    .contact {
        padding-bottom: 600px;
    }
}

.contact__title {
    margin: 0;
}

.contact__title,
.contact__subtitle {
    color: #fff;
    text-transform: uppercase;
}

.contact__subtitle {
    margin: 0 0 35px 0;
    text-align: center;
    font-weight: 300;
    font-size: 29px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 250px;
    padding-top: 115px;
    left: 0;
    width: 100%;
    background: url("../img/footer_bg.png") center center/cover no-repeat;
}

@media screen and (max-width: 1200px) {
    .footer > .container > * {
        display: block !important;
        text-align: center !important;
        float: none !important;
        margin: 10px 0 !important;
        width: auto !important;
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        height: 600px;
    }
}

.footer .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px;
}

.footer__desc {
    color: #fff;
    font-size: 15px/* Приближение из-за подстановки шрифтов */
    ;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
    margin: 0 48px 0 0;
}

.footer em {
    font-weight: 700;
    font-style: normal;
}

.footer__copyright {
    font-weight: 300;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 46px;
}

.footer__copyright > a {
    background-image: linear-gradient(to right, #000 33%, #fff 0%);
    background-position: bottom;
    background-size: 4px 1px;
    text-decoration: none;
    color: #fff;
    background-repeat: repeat-x;
}

.footer__requisites {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
}

.footer__requisites > em {
    font-weight: 700;
    margin-bottom: 5px;
    display: inline-block;
}

.footer .phones:after {
    height: 100px;
}

.social {
    padding: 0;
    margin: 19px 0 0 0;
    list-style: none;
}

.social li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.social__item {
    background: url("../img/social_sprite.png") left bottom/cover no-repeat;
    width: 32px;
    height: 32px;
    display: block;
}

.social__item--vk {
    background-position: 0 0;
}

.social__item--fb {
    background-position: -36px 0;
}

.social__item--youtube {
    background-position: -72px 0;
}

.social__item--twitter {
    background-position: -109px 0;
}

.overlay {
    position: fixed;
    background-color: rgba(40, 26, 51, 0.9);
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s;
    text-align: center;
}

.overlay:after {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s;
}

.popup {
    display: inline-block;
    vertical-align: middle;
    display: none;
    box-shadow: 1px 2px 49px 0px rgba(0, 0, 0, 0.59);
}

@media screen and (max-width: 480px) {
    .popup {
        width: 90%;
    }
}

.popup.active {
    display: inline-block;
}

.popup__header {
    padding: 36px 0 14px;
    text-align: center;
}

.popup__header:after,
.popup__header content '' {
    width: 59px;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/corner.png") center center/contain no-repeat;
}

.popup .form-destination {
    font-weight: 300;
    text-align: center;
}

.popup--delivery .form-container__head {
    padding: 20px 0 15px;
    height: auto;
    line-height: inherit;
}

.popup--terms .form-wrap {
    width: auto;
    padding: 0 15px;
    margin: 0 auto;
    color: #fff;
    text-align: left;
    max-height: 300px;
    overflow-y: scroll;
}

.form-result {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    font-size: 36px;
    color: #fff;
    transition: opacity 0.2s ease, visibility 0s 0.2s ease;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    text-align: center;
}

.form-result span {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
}

.form-result:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.form-result.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0s ease;
}
