@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #2F1B25;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
}

.calculator-button {
  border: none;
  border-radius: 50%;
  color: #fff;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
  height: 52px;
  width: 52px;
  flex: 1 1 0;
  outline: none !important;
  cursor: pointer;
  transition: all .2s ease;
}

.calculator-wrapper {
  background-color: #4E3822;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
}

.calculator-screen {
  border-radius: 20px;
  border: 3px solid #E3D26F;
  padding: 10px;
  margin-bottom: 15px;
  color: #fff;
  text-align: right;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
}

.calculator-buttons {
  border-radius: 20px;
  border: 3px solid #E3D26F;
  padding: 10px;
  display: flex;
}

.calculator-button--clear {
  flex-grow: 3;
  background: hsl(14, 38%, 46%);
  border-radius: 45px;
}

.calculator-button--clear:hover {
  background: hsl(14, 38%, 60%);
}

.calculator-button--zero {
  flex-grow: 2;
  border-radius: 45px;
}

.calculator-button--digit {
  background: hsl(24, 50%, 58%);
}

.calculator-button--digit:hover {
  background: hsl(24, 50%, 70%);
}

.calculator-buttons__digits {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.calculator-button--action {
  color: #3F0D12;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #A15E49;
}

.calculator-button--action:hover {
  background: hsl(14, 38%, 60%);
}

.calculator-button--action.active {
  background: hsl(14, 38%, 60%);
}

.calculator-button--action img {
  max-width: 20px;
  max-height: 20px;
}

.calculator-buttons__row {
  display: flex;
}

.calculator-buttons__actions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.calculator-screen__history {
  font-weight: 300;
}
