    /*====================================
    =            Chrome range            =
    ====================================*/
    
    input[type=range].news-cards-range {
        -webkit-appearance: none;
        border: none;
    }
    
    input[type=range].news-cards-range::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        background: #bec3c7;
        border: none;
    }
    
    input[type=range].news-cards-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 30px;
        width: 225px;
        border-radius: 30px;
        background: #2d3e50 url('../img/stripes.png') center center /12px 14px no-repeat;
        margin-top: -10px;
    }
    
    input[type=range].news-cards-range:focus {
        outline: none;
    }
    /*=====  End of Chrome range  ======*/
    /*=====================================
    =            Firefox range            =
    =====================================*/
    
    input[type=range].news-cards-range {
        /*required for proper track sizing in FF*/
        width: 100%;
    }
    
    input[type=range].news-cards-range::-moz-range-track {
        width: 100%;
        height: 10px;
        background: #bec3c7;
        border: none;
    }
    
    .footer-timer {
        -webkit-animation: blink 1s infinite;
        /* Safari 4+ */
        -moz-animation: blink 1s infinite;
        /* Fx 5+ */
        -o-animation: blink 1s infinite;
        /* Opera 12+ */
        animation: blink 1s infinite;
        /* IE 10+, Fx 29+ */
    }
    
    input[type=range].news-cards-range::-moz-range-thumb {
        border: none;
        height: 30px;
        width: 225px;
        border-radius: 30px;
        background: #2d3e50 url('../img/stripes.png') center center /12px 14px no-repeat;
    }
    /*hide the outline behind the border*/
    
    input[type=range].news-cards-range:-moz-focusring {
        outline: 1px solid transparent;
        outline-offset: -1px;
    }
    /*=====  End of Firefox range  ======*/
    /*================================
    =            IE range            =
    ================================*/
    
    input[type=range].news-cards-range::-ms-track {
        width: 100%;
        height: 10px;
        background: #bec3c7;
        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 10px 0;
        /*remove default tick marks*/
        color: transparent;
    }
    
    input[type=range].news-cards-range::-ms-thumb {
        border: none;
        height: 30px;
        width: 225px;
        border-radius: 30px;
        background: #2d3e50 url('../img/stripes.png') center center /12px 14px no-repeat;
    }
    
    input[type=range]:focus::-ms-fill-lower {
        background: #bec3c7;
    }
    
    input[type=range]:focus::-ms-fill-upper {
        background: #bec3c7;
    }
    
    input[type=range]::-ms-fill-lower {
        background: #bec3c7;
    }
    
    input[type=range]::-ms-fill-upper {
        background: #bec3c7;
    }
    /*=====  End of IE range  ======*/