.octaves {
  display: flex;
}

.octave-btn {
  background-color: #bac5c5;
  width: 80px;
  height: 40px;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: #242223;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  &.isDisabled {
    pointer-events: none;
  }
  &:first-child {
    margin-right: 20px;
  }
  &:active {
    background-color: #fff;
  }
}
