@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('proxima_nova_extra_condensed_bold_italic-webfont.eot');
    src: url('proxima_nova_extra_condensed_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('proxima_nova_extra_condensed_bold_italic-webfont.woff2') format('woff2'), url('proxima_nova_extra_condensed_bold_italic-webfont.woff') format('woff'), url('proxima_nova_extra_condensed_bold_italic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('proxima_nova_extra_condensed_bold-webfont.eot');
    src: url('proxima_nova_extra_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'), url('proxima_nova_extra_condensed_bold-webfont.woff2') format('woff2'), url('proxima_nova_extra_condensed_bold-webfont.woff') format('woff'), url('proxima_nova_extra_condensed_bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('proxima_nova_extra_condensed_regular_italic-webfont.eot');
    src: url('proxima_nova_extra_condensed_regular_italic-webfont.eot?#iefix') format('embedded-opentype'), url('proxima_nova_extra_condensed_regular_italic-webfont.woff2') format('woff2'), url('proxima_nova_extra_condensed_regular_italic-webfont.woff') format('woff'), url('proxima_nova_extra_condensed_regular_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('proxima_nova_extra_condensed_regular-webfont.eot');
    src: url('proxima_nova_extra_condensed_regular-webfont.eot?#iefix') format('embedded-opentype'), url('proxima_nova_extra_condensed_regular-webfont.woff2') format('woff2'), url('proxima_nova_extra_condensed_regular-webfont.woff') format('woff'), url('proxima_nova_extra_condensed_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
