@import '../fonts/fonts.css';
html {
  font-size: 16px;
}
body {
  color: #fff;
  font-weight: 300;
  font-family: 'Museo Sans';
  font-size: inherit;
}
p {
  margin: 0;
}
button {
  background: none;
  padding: 0;
  border: none;
  text-transform: inherit;
}
button:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
h1 {
  font-size: 3.9375rem;
  letter-spacing: 0.46875rem;
  margin-bottom: 1.0625rem;
}
h2 {
  color: #666;
  text-align: center;
  font-size: 4.375rem;
  margin: 0 0 5.3125rem;
  letter-spacing: 0.5rem;
  line-height: 5.9375rem;
}
.backgroundcliptext h2.clipped {
  background: url("../img/text-bg.jpg") center center/cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 63px rgba(0,0,0,0.67);
}
.no-backgroundcliptext h2.clipped {
  color: transparent;
  background: url("../img/text-bg-unsupported.png") center center/contain no-repeat;
  width: 100%;
  height: 232px;
}
h3 {
  font-size: 1.25rem;
  margin: 0 0 2.1875rem;
  letter-spacing: 0.10625rem;
}
h1,
h2,
h3 {
  font-family: 'Coco Gothic';
  font-weight: 900;
}
h1,
h2,
h3,
button {
  text-transform: uppercase;
}
section {
  background: #242424;
}
.container {
  width: 1230px;
  padding: 0 30px;
}
.scroll-down {
  -webkit-animation: 1.2s ease infinite scroll-down;
  animation: 1.2s ease infinite scroll-down;
}
.top-screen {
  height: 100vh;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.top-screen:after {
  content: '';
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.top-screen__lang {
  font-size: 0.875rem;
  position: absolute;
  width: 100%;
  top: 46px;
  left: 0;
  font-weight: 100;
}
.top-screen__lang button {
  margin-right: 0.625rem;
}
.top-screen__lang button:last-of-type {
  margin-right: 0;
}
.top-screen__lang .top-screen-lang-inactive {
  color: #b8ac9f;
}
.top-screen__center {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
.top-screen__center p {
  font-size: 1.375rem;
  margin-bottom: 1.75rem;
  font-weight: 100;
  line-height: 2.1875rem;
  letter-spacing: 0.08125rem;
}
.top-screen__center span {
  font-size: 1.8125rem;
  text-transform: none;
  color: #f86867;
  font-family: 'Lifehack';
  display: inline-block;
  margin-top: 0.3125rem;
}
.top-screen__center button {
  font-size: 0.875rem;
  background: #f86867;
  padding: 1.5rem 2.6875rem;
  border-radius: 2.8125rem;
  border: none;
  letter-spacing: 0.10625rem;
}
.top-screen__scroll-down {
  position: absolute;
  text-align: center;
  bottom: 72px;
  width: 100%;
  font-size: 1.6875rem;
  color: #fff;
  left: 0;
}
.white-hover-btn {
  transition: all 0.2s ease;
}
.white-hover-btn:hover {
  background: #fff;
  color: #f86867;
}
.about {
  position: relative;
  padding: 8rem 0 5.625rem;
  background: url("../img/about-bg.jpg") right top/auto 100% no-repeat, #242424;
  box-shadow: 5px 9px 65px 0px rgba(0,0,0,0.47);
}
.about-info__avatar {
  border-radius: 50%;
  margin-bottom: 2.125rem;
}
.about-info__social {
  text-align: center;
  margin-bottom: 0.75rem;
}
.about-info .dotted {
  font-size: 0.75rem;
}
.about-info .dotted button {
  font-size: 0.75rem;
}
.about-info__text {
  margin-left: 34%;
  line-height: 1.4375rem;
  text-align: justify;
  letter-spacing: 0.0625rem;
}
.about-details__list {
  padding: 0.625rem 0 0 0;
}
.about-details h3 {
  color: #969595;
  padding-left: 3.75rem;
}
.about-details-list-item {
  margin-bottom: 2rem;
}
.about-details-list-item span {
  border-radius: 50%;
  background: #f86867;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.4375rem;
}
.about-details-list-item p {
  margin-left: 3.75rem;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  text-align: justify;
}
.about-details-list-item p button {
  text-transform: none;
}
.slick-arrow {
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slick-arrow.arrow-left {
  left: -10%;
}
.slick-arrow.arrow-right {
  right: -10%;
}
.slick-dots {
  text-align: center;
  margin: 0;
  padding: 0;
}
.slick-dots li {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  color: transparent;
  background: rgba(255,255,255,0.49);
  display: inline-block;
  transition: background 0.2s ease;
  margin-right: 4.6875rem;
}
.slick-dots li:last-of-type {
  margin-right: 0;
}
.slick-dots li.slick-active {
  background: #f86867;
}
.path {
  padding: 7.4375rem 0 8.3125rem;
}
.path-slider {
  text-align: center;
  background: url("../img/path-bg.png") center center/contain no-repeat;
}
.path-slider img {
  display: inline;
}
.path-slider .slick-arrow {
  top: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.path-slider .slick-arrow.arrow-left {
  left: -50%;
}
.path-slider .slick-arrow.arrow-right {
  right: -50%;
}
.path-slider .slick-dots {
  text-align: center;
  margin: 0;
  padding: 0;
}
.path-slider .slick-dots li {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  color: transparent;
  background: rgba(255,255,255,0.49);
  display: inline-block;
  transition: background 0.2s ease;
  margin-right: 4.6875rem;
}
.path-slider .slick-dots li:last-of-type {
  margin-right: 0;
}
.path-slider .slick-dots li:nth-child(2) {
  position: relative;
}
.path-slider .slick-dots li:nth-child(2):after,
.path-slider .slick-dots li:nth-child(2):before {
  content: '';
  top: 50%;
  position: absolute;
  background: rgba(222,222,222,0.11);
  width: 3.25rem;
  height: 1px;
}
.path-slider .slick-dots li:nth-child(2):after {
  right: -3.875rem;
}
.path-slider .slick-dots li:nth-child(2):before {
  left: -3.875rem;
}
.path-slider .slick-dots li.slick-active {
  background: #f86867;
}
.path-slider-item__img {
  margin-bottom: 2.8125rem;
}
.path-slider-item__desc {
  margin-bottom: 4.1875rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 0 1.5625rem;
  letter-spacing: 0.04375rem;
}
.dotted {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.dotted:hover,
.dotted:active,
.dotted:focus {
  text-decoration: none;
}
.bordered {
  border: 1px solid #fff;
  border-radius: 1.875rem;
  padding: 0.0625rem 1.25rem;
  letter-spacing: 0.0625rem;
  font-family: 'Coco Gothic';
  font-weight: 900;
}
.slick-slide:focus {
  outline: none;
}
.gallery {
  padding: 6.6875rem 0;
  background: url("../img/gallery-bg.jpg") center center/cover no-repeat, #242424;
  position: relative;
  z-index: 1;
  box-shadow: 0px 19px 49px 0px rgba(0,0,0,0.2);
}
.gallery-subsection-triggers {
  margin-bottom: 3.75rem;
}
[data-subsection-trigger] {
  color: #fff;
  position: relative;
  padding-bottom: 0.1875rem;
  transition: all 0.2s ease;
  letter-spacing: 0.0625rem;
}
[data-subsection-trigger]:before {
  position: absolute;
  font-weight: bold;
  opacity: 0;
  content: attr(data-text);
}
[data-subsection-trigger].active {
  font-weight: bold;
  color: #f86867;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 0%);
}
.gallery-subsection__triggers {
  margin-bottom: 4.6875rem;
}
.gallery-subsection__triggers li {
  margin-right: 0.625rem;
}
.gallery-subsection__triggers li:last-of-type {
  margin-right: 0;
}
[data-subcategory-trigger] {
  font-size: 0.8125rem;
  transition: color 0.2s ease, border 0.2s ease;
}
[data-subcategory-trigger].active {
  color: #f86867;
  border: 1px solid #f86867;
  border-radius: 1.25rem;
  padding: 0.4375rem 0.9375rem;
}
.gallery-subcategory-item {
  position: relative;
  margin: 2px -13px;
}
.gallery-subcategory-item:hover .gallery-subcategory-item__overlay {
  opacity: 1;
}
.gallery-subcategory-item__img {
  width: 100%;
}
.gallery-subcategory-item__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease;
  background: rgba(248,104,103,0.83);
  white-space: nowrap;
  font-size: 1.1875rem;
  padding: 0 1.25rem;
  text-transform: uppercase;
}
.gallery-subcategory-item__overlay button {
  font-size: 0.75rem;
}
.gallery-subcategory-item__overlay:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.gallery-subcategory-item-overlay-wrapper {
  display: inline-block;
  font-size: 1.1875rem;
  font-family: 'Coco Gothic';
  font-weight: 900;
  line-height: 1.8125rem;
  vertical-align: middle;
  white-space: normal;
}
.gallery-subcategory-item-overlay-wrapper__title {
  margin-bottom: 1.5rem;
}
.gallery-details {
  color: #f86867;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
}
.gallery-wrapper {
  margin: -3.375rem 0 5.625rem;
}
.reviews-wrapper {
  position: relative;
}
.reviews {
  padding: 7.5rem 0 5rem;
  position: relative;
  box-shadow: 5px 9px 65px 0px rgba(0,0,0,0.47);
}
.review {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
}
.review.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s;
}
.review__link {
  display: inline-block;
  margin-bottom: 1.5625rem;
}
.review__link span {
  background: #3763b5;
  border-radius: 50%;
  color: #fff;
  font-size: 0.8125rem;
  width: 1.625rem;
  line-height: 1.625rem;
  height: 1.625rem;
}
.review__text {
  line-height: 1.625rem;
  padding: 0 4.375rem;
  font-style: italic;
  margin-bottom: 2.6875rem;
}
.review__author {
  font-family: 'Coco Gothic';
  font-size: 1.1875rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1375rem;
}
.reviews-slider-item {
  width: 519px;
}
.flipster {
  margin-bottom: 0.3125rem;
}
.flipster__button {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}
.flipster--coverflow .flipster__item__content {
  box-reflect: none;
  -webkit-box-reflect: none;
}
.upcoming {
  padding: 6.25rem 0;
}
.events-slider {
  margin: -0.9375rem;
  box-shadow: 2px -2px 62px 0px rgba(0,0,0,0.23);
}
.events-slider .slick-dots {
  position: absolute;
  bottom: 4.9375rem;
  width: 100%;
}
.events-slider .slick-dots li {
  margin-right: 0.75rem;
  background: #fff;
}
.events-slider .slick-dots li.slick-active {
  background: #f86867;
}
.events-slider .slick-arrow {
  z-index: 1;
}
.events-slider .arrow-right {
  right: 5%;
}
.events-slider .arrow-left {
  left: 5%;
}
.events-slider-item {
  text-align: center;
  font-weight: 100;
  padding: 4.0625rem 0 13.25rem;
}
.events-slider-item__bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
.events-slider-item:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url("../img/blue-gradient.png") 0 0/auto 100% repeat-x;
}
.events-slider-item__online {
  font-size: 0.625rem;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 3.8125rem;
  height: 3.8125rem;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.8125rem;
  margin-bottom: 4.6875rem;
}
.events-slider-item__date {
  margin-bottom: 2.3125rem;
  font-size: 1.0625rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.events-slider-item__title {
  margin-bottom: 0.9375rem;
  font-size: 3.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.4375rem;
  font-family: 'Coco Gothic';
  font-weight: 900;
}
.events-slider-item__desc {
  margin-bottom: 2.8125rem;
  font-size: 1.3125rem;
  font-weight: 100;
  padding: 0 6.25rem;
  letter-spacing: 0.0625rem;
}
.events-slider-item__button {
  font-size: 0.875rem;
  padding: 1.375rem 2.9375rem;
}
.options {
  background: url("../img/options-bg.jpg") center center/cover no-repeat;
  padding: 1.25rem 0 6.25rem;
  box-shadow: 5px 45px 65px 0px rgba(0,0,0,0.2);
  position: relative;
}
.options-triggers {
  text-align: center;
  font-size: 0.8125rem;
  margin-bottom: 5.625rem;
}
.options-triggers__item {
  margin-right: 2.5rem;
}
.options-triggers__item:last-of-type {
  margin-right: 0;
}
.options-triggers__item [data-option-trigger] {
  transition: all 0.2s ease;
  padding-bottom: 0.125rem;
  font-weight: 300;
  padding-bottom: 0.3125rem;
  letter-spacing: 0.0625rem;
}
.options-triggers__item [data-option-trigger].active {
  color: #f86867;
  font-weight: 900;
  box-shadow: 0 2px #f86867;
}
.options-slider .slick-dots {
  display: none;
}
.options-slider .slick-arrow {
  top: 35%;
}
.options-slider-item {
  text-align: center;
}
.options-slider-item__img {
  margin-bottom: 4.375rem;
}
.options-slider-item__title {
  font-size: 2.375rem;
  text-transform: uppercase;
  float: left;
  text-align: left;
  max-width: 45%;
  color: #f86867;
  font-family: 'Coco Gothic';
  font-weight: 900;
  letter-spacing: 0.3125rem;
}
.options-slider-item__desc {
  text-align: left;
  line-height: 1.625rem;
  margin-left: 34%;
}
.options-slider-item__button {
  color: #f86867;
  display: block;
  margin-top: 1.25rem;
}
.decorations {
  padding: 6.625rem 0 6.875rem;
  background: url("../img/decorations-bg.jpg") center center/cover no-repeat;
}
.decorations-wrapper {
  position: relative;
  margin-top: -1.0625rem;
}
.decoration {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
  padding-bottom: 5.625rem;
}
.decoration__img {
  float: left;
  margin-top: 3rem;
}
.decoration__title {
  font-size: 2.375rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: #f86867;
  font-family: 'Coco Gothic';
  font-weight: 900;
  margin-bottom: 1.5625rem;
}
.decoration__desc {
  line-height: 1.625rem;
}
.decoration__button {
  color: #f86867;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-weight: 300;
  margin-top: 1.25rem;
}
.decoration.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s;
}
.decorations-triggers {
  padding-bottom: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: table;
}
.decorations-triggers:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  box-shadow: 0 0px 35px 40px rgba(0,0,0,0.08);
}
.decorations-triggers li {
  display: table-cell;
}
.decoration-trigger {
  white-space: nowrap;
  text-align: left;
  line-height: 2.75rem;
  padding: 0.9375rem 0 0.9375rem 2.625rem;
  transition: all 0.2s ease;
  width: 100%;
  font-weight: 100;
}
.decoration-trigger__img {
  float: left;
  background: #fff;
  width: 2.75rem;
  height: 2.75rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.75rem;
  border-radius: 50%;
}
.decoration-trigger__title {
  margin-left: 3.875rem;
  transition: font-weight 0.2s ease;
}
.decoration-trigger.active {
  background: #242424;
  position: relative;
  font-weight: 900;
  box-shadow: 7px 12px 17px 0px rgba(0,0,0,0.08);
}
.decoration-wrap {
  margin-left: 29%;
}
.order {
  background: url("../img/pattern-red.jpg");
  padding: 6.875rem 0 0;
  position: relative;
}
.order:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -7.1875rem;
  left: 50%;
  margin-left: -31rem;
  width: 1138px;
  height: 936px;
  background: url("../img/order-decorations.png") center center/contain no-repeat;
}
.order h2 {
  color: #fff;
}
.letter-form {
  background: url("../img/letter.png") center center/100% 100% no-repeat;
  position: relative;
  font-size: 1.3125rem;
  font-family: 'Lifehack';
  z-index: 1;
  line-height: 2.25rem;
  margin-top: -2.3125rem;
  margin-bottom: -5rem;
  color: #151515;
  letter-spacing: 0.125rem;
  padding: 7.5rem 5.625rem 7.5rem 5.9375rem;
}
.letter-form input {
  border: 1px solid #151515;
  border-width: 0 0 1px 0;
  background: transparent;
  width: 14.1875rem;
  position: relative;
  bottom: 0.5rem;
}
.letter-form input:focus {
  outline: none;
}
.letter-form [data-input=additional] {
  width: 100%;
}
.letter-form button[type=submit] {
  font-size: 1.25rem;
  color: #f86867;
  display: block;
  font-size: 1.25rem;
  margin-top: 3.25rem;
  font-family: 'Coco Gothic';
  font-weight: 900;
  text-transform: uppercase;
}
.mark {
  position: absolute;
  bottom: 125px;
  right: 110px;
  padding: 0;
  background: transparent;
}
.blog {
  padding: 7.1875rem 0 7.75rem;
}
.blog__button {
  font-size: 0.8125rem;
  padding: 1.125rem 2.3125rem;
  color: #f86867;
  border-color: #f86867;
}
.blog-post {
  margin-bottom: 5rem;
}
.blog-post__title {
  font-size: 1.4375rem;
  line-height: 2.125rem;
  font-family: 'Coco Gothic';
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2.0625rem;
}
.blog-post__excerpt {
  line-height: 1.5625rem;
  margin-bottom: 1.25rem;
}
.blog-post__img {
  margin-bottom: 2.1875rem;
  width: 100%;
}
.blog-post__link {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #f86867;
}
.blog-post__link:hover,
.blog-post__link:focus,
.blog-post__link:active {
  text-decoration: none;
  color: #f86867;
}
.underline {
  transition: box-shadow 0.2s ease;
  padding-bottom: 0.1875rem;
  box-shadow: 0 1px rgba(248,104,103,0.5);
}
.underline:hover {
  box-shadow: 0 1px #f86867;
}
.info {
  background: #282828;
  padding: 7.125rem 0;
}
.info .dotted {
  font-size: 0.75rem;
  color: #f86867;
  text-transform: uppercase;
  margin-right: 0.625rem;
}
.info-item {
  margin-bottom: 4.6875rem;
}
.info-item__heading {
  margin-bottom: 1.75rem;
}
.info-item__title {
  margin-bottom: 2.375rem;
}
.info-item__text {
  font-size: 0.9375rem;
  margin-bottom: 1.0625rem;
  line-height: 1.375rem;
}
.payment {
  border-radius: 3px;
  padding: 0.875rem 0;
  background: #fff;
  text-align: center;
}
.payment img {
  max-width: 90%;
}
.faq-item {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 0.375rem;
  color: #292929;
  position: relative;
  padding: 1.0625rem 1.5625rem;
}
.faq-item__count {
  border: 1px solid #292929;
  display: inline-block;
  border-radius: 50%;
  width: 1.6875rem;
  height: 1.6875rem;
  line-height: 1.6875rem;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.84375rem;
}
.faq-item__question {
  text-align: left;
  padding-left: 2.8125rem;
}
.faq-item__answer {
  font-size: 0.875rem;
  padding: 1.8125rem 0 0 2.8125rem;
}
.faq-item-wrapper {
  position: relative;
  cursor: pointer;
}
.footer {
  background: #000;
  line-height: 3.4375rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 3.1875rem 0;
  color: rgba(185,185,185,0.7);
}
.footer__copyright {
  font-size: 0.875rem;
  text-transform: none;
  font-weight: 100;
  letter-spacing: 0.0625rem;
}
.footer-contact-avatar {
  width: 55px;
  border-radius: 50%;
}
.footer-contact-wrapper {
  margin-left: 1.5rem;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.footer-contact-wrapper button {
  font-size: 0.5625rem;
}
.footer__contact,
.footer__social,
.footer__phone,
.footer__location {
  display: inline-block;
  vertical-align: middle;
}
.footer__contact {
  margin-right: 2.25rem;
}
.footer__social {
  margin-right: 2.25rem;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer__location .location {
  color: #f86867;
}
.modal-backdrop {
  background: url("../img/pattern.png"), #000;
}
.modal-backdrop.in {
  opacity: 0.9;
}
.modal-dialog {
  background: #242424;
  padding: 2.8125rem 3.4375rem;
  width: 100%;
  margin: 50px 0;
  border-radius: 3px;
}
.blog-post-modal {
  margin-top: 1.875rem;
}
.blog-post-modal__img {
  width: 100%;
  margin-bottom: 1.5625rem;
}
.blog-post-modal__desc {
  line-height: 1.875rem;
  text-align: left;
}
.social-icon {
  font-size: 1rem;
  margin-right: 0.8125rem;
  color: #b9b9b9;
  transition: color 0.2s ease;
}
.social-icon:last-of-type {
  margin-right: 0;
}
.social-icon:hover,
.social-icon:active,
.social-icon:focus {
  text-decoration: none;
  color: #f86867;
}
.social-icon:hover svg path,
.social-icon:active svg path,
.social-icon:focus svg path {
  fill: #f86867;
}
path {
  transition: fill 0.2s ease;
}
[data-input=additional] {
  display: block;
  width: 100%;
}
.order-modal-slider-wrapper {
  margin: 0 -3.4375rem 4.6875rem;
  height: 585px;
}
.order-modal__slider {
  width: 75%;
  float: left;
  height: 100%;
}
.order-modal__slider .slick-slide {
  overflow: hidden;
}
.order-modal__slider .slick-slide img {
  width: 100%;
}
.order-modal__slider .slick-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.order-modal__slider .arrow-left {
  top: -8%;
}
.order-modal__slider .arrow-right {
  top: auto;
  bottom: -8%;
}
.order-modal-payment-options__select {
  display: inline-block;
  vertical-align: middle;
  width: 7.1875rem;
}
.order-modal-payment-options__select .selectize-dropdown {
  width: 100% !important;
}
.order-modal-payment-options__select .selectize-input {
  background: transparent;
  color: #fff;
  height: auto;
  box-shadow: none;
  padding: 0;
  border: none;
  width: auto;
  overflow: visible;
}
.order-modal-payment-options__select .selectize-input .item {
  border-bottom: 1px dotted #fff;
  border-color: inherit;
  text-decoration: none;
}
.order-modal-payment-options__select .selectize-input.input-active {
  color: #fff;
  height: auto;
  padding: 0;
  background: transparent !important;
}
.order-modal-payment-options__select .selectize-input:after {
  right: -15px !important;
}
.order-modal-payment-options__select .selectize-input.dropdown-active:after {
  right: -10px !important;
}
.order-modal-payment-options__select .option {
  background: #fff;
  color: #282828;
  font-size: 0.8125rem;
  width: 100%;
  padding: 5px;
  margin-right: -5px;
}
.order-modal-payment-options__price {
  display: inline-block;
  vertical-align: middle;
}
.order-modal__slider--for {
  width: 25%;
}
.order-modal__slider--for .slick-slide {
  position: relative;
}
.order-modal__slider--for .slick-slide:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.order-modal__slider--for .slick-current:after {
  opacity: 1;
}
.order-modal__description {
  margin-bottom: 4.0625rem;
  clear: both;
  font-size: 0.9375rem;
}
.order-modal__description header {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  font-weight: 900;
  letter-spacing: 0.1875rem;
  font-family: 'Coco Gothic';
}
.order-modal__description p {
  letter-spacing: 0.0625rem;
}
.order-modal__payment {
  margin-right: -3.4375rem;
  padding: 2.6875rem 7.5rem 2.6875rem 2.5rem;
  border-radius: 4px;
  margin-top: -0.9375rem;
  background-color: rgba(0,0,0,0.09);
}
.order-modal__payment header {
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 0.9375rem;
  font-weight: 900;
}
.order-modal-payment-options {
  margin-bottom: 1.875rem;
}
.order-modal-payment-options__select {
  margin-right: 1.25rem;
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
  background: transparent;
  border-width: 0 0 1px 0;
}
.order-modal-payment-options__select:focus {
  outline: none;
}
.order-modal-payment-options__price {
  font-size: 1.625rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.order-modal-payment-button {
  background: #f86867;
  border-color: #f86867;
  padding: 0.9375rem 2.0625rem;
}
.modal-dialog__title,
.modal-dialog__subtitle {
  text-align: center;
  text-transform: uppercase;
}
.modal-dialog__title {
  font-size: 1.9375rem;
  font-family: 'Coco Gothic';
  font-weight: 900;
  letter-spacing: 0.25rem;
}
.modal-dialog__subtitle {
  font-size: 0.9375rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.0625rem;
}
.modal-close {
  font-size: 1.25rem;
  font-weight: 200;
  top: 0.9375rem;
  right: 1.625rem;
  position: absolute;
  text-transform: none;
}
.payment-modal {
  text-align: center;
}
.payment-modal-step {
  margin-bottom: 3.125rem;
}
.payment-modal-step:last-of-type {
  margin-bottom: 2.8125rem;
}
.payment-modal-step__count {
  border-radius: 50%;
  height: 3.3125rem;
  display: inline-block;
  width: 3.3125rem;
  line-height: 3.3125rem;
  text-align: center;
  background-color: rgba(255,255,255,0.06);
  font-size: 1.25rem;
  color: rgba(255,255,255,0.08);
  margin-bottom: 2.1875rem;
}
.payment-modal-step__title {
  font-size: 1.0625rem;
  margin-bottom: 2.25rem;
  font-family: 'Coco Gothic';
  font-weight: 900;
  text-transform: uppercase;
}
.payment-modal-step__form {
  width: 41%;
  margin: 0 auto;
}
.payment-modal-step__price {
  font-size: 2.1875rem;
  color: #f86867;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 1px;
}
.payment-modal-step__helper {
  background: rgba(255,255,255,0.05);
  font-size: 0.875rem;
  padding: 0 1.5rem;
  display: inline-block;
  margin-top: 0.9375rem;
  line-height: 3rem;
  color: rgba(255,255,255,0.43);
  position: relative;
  margin-bottom: 3.25rem;
}
.payment-modal-step__helper:after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  top: -0.375rem;
  left: 50%;
  margin-left: -0.375rem;
  border-width: 0.1875rem 0.375rem;
  border-color: transparent transparent rgba(255,255,255,0.05) transparent;
}
.payment-system__logo {
  text-align: center;
  background: #fff;
  position: relative;
  height: 8.625rem;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0.875rem;
}
.payment-system__logo:after {
  content: '';
  display: block;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.payment-system__logo img {
  width: 75%;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
.payment-system:hover div.payment-system-logo-overlay {
  opacity: 1;
}
.payment-system-logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 1.0625rem;
  line-height: 8.625rem;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
  background: rgba(248,104,103,0.95);
}
.payment-system__desc {
  font-size: 0.75rem;
  color: rgba(255,255,255,0.36);
}
.payment-form__input {
  margin-bottom: 0.625rem;
  border: 1px solid #fff;
}
.payment-form__input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.38);
}
.payment-form__input::-moz-placeholder {
  color: rgba(255,255,255,0.38);
}
.payment-form__input:-ms-input-placeholder {
  color: rgba(255,255,255,0.38);
}
.payment-form__input:-moz-placeholder {
  color: rgba(255,255,255,0.38);
}
.payment-form__select,
.payment-form__input {
  background: transparent;
  padding: 0 2rem;
  display: block;
  height: 3.375rem;
  width: 100%;
  border-radius: 4px;
  font-size: 1.0625rem;
}
.payment-form__select {
  background: #ededed;
  color: #242424;
  padding: 0;
}
.payment-form__select .selectize-input {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  line-height: 3.375rem;
  font-size: inherit;
  color: inherit;
  background: inherit !important;
  font-family: inherit;
  text-align: left;
  color: #242424 !important;
}
.payment-form__select .selectize-dropdown-content {
  border-radius: 4px;
}
.payment-form__select .option {
  height: 2.375rem;
  box-sizing: border-box;
  background: #ededed;
  text-align: left;
  line-height: 2.375rem;
  color: #242424 !important;
  padding: 0 2rem;
  border: 1px solid #ededed;
  border-width: 1px 0;
}
.payment-form__select .option:hover {
  background: #e5e5e5;
  border-color: #dbdbdb;
}
.payment-form .select-price {
  font-size: 0.9375rem;
  font-weight: 900;
  color: #f86867;
  margin-left: 10px;
}
.payment-form .selectize-control.single .selectize-input:after {
  border-color: #242424 transparent transparent transparent;
}
.payment-form .selectize-control.single .selectize-input.dropdown-active:after {
  border-color: transparent transparent #242424 transparent;
}
.order-modal-details {
  text-align: center;
  background: #272727;
  margin: 2.8125rem -3.4375rem -3.4375rem;
  color: rgba(255,255,255,0.56);
}
.order-modal-details__open {
  width: 100%;
  height: 2.9375rem;
  font-size: 0.875rem;
  font-weight: 900;
}
.order-modal-details__close {
  font-size: 0.625rem;
}
.order-modal-details-expandable {
  padding: 2.375rem 3.4375rem;
}
.order-modal-details-section {
  margin-bottom: 4.3125rem;
}
.order-modal-details-section:last-of-type {
  margin-bottom: 1.8125rem;
}
.order-modal-details-section__header {
  font-size: 0.875rem;
  margin-bottom: 1.4375rem;
  text-transform: uppercase;
  font-weight: 900;
}
.order-modal-details-section__desc {
  font-size: 0.875rem;
  margin-bottom: 2.0625rem;
  line-height: 1.3125rem;
}
.order-modal-details-section__payment-options {
  padding: 1.125rem 0;
  background: #fff;
  text-align: center;
  margin-left: -3.4375rem;
  margin-right: -3.4375rem;
}
.order-status-modal {
  text-align: center;
  font-size: 1.125rem;
}
.order-status-modal__icon {
  font-size: 3.625rem;
  color: #f86867;
  margin: 4.375rem 0 4rem;
}
.order-status-modal__desc {
  padding: 0 10%;
}
.order-status-modal__contact {
  margin-top: 3.0625rem;
}
.order-status-modal-social {
  margin: 0 2.8125rem 0 3.625rem;
}
.order-status-modal-contact-item {
  display: inline-block;
  vertical-align: middle;
  color: rgba(185,185,185,0.7);
  text-decoration: none;
}
.order-status-modal-contact-item:focus,
.order-status-modal-contact-item:hover,
.order-status-modal-contact-item:active {
  color: rgba(185,185,185,0.7);
  text-decoration: none;
}
.order-status-modal-contact-item:first-of-type {
  font-size: 0.625rem;
}
.order-status-modal-contact-item:last-of-type {
  font-size: 0.875rem;
}
@media screen and (max-width: 1310px) {
  .order:after {
    width: 1033px;
    height: 850px;
    margin-left: -28.75rem;
  }
}
@media screen and (max-width: 1260px) {
  html {
    font-size: 15px;
  }
  .container {
    width: 970px;
    padding: 0 15px;
  }
  .order:after {
    width: 850px;
    height: 700px;
    margin-left: -25rem;
  }
  .mark {
    bottom: 90px;
    right: 70px;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__contact,
  .footer__social,
  .footer__phone,
  .footer__location {
    width: 25%;
    float: left !important;
    text-align: center;
    margin: 0;
  }
  .footer-contact-wrapper {
    text-align: left;
  }
  .events-slider-item__desc {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 750px;
    padding: 0 15px;
  }
  .order:after {
    width: 750px;
    height: 620px;
    margin-left: -26.5rem;
  }
  .about-info__text {
    margin-left: 35%;
  }
  .about-details {
    margin-top: 3.57142rem;
  }
  .letter-form {
    padding: 8.57142rem 11.42857rem 7.5rem 9rem;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__contact {
    width: 30%;
  }
  .footer__phone {
    width: 15%;
  }
  .footer__location,
  .footer__social {
    width: 27.5%;
  }
  .slick-arrow.arrow-left {
    left: 0.71428rem !important;
  }
  .slick-arrow.arrow-right {
    right: 0.71428rem !important;
  }
  .order-modal__slider .arrow-left {
    left: 50% !important;
  }
  .order-modal__slider .arrow-right {
    right: 50% !important;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 13px;
  }
  .options-slider-item__img {
    width: 100%;
  }
  .slick-arrow img {
    width: 20px;
  }
  .flipster__button img {
    width: 20px;
  }
  .options-slider .slick-arrow {
    top: 30%;
  }
  .top-screen {
    overflow-x: hidden;
  }
  .about-info__text {
    margin-left: 15.38461rem;
  }
  .container {
    width: auto;
    padding: 0 10px;
  }
  .row {
    margin: 0 -10px;
  }
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding: 0 10px;
  }
  .gallery-subcategory-item {
    margin: 2px -8px;
  }
  .reviews-slider-item {
    width: 350px;
  }
  .order:after {
    display: none;
  }
  .footer__contact,
  .footer__phone,
  .footer__location,
  .footer__social {
    display: block;
    width: auto;
    float: none !important;
    text-align: center;
  }
  .order-modal-slider-wrapper {
    height: 450px;
  }
  .payment-system {
    margin-bottom: 2.30769rem;
  }
  .options-slider-item__desc {
    margin-left: 35%;
  }
  .options-slider-item_title {
    padding-right: none;
  }
  .decorations-triggers li {
    display: inline-block;
    width: 50%;
  }
  .decoration-wrap {
    margin-left: 45%;
  }
  h2 {
    font-size: 3.23076rem;
  }
  .about-info__avatar {
    border-radius: 50%;
    width: 11.53846rem;
  }
}
@media screen and (max-width: 600px) {
  .order {
    padding: 8.30769rem 0 3rem;
  }
  .letter-form {
    background-size: 110% 110%;
    padding: 7.23076rem 5.30769rem 8.07692rem 4.6923rem;
  }
  .mark {
    bottom: 50px;
    right: 50px;
  }
  .order-modal-details {
    margin: 0;
  }
  .order-modal-slider-wrapper {
    margin-left: -1.53847rem;
    margin-right: -1.53847rem;
    height: auto !important;
  }
  .payment-modal-step__form {
    width: 80%;
  }
  .options-triggers__item {
    margin-right: 1.92307rem;
  }
  .options-slider-item__desc {
    margin-left: 45%;
  }
  .modal-dialog {
    padding: 6rem 1.53846rem;
  }
  .order-modal__payment {
    margin-right: -1.53847rem;
  }
  .order-modal__slider {
    width: 100%;
    display: block;
    float: none;
    margin: 0;
  }
  .order-modal__slider .slick-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    left: auto;
  }
  .order-modal__slider .slick-arrow.arrow-left {
    left: -25px !important;
  }
  .order-modal__slider .slick-arrow.arrow-right {
    right: -25px !important;
  }
  .order-modal__slider .slick-slide img {
    width: 100%;
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: auto;
    left: auto;
  }
  #order-slider-for .slick-slide {
    height: auto !important;
  }
  .about-info__text {
    float: none;
    margin: 0;
  }
  .about-info .pull-left {
    float: none !important;
    text-align: center;
    margin-bottom: 1.15384rem;
  }
}
@media screen and (max-width: 520px) {
  .order-modal__payment {
    clear: both;
    float: none !important;
    width: 100%;
    margin: 0 0 0.76923rem;
  }
  .letter-form {
    background: #efefef;
    box-shadow: 5px 9px 65px 0px rgba(0,0,0,0.47);
    border-radius: 10px;
    padding: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .options-triggers__item {
    display: block;
    margin-bottom: 0.76923rem;
  }
  .order-status-modal-social {
    margin: 0.76923rem 0;
    display: block !important;
  }
  .options-slider-item__title,
  .options-slider-item__desc {
    display: block;
    float: none;
    margin: 0;
  }
  .options-slider-item__title {
    margin-bottom: 1.15384rem;
  }
  .order-modal-details-section__payment-options img {
    max-width: 90%;
  }
  h2 {
    font-size: 2.15384rem;
    line-height: 3.84615rem;
  }
  h1 {
    font-size: 3.23076rem;
  }
  .mark {
    display: none;
  }
  .decoration {
    padding-bottom: 1.53846rem;
  }
  .decoration__img,
  .decoration-wrap {
    display: block;
    float: none;
    margin: 0;
  }
  .decoration__img {
    margin: 0 auto;
    margin-bottom: 1.15384rem;
  }
  .decoration-trigger {
    padding-left: 0;
  }
  .decoration-trigger__title {
    font-size: 0.84615rem;
  }
  .flipster__item {
    width: 250px;
  }
  [data-subsection-trigger],
  [data-subcategory-trigger] {
    margin-bottom: 0.76923rem;
  }
  .path-slider-item__img img {
    display: inline-block;
  }
  .path-slider-item__img img:first-of-type {
    margin-bottom: 0.76923rem;
  }
}
@media screen and (max-height: 510px) {
  .top-screen__scroll-down {
    bottom: 30px;
  }
}
@-webkit-keyframes scroll-down {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1.875rem);
    transform: translateY(1.875rem);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes scroll-down {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1.875rem);
    transform: translateY(1.875rem);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
