* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	min-width: 1100px;
}

a {
	color: inherit;
	text-decoration: none;
}


header {
	height: 75px;
	top: 0;
	width: 100%;
	background-color: white;
	opacity: 0.85;
	z-index: 1;
	transition: all .3s ease;
	left: 0;
	position: fixed;
}

.header-fixed {
	height: 55px;
	opacity:1;
	-webkit-transform: translate3d(0,0,0);
	box-shadow: 0 1px 0 rgba(0,0,0,.05);
}

.logo {
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	left: 25px;
	transition: all .3s ease;

}

.menu {
	float: right;
	margin: 0 25px 0 0;
}

.menu li {
	display: inline-block;
	font-size: 120%;
	font-weight: 400;
	transition: all .3s ease;
	line-height: 75px;
	position: relative;
	width: 100px;
	text-align: center;
}

.menu a {
	display: block;
}


.menu li:hover {
	background-color: black;
	color:white;
}


.header-fixed .menu li{
	line-height: 55px;
}

.jumbotron {
	height: 100vh;
	width: 100%;
	position: relative;
	min-height: 550px;
}

.jumbotron__wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.scroll-down {
	width: 10px;
	height: 10px;
}

.jumbotron__title {
	font-size: 500%;
	font-weight: 800;
	color: #ffffff;
	text-transform: uppercase;
	width: 530px;
	letter-spacing: 2px;
	line-height: 105px;
	text-shadow: 0px 1px 5px rgb(11, 14, 19);
	display: block;
	text-align: center;
}

.jumbotron__btn {
	font-weight: 800;
	color: #ffffff;
	text-transform: uppercase;
	width: 191px;
	height: 68px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 0;
	background-color: transparent;
	outline: 0;
	font-size: 100%;
	transition: all .3s ease;
	overflow: hidden;
	cursor: pointer;
	top: 120%;
	box-shadow: 0px 1px 5px rgb(11, 14, 19);
	position: absolute;
	display: block;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.jumbotron__btn:before {
	content: '';
	height: 100%;
	position: absolute;
	width: 150%;
	top: 0;
	left: 0;
	background-color: white;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	transition: all .3s ease;
	z-index: -1;

}

.jumbotron__btn:hover:before {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}


.jumbotron__btn:hover {
	color: black;
}

.products {
	height: 373px;
	padding-top: 127px;
	text-align: center;
	text-transform: uppercase;
	background-color: white;
}

.collection__heading {
	text-transform: uppercase;
	padding-top: 170px;
	text-align: center;
}

.products h4, .collection__heading h4  {
	font-size:300%;
	margin: 0;
	letter-spacing: -1px;
	font-weight: 800;
}

.products p, .collection__heading p {
	font-size: 85%;
	font-weight: 400;
}

.collection  {
	height: 1190px;
	background-color:  #f5f5f5;
	margin-bottom: 338px;
}

.collection__items {
	margin-top: 175px;
}

.last-row {
	margin-top: 130px !important;
}

.item {
	height: 188px;
	color:  #707070;
	position: relative;
}

.item p {
	position: absolute;
	bottom: 0;
	font-size: 115%;
	font-weight: 400;
	margin: 0 0 6px 0;
	line-height: 22px;
}

.item img {
	width: 100%;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	transition: -webkit-filter .3s ease, filter .3s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.item:hover img {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}


.slick-dots {
	padding: 0;
	text-align: center;
	margin-top: 95px;
}

.slick-dots li {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color:  #cbcbcb;
	margin: 8px;
	transition: background-color .5s ease;
}

li.slick-active {
	background-color:  #000000;
}

.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

footer {
	height: 338px;
	background-color: black;
	color: white;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: -999;
}

footer .row {
	padding-top: 67px;
}

footer h4 {
	text-transform: uppercase;
	margin: 0;
	font-size: 85%;
}

footer ul {
	list-style-type: none;
	padding: 0;
	font-size: 80%;
	margin-top: 17px;
}

footer li {
	margin: 7px 0;	
}

small {
	margin-top: 34px;
	display: inline-block;
	font-size: 70%;
	line-height: 20px;
}


.row {
	width: 858px;
	margin: 0 auto;
}

.row:after {
	content:'';
	clear: both;
	display: table;
}

.col-lg-2, .col-lg-3, .col-lg-4 {
	padding: 0 15px;
	float: left;	
}

.col-lg-2 {	
	width: 14.2857%;	
}

.col-lg-3 {
	width: 21.4285%;
}

.col-lg-4 {
	width: 28.5714%;
}

.offset-lg-1 {
	margin-left: 7.1428%;
}

.no-js .page-loader { 
	display: none; 
}


.js .page-loader{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fefefe;
	z-index: 9999;
}

.loader {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	font-size: 10px;
	text-indent: -12345px;
	border-top: 1px solid rgba(0,0,0, 0.08);
	border-right: 1px solid rgba(0,0,0, 0.08);
	border-bottom: 1px solid rgba(0,0,0, 0.08);
	border-left: 1px solid rgba(0,0,0, 0.5);

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-animation: spinner 700ms infinite linear;
	-moz-animation: spinner 700ms infinite linear;
	-ms-animation: spinner 700ms infinite linear;
	-o-animation: spinner 700ms infinite linear;
	animation: spinner 700ms infinite linear;

	z-index: 100001;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}