.bubble {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  display: flex;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  transition: transform 3333ms ease, opacity 0.5s ease;
  &--inactive {
    opacity: 0.3;
  }
  &--expanding {
    transform: translate3d(-50%, -50%, 0) scale(1.3);
  }
  &--shrinking {
    transform: translate3d(-50%, -50%, 0) scale(0.7);
  }
  &--static {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  &__box {
    animation: rotation 10s infinite linear;
    animation-delay: 1000ms;
    display: block;
    left: 50%;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  &__outer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid #3278e0;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  &__point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #fff;
    position: absolute;
    &--current {
      background: #3378da;
      top: -10px;
      left: -10px;
    }
    &--top {
      left: 50%;
      top: -10px;
      margin-left: -10px;
    }
    &--right {
      margin-top: -10px;
      top: 75%;
      right: 23px;
    }
    &--left {
      margin-top: -10px;
      top: 75%;
      left: 23px;
    }
  }
  &__inner {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: linear-gradient(#82a7de, #7753e7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
