* {
  box-sizing: border-box;
}

html {
  max-width: 2000px;
  min-width: 1200px;
  margin: 0 auto;
}

body {
  position: relative;
}

figure {
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.w615 {
  width: 615px;
}

.w1005 {
  width: 1005px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #1a1a1a;
  font-size: 48px;
  margin: 0;
}

header {
  background-image: url("../img/header_bg.png");
  height: 697px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
header button {
  background: -webkit-linear-gradient(90deg, #51bf9c 0%, #77e2c0 100%);
  background: linear-gradient(0deg, #51bf9c 0%, #77e2c0 100%);
  width: 284px;
  height: 61px;
  border: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  margin-top: 72px;
}
header .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-38%);
  -ms-transform: translateY(-38%);
  transform: translateY(-38%);
}
header .description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #f4f4f4;
  font-size: 22px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
  margin-top: 75px;
}
header .welcome {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #f4f4f4;
  font-size: 45px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55);
}
header .mlampah {
  background-image: url("../img/mlampah.png");
  height: 81px;
  width: 530px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.preparation h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #1a1a1a;
  font-size: 31px;
  margin: 75px 0 21px;
}
.preparation .row {
  margin-top: 105px;
}
.preparation .row figure {
  display: inline-block;
  width: 227px;
}
.preparation .row figure:first-child {
  float: left;
}
.preparation .row figure:last-child {
  float: right;
}
.preparation .row:last-child {
  margin-top: 55px;
}
.preparation .circle {
  border-radius: 50%;
  width: 227px;
  height: 227px;
}
.preparation .container {
  margin-top: 139px;
}
.preparation .justify {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 17px;
}
.preparation .t-shirt {
  background: url("../img/t-shirt.png") center center no-repeat, -webkit-linear-gradient(-56deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/t-shirt.png") center center no-repeat, -webkit-linear-gradient(304deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/t-shirt.png") center center no-repeat, linear-gradient(146deg, #77e2c0 4%, #51bf9c 96%);
}
.preparation .home {
  background: url("../img/home.png") center center no-repeat, -webkit-linear-gradient(-56deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/home.png") center center no-repeat, -webkit-linear-gradient(304deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/home.png") center center no-repeat, linear-gradient(146deg, #77e2c0 4%, #51bf9c 96%);
}
.preparation .map {
  background: url("../img/map.png") center center no-repeat, -webkit-linear-gradient(-56deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/map.png") center center no-repeat, -webkit-linear-gradient(304deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/map.png") center center no-repeat, linear-gradient(146deg, #77e2c0 4%, #51bf9c 96%);
}
.preparation .note {
  background: url("../img/note.png") center center no-repeat, -webkit-linear-gradient(-56deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/note.png") center center no-repeat, -webkit-linear-gradient(304deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/note.png") center center no-repeat, linear-gradient(146deg, #77e2c0 4%, #51bf9c 96%);
}
.preparation .camera {
  background: url("../img/camera.png") center center no-repeat, -webkit-linear-gradient(-56deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/camera.png") center center no-repeat, -webkit-linear-gradient(304deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/camera.png") center center no-repeat, linear-gradient(146deg, #77e2c0 4%, #51bf9c 96%);
}
.preparation .umbrella {
  background: url("../img/umbrella.png") center center no-repeat, -webkit-linear-gradient(-56deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/umbrella.png") center center no-repeat, -webkit-linear-gradient(304deg, #77e2c0 4%, #51bf9c 96%);
  background: url("../img/umbrella.png") center center no-repeat, linear-gradient(146deg, #77e2c0 4%, #51bf9c 96%);
}

.quote {
  background-image: url("../img/quote_bg.png");
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 118px;
}
.quote h4 {
  display: none;
}
.quote .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.quote blockquote {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 584%;
  text-align: left;
  margin: 0;
}
.quote blockquote p {
  margin: 0 0 58px;
  line-height: 100px;
}
.quote blockquote cite {
  font-size: 37px;
  font-style: normal;
}

.destination {
  background-color: #51bf9c;
  background: -webkit-linear-gradient(97deg, #51bf9c 37%, #77e2c0 63%);
  background: linear-gradient(-7deg, #51bf9c 37%, #77e2c0 63%);
  height: 266px;
  text-align: center;
}
.destination .title {
  line-height: 266px;
  color: #ffffff;
}

.dest_carousel {
  margin: 0;
}
.dest_carousel h4 {
  display: none;
}
.dest_carousel .slide_1 {
  background-image: url("../img/carousel_bg_1.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_carousel .slide_2 {
  background-image: url("../img/carousel_bg_2.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_carousel .slide_3 {
  background-image: url("../img/carousel_bg_3.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_carousel .slide_4 {
  background-image: url("../img/carousel_bg_4.png");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_carousel .slide_5 {
  background-image: url("../img/carousel_bg_5.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_carousel .slide_6 {
  background-image: url("../img/carousel_bg_6.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.dest_carousel .slick-dots {
  bottom: 57px;
}
.dest_carousel .slick-dots li {
  width: 24px;
  height: 24px;
  margin: 0 8px;
  position: relative;
}
.dest_carousel .slick-dots li button {
  border-radius: 50%;
  background-color: #ffffff;
  padding: 0;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dest_carousel .slick-dots li button:before {
  content: '';
}
.dest_carousel .slick-dots li.slick-active button {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  background-color: transparent;
  box-sizing: initial;
}

.dest_carousel-controls .container {
  position: relative;
  top: -389px;
}
.dest_carousel-controls .container button {
  position: absolute;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
  opacity: 0.5;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
.dest_carousel-controls .container button:hover {
  opacity: 1;
}
.dest_carousel-controls .container button:first-child {
  left: -15px;
}
.dest_carousel-controls .container button:last-child {
  right: -15px;
}
.dest_carousel-controls .container svg {
  height: 75px;
  width: 75px;
}
.dest_carousel-controls .container svg polygon {
  fill: white;
}

.box-container {
  position: relative;
}

.box {
  box-sizing: initial;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  top: -170px;
  width: 229px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.box:after, .box:before {
  top: 100%;
  left: 60%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.box:after {
  border-color: transparent;
  border-width: 12px;
  margin-left: -12px;
}

.box:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 12px;
  margin-left: -12px;
}

.package_carousel {
  height: 1200px;
  text-align: center;
}
.package_carousel h4:not(.title) {
  display: none;
}
.package_carousel .container {
  padding-top: 135px;
}
.package_carousel .carousel {
  position: relative;
}
.package_carousel .title {
  color: #1a1a1a;
}
.package_carousel .slides {
  margin-top: 110px;
  height: 700px;
  position: relative;
}
.package_carousel .slide {
  background-color: #51bf9c;
  position: absolute;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  width: 423px;
  height: 700px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-align: center;
}
.package_carousel .slide .heading {
  margin-top: 135px;
  display: inline-block;
  height: 84px;
  border: 2px solid #ffffff;
}
.package_carousel .slide .heading span {
  line-height: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 55px;
}
.package_carousel .slide .heading p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  width: 247px;
  display: inline-block;
  margin-top: 95px;
  line-height: 17px;
}
.package_carousel .slide .heading button {
  border: 0;
  outline: 0;
  background-color: #ffffff;
  padding: 0;
  width: 153px;
  height: 43px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #53c09d;
  font-size: 24px;
  margin-top: 50px;
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
}
.package_carousel .slide .heading button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.package_carousel .slide .heading-first {
  width: 310px;
}
.package_carousel .slide .heading-second {
  width: 247px;
}
.package_carousel .slide .heading-third {
  width: 249px;
}
.package_carousel .slide-left {
  -webkit-transform: translate(90px) scale(0.8);
  -ms-transform: translate(90px) scale(0.8);
  transform: translate(90px) scale(0.8);
  left: 0;
}
.package_carousel .slide-right {
  -webkit-transform: translate(-90px) scale(0.8);
  -ms-transform: translate(-90px) scale(0.8);
  transform: translate(-90px) scale(0.8);
  left: 747px;
}
.package_carousel .slide-active {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  z-index: 2;
}
.package_carousel .controls button {
  position: absolute;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
  opacity: 0.5;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.package_carousel .controls button:hover {
  opacity: 1;
}
.package_carousel .controls button:first-child {
  left: -15px;
}
.package_carousel .controls button:last-child {
  right: -15px;
}
.package_carousel .controls svg {
  height: 75px;
  width: 75px;
}
.package_carousel .controls svg polygon {
  fill: #51bf9c;
}

.testimonials {
  height: 600px;
  background: -webkit-linear-gradient(97deg, #242424 27%, #343434 73%);
  background: linear-gradient(-7deg, #242424 27%, #343434 73%);
}
.testimonials .container {
  padding-top: 125px;
}
.testimonials .title {
  color: #ffffff;
  display: block;
}
.testimonials .person {
  width: 50%;
  float: left;
  padding-top: 88px;
  text-align: left;
}
.testimonials .person img {
  float: left;
}
.testimonials .person blockquote {
  display: inline-block;
  margin: 0;
  float: left;
  text-align: justify;
  width: 340px;
  padding-left: 27px;
  line-height: 16px;
}
.testimonials .person blockquote p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 28px;
}
.testimonials .person blockquote cite {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  font-style: normal;
}

.keep {
  background-image: url("../img/footer_bg.png");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.keep .container {
  padding-top: 125px;
}
.keep .title {
  color: #ffffff;
}
.keep form {
  width: 585px;
  display: inline-block;
  margin-top: 113px;
}
.keep form input[type="text"] {
  width: 420px;
  height: 60px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  font-size: 20px;
}
.keep form input[type="submit"] {
  width: 165px;
  height: 60px;
  line-height: 32px;
  border: 0;
  outline: 0;
  padding: 0;
  background: -webkit-linear-gradient(90deg, #51bf9c 0%, #77e2c0 100%);
  background: linear-gradient(0deg, #51bf9c 0%, #77e2c0 100%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}

footer.footer {
  height: 350px;
  background-color: #242424;
  background: -webkit-linear-gradient(97deg, #242424 34%, #343434 66%);
  background: linear-gradient(-7deg, #242424 34%, #343434 66%);
  position: relative;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
}
footer.footer .container {
  position: relative;
  height: 203px;
  width: 830px;
  top: 90px;
  text-align: initial;
}
footer.footer .footer-description {
  width: 294px;
  text-align: left;
  float: left;
}
footer.footer .footer-description p {
  text-align: justify;
  line-height: 15px;
  position: relative;
  top: 10px;
}
footer.footer .stripe {
  height: 203px;
  width: 3px;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  float: left;
}
footer.footer .contacts {
  width: 294px;
  text-align: left;
  float: right;
}
footer.footer .contacts .office {
  margin-bottom: 40px;
}
footer.footer .contacts .address, footer.footer .contacts .tel, footer.footer .contacts .email {
  margin-bottom: 10px;
}
