::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

button:focus {
    outline: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: 'PT Sans';
    font-size: 16px;
    color: #111;
    overflow-x: hidden;
}

.header {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
    top: 0;
    padding: 18px 0;
    transition: -webkit-transform 0.45s ease;
    transition: transform 0.45s ease;
    transition: transform 0.45s ease, -webkit-transform 0.45s ease;
    color: #000;
    font-family: 'Arial';
    font-size: 18px;
}

.btn-general {
    border-radius: 15px;
    font-size: 16px;
    padding: 0 40px;
    background-color: #c0382a !important;
    height: 50px;
    line-height: 50px;
    border: none;
    color: #fff;
}

.btn-general:focus {
    outline: none;
}

.header__btn,
.sidemenu__btn {
    line-height: 40px;
    margin-right: 40px;
    display: inline-block;
    height: 40px;
    padding: 0 28px;
    color: #fff;
}

.header__btn:focus,
.sidemenu__btn:focus,
.header__btn:hover,
.sidemenu__btn:hover {
    color: #fff;
}

.sidemenu__btn {
    display: none;
    margin-top: 15px;
}

@media (max-width: 610px) {
    .sidemenu__btn {
        display: block;
    }
}

.form-fields {
    margin-top: 45px;
}

.form-fields input[type="text"],
.form-fields input[type="email"],
.form-fields textarea {
    background-color: #f3f3f3;
    font-family: inherit;
    border: 0;
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    display: block;
    margin: 0;
    padding: 10px 15px;
    height: 60px;
    width: 100%;
    transition: all 0.15s linear;
    color: #1b1b1b;
    outline: none;
    font-size: 18px;
    box-shadow: none !important;
}

@media (max-height: 800px),
(max-width: 1450px) {
    .form-fields textarea {
        height: 100px !important;
    }
}

@media (max-height: 800px),
(max-width: 1450px) {
    .form-fields {
        margin-top: 25px;
    }
}

.form-fields textarea {
    height: 150px;
}

.right {
    float: right;
}

.header--hidden {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.csstransforms3d .header {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.csstransforms3d .header--hidden {
    -webkit-transform: translate3d(0, -100%, 0) !important;
    transform: translate3d(0, -100%, 0) !important;
}

.csstransforms3d .btn-down {
    -webkit-animation: slide-down-3d 0.8s infinite;
    animation: slide-down-3d 0.8s infinite;
}

.csstransforms3d .sponsors-slider {
    animation: sponsors-slider-3d 20s linear infinite;
    -webkit-animation: sponsors-slider-3d 20s linear infinite;
}

.header__logo {
    height: 40px;
    float: left;
    display: inline-block;
    line-height: 0;
}

@media (max-width: 1380px) {
    .header__logo {
        line-height: 40px;
    }
}

.header__logo img {
    height: 40px;
}

@media (max-width: 1380px) {
    .header__logo img {
        vertical-align: middle;
    }
}

.header-title {
    font-size: 23px;
    color: #4277b8;
    margin-left: 14px;
    display: inline-block;
    vertical-align: middle;
}

.header__logo--mobile {
    position: absolute;
    float: none;
    display: block;
    top: 50%;
    left: 10px;
    margin-top: -19px;
}

.swipe-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    -webkit-animation: scroll-down 1.3s infinite ease-in-out;
    animation: scroll-down 1.3s infinite ease-in-out;
}

.swipe-down img {
    width: 64px;
    height: 64px;
}

.textblock-heading {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 27px;
    color: inherit;
}

.textblock-buttons {
    margin-top: 45px;
}

.textblock-buttons > *:first-child {
    margin: 0 30px 0 0;
}

.btn:active,
.btn.active {
    box-shadow: none;
}

.textblock__buttons {
    margin-bottom: 30px;
    margin-top: -15px;
}

.textblock__buttons button {
    margin-right: 20px;
    font-weight: bold;
}

.textblock__buttons button.active {
    background-color: #4277b8;
    color: #fff;
}

.header__hamburger {
    background: none;
    border: none;
    padding: 0;
    display: none;
    line-height: 1;
    vertical-align: middle;
    color: #4277b8;
    font-size: 42px;
}

.header__hamburger:focus {
    outline: none;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    color: #4277b8;
    font-weight: bold;
}

.header__nav {
    margin: 0 0 0 100px;
    padding: 0;
    line-height: 40px;
    display: inline-block;
}

@media (max-width: 1720px) {
    .header__nav {
        margin-left: 40px;
    }
}

@media (max-width: 1550px) {
    .header__nav {
        margin-left: 25px;
    }
}

@media (max-width: 1199px) {
    .header__nav {
        margin-left: 10px;
    }
}

.header__nav li {
    display: inline-block;
    margin-right: 50px;
}

.header__nav li:last-of-type {
    margin-right: 0;
}

@media (max-width: 1720px) {
    .header__nav li {
        margin-right: 35px;
    }
}

@media (max-width: 1650px) {
    .header__nav li {
        margin-right: 20px;
    }
}

@media (max-width: 1450px) {
    .header__nav li {
        margin-right: 15px;
    }
}

@media (max-width: 1199px) {
    .header__nav li {
        margin-right: 7px;
    }
}

.container {
    width: 1733px;
}

.frontpage-wrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 23px;
    white-space: normal;
}

p {
    margin: 0;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

h2 {
    color: inherit;
    font-size: 48px;
    font-weight: bold;
    line-height: 66px;
    margin-bottom: 40px;
}

h2 .emphasize {
    font-size: 85px;
    display: block;
    line-height: 66px;
}

.textblock-inner-heading {
    font-weight: bold;
    font-size: 26px;
    margin: 38px 0 15px;
}

.triangles {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
}

.triangles img {
    position: absolute;
    width: 100%;
    height: 100%;
}

a.underline {
    box-shadow: 0 1px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.2s ease;
    line-height: normal;
}

a.underline:hover {
    box-shadow: 0 1px #fff;
}

.slide {
    background-color: #edecea;
    position: relative;
    padding-top: 150px;
    overflow: hidden;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media (max-height: 950px),
(max-width: 1450px) {
    .slide {
        padding-top: 80px;
    }
}

.slide[data-anchor=frontpage] {
    background: url("../img/frontpage_bg.jpg") center center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding-top: 0 !important;
    white-space: nowrap;
    padding: 0;
}

.slide[data-anchor=frontpage]:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.slide[data-anchor=frontpage] .btn {
    font-size: 21px;
    margin-bottom: 30px;
}

.slide[data-anchor=frontpage] .action-link {
    color: #fff;
}

.slide[data-anchor=frontpage] .action-link:hover,
.slide[data-anchor=frontpage] .action-link:active,
.slide[data-anchor=frontpage] .action-link:focus {
    color: #fff;
}

.slide[data-anchor=frontpage] .action-link.underline {
    box-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.slide[data-anchor=frontpage] .action-link.underline:hover {
    box-shadow: 0 1px #fff;
}

.slide[data-anchor=about] {
    color: #fff;
    padding-top: 0;
    background: url("../img/technologies_pattern.jpg") center center/cover no-repeat;
}

.slide[data-anchor=about] .btn {
    font-size: 18px;
}

.slide[data-anchor=about] .action-link {
    color: #fff;
}

.slide[data-anchor=about] .action-link:hover,
.slide[data-anchor=about] .action-link:active,
.slide[data-anchor=about] .action-link:focus {
    color: #fff;
}

.slide[data-anchor=about] .action-link.underline {
    box-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.slide[data-anchor=about] .action-link.underline:hover {
    box-shadow: 0 1px #fff;
}

.slide[data-anchor=technologies] .btn--accent {
    font-size: 18px;
}

.slide[data-anchor=technologies] h2,
.slide[data-anchor=technologies] .textblock-heading {
    color: #4277b8;
}

.slide[data-anchor=shops] {
    background: url("../img/village.jpg") center center/cover no-repeat;
}

.slide[data-anchor=shops] .btn--contour {
    font-size: 18px;
}

.slide[data-anchor=options] h2,
.slide[data-anchor=options] .textblock-heading {
    color: #4277b8;
}

@media (max-height: 950px),
(max-width: 1450px) {
    .slide[data-anchor=contact],
    .slide[data-anchor=shops] {
        padding-top: 100px;
    }
}

button + .action-link {
    margin-top: 10px;
}

.vc-content {
    white-space: nowrap;
}

.vc-content > div {
    float: none;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.vc-content:after {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

span.pinned {
    color: #959595;
    margin-left: 7px;
}

.catalog-showcase-item-heading_r {
    color: #bfbfbf;
    font-size: 36px;
    float: right;
    line-height: 1;
}

.form-fields__group {
    margin-bottom: 40px;
}

@media (max-height: 800px),
(max-width: 1450px) {
    .form-fields__group {
        margin-bottom: 20px;
    }
}

.catalog__showcase {
    background-color: #fff;
    margin: 0 -15px;
}

.catalog-showcase-item {
    padding: 48px 68px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, transition 0.2s 0s;
    color: #111;
    left: 0;
    width: 100%;
}

.catalog-showcase-item.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, transition 0s;
}

@media (max-height: 950px) {
    .catalog-showcase-item {
        padding: 35px 68px;
    }
}

.feedback-form__heading {
    margin: 0 0 20px 0;
}

.feedback-contacts__email {
    color: #4277b8;
}

.materials-slider .textblock__content {
    margin-bottom: 0;
}

.catalog-showcase-item__content {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 48px;
}

@media (max-height: 900px) {
    .catalog-showcase-item__content {
        padding-bottom: 0;
    }
}

.catalog-showcase-item__header {
    border-bottom: 2px solid #4277b8;
    margin-bottom: 40px;
    padding-bottom: 35px;
}

@media (max-height: 800px) {
    .catalog-showcase-item__header {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.accordion {
    margin-bottom: 7px;
}

.accordion:last-of-type {
    margin-bottom: 0;
}

.catalog-mobile-list-item {
    display: block;
    padding: 10px 15px;
    background: #4277b8;
    cursor: pointer;
    color: #fff;
}

.catalog-mobile-list-item:hover,
.catalog-mobile-list-item:focus,
.catalog-mobile-list-item:active {
    color: #fff;
}

.catalog-showcase-item-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
    color: #4277b8;
    line-height: 1;
    float: left;
}

.spinner {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

.options {
    white-space: nowrap;
    margin-top: 70px;
    float: left;
}

@media (max-height: 900px) {
    .options {
        margin-top: 20px;
    }
}

#options .textblock__content {
    padding: 0;
}

.option {
    background: #3963a6;
    color: #fff;
    padding: 15px 30px 15px;
    width: 744px;
    position: relative;
    margin-right: 30px;
    display: inline-block;
    overflow: hidden;
}

@media (max-width: 1290px) {
    .option {
        width: 720px;
    }
}

.option:last-of-type {
    margin-right: 0;
}

.option .btn {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    float: right;
    font-size: 18px;
}

.option .btn:hover {
    background-color: #fff;
    color: #3963a6;
}

.option__title {
    font-size: 46px;
    margin-bottom: 15px;
}

@media (max-height: 900px) {
    .option__title {
        font-size: 40px;
        margin-bottom: 5px;
    }
}

.option__stars {
    margin-bottom: 15px;
}

@media (max-height: 800px) {
    .option__stars {
        margin-bottom: 10px;
    }
}

.option__stars .star {
    width: 29px;
    display: inline-block;
    height: 28px;
    background: url("../img/star.png") center center/contain no-repeat;
    margin-right: 6px;
}

.option__stars .star:last-of-type {
    margin-right: 0;
}

.option__stars .star:after {
    background: #c0382a;
}

@media (max-height: 800px) {
    .option__stars .star {
        width: 25px;
        height: 25px;
    }
}

.option__params {
    display: inline-block;
}

.option__params .param {
    width: 175px;
    display: inline-block;
    vertical-align: middle;
}

.option__params .param__old-value {
    text-decoration: line-through;
    font-size: 20px;
}

@media (max-height: 800px) {
    .option__params .param__old-value {
        font-size: 18px;
    }
}

.option__params .param__new-value {
    font-size: 32px;
    line-height: 36px;
}

@media (max-height: 800px) {
    .option__params .param__new-value {
        font-size: 28px;
    }
}

.option:after {
    background-color: #c0382a;
    padding: 5px 0;
    width: 200px;
    text-align: center;
    content: 'Лучший выбор';
    font-size: 15px;
    position: absolute;
    top: 30px;
    right: -50px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.option--unavailable:before {
    content: '';
    top: 0;
    display: block;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e0e0e0;
    position: absolute;
}

.option--unavailable:after {
    content: '';
    width: 50px;
    height: 64px;
    padding: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    display: block;
    background: url("../img/lock.png");
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -25px;
}

.options-range {
    width: 100%;
    cursor: pointer;
    border: none;
    margin-top: 35px;
    height: 30px;
    display: inline-block;
}

@media (max-height: 800px) {
    .options-range {
        margin-top: 20px;
    }
}

input[type=range].options-range {
    -webkit-appearance: none;
    border: none;
    width: 100%;
}

input[type=range].options-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: #bec3c7;
    border: none;
}

input[type=range].options-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 225px;
    border-radius: 30px;
    background: #3963a6 url("../img/stripes.png") center center/12px 14px no-repeat;
    margin-top: -10px;
}

input[type=range].options-range:focus {
    outline: none;
}

input[type=range].options-range::-moz-range-track {
    width: 100%;
    height: 10px;
    background: #bec3c7;
    border: none;
}

input[type=range].options-range::-moz-range-thumb {
    border: none;
    height: 30px;
    width: 225px;
    border-radius: 30px;
    background: #3963a6 url("../img/stripes.png") center center/12px 14px no-repeat;
}

input[type=range].options-range:-moz-focusring {
    outline: 1px solid transparent;
    outline-offset: -1px;
}

input[type=range].options-range::-ms-track {
    width: 100%;
    height: 10px;
    background: #bec3c7;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent;
}

input[type=range].options-range::-ms-thumb {
    border: none;
    height: 30px;
    width: 225px;
    border-radius: 30px;
    background: #3963a6 url("../img/stripes.png") center center/12px 14px no-repeat;
}

.footer-timer {
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

input[type=range]:focus::-ms-fill-lower {
    background: #bec3c7;
}

input[type=range]:focus::-ms-fill-upper {
    background: #bec3c7;
}

input[type=range]::-ms-fill-lower {
    background: #bec3c7;
}

input[type=range]::-ms-fill-upper {
    background: #bec3c7;
}

.slide--swiped {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.winner {
    background-image: url("../img/winners_spritesheet.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 18px;
    margin-right: 10px;
}

.winner.winner--1 {
    background-position: 0 0;
}

.winner.winner--2 {
    background-position: -15px 0;
}

.winner.winner--3 {
    background-position: 0 -18px;
}

.winner.winner--4 {
    background-position: -15px -18px;
}

.winner.winner--5 {
    background-position: -30px 0;
}

.header__tel {
    color: #4277b8;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.header__tel > * {
    display: inline-block;
    vertical-align: middle;
}

.header__tel .fa {
    font-size: 32px;
    margin-right: 11px;
}

@media (max-width: 1450px) {
    .header__tel .fa {
        margin-right: 7px;
        font-size: 27px;
    }
}

.catalog__list {
    list-style: none;
    margin: 0;
    padding: 15px 0;
    background-color: rgba(66, 119, 184, 0.65);
}

.catalog-list-item {
    padding: 16px 0 16px 58px;
    display: block;
    margin: 0 -10px;
    color: #fff;
    background-color: transparent;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: background-color 0.2s ease;
}

.catalog-list-item:hover {
    background-color: rgba(66, 119, 184, 0.4);
}

.catalog-list-item.active {
    background-color: #4277b8;
    color: #fff;
}

.catalog-list-item > * {
    display: inline-block;
    vertical-align: middle;
}

.catalog-item-img {
    max-width: 380px;
    max-height: 225px;
    float: left;
    margin: 0 30px 30px 0;
}

.catalog-item-img:last-of-type {
    margin-bottom: 0;
}

.catalog-showcase-item-footer {
    color: #898989;
    margin-top: 40px;
}

.catalog-list-item__place {
    font-weight: bold;
    margin-right: 25px;
}

.frontpage__heading {
    display: none;
}

.catalog-mobile-showcase-item {
    padding: 10px 15px;
    background: #fff;
}

.catalog-mobile-showcase-item .catalog-item-img {
    float: none;
    max-width: 100%;
    width: auto;
    max-height: 300px;
    margin: 10px 0;
}

.catalog-mobile-showcase-item-heading {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 21px;
}

.catalog-mobile-showcase-item-heading_r {
    margin-bottom: 15px;
}

.frontpage__subheading {
    font-size: 53px;
    line-height: 1;
    margin-bottom: 65px;
    margin-top: -3px;
    position: relative;
    left: 25px;
}

@media (max-height: 710px) {
    .frontpage__subheading {
        margin-bottom: 35px;
    }
}

.frontpage__text {
    font-size: 25px;
    margin-bottom: 20px;
}

.underline--black-thick {
    box-shadow: 0 2px rgba(17, 17, 17, 0.3) !important;
}

.underline--black-thick:hover {
    box-shadow: 0 2px #111 !important;
}

.frontpage__logo {
    width: 1363px;
    height: 280px;
    position: relative;
    right: 40px;
}

@media (max-width: 1550px) {
    .frontpage__logo {
        width: 1100px;
        height: 226px;
        right: 20px;
    }
}

@media (max-width: 1290px) {
    .frontpage__logo {
        width: 950px;
        height: 195px;
        right: 15px;
    }
}

.frontpage-wrap-mobile {
    font-size: 44px;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
}

.frontpage-wrap-mobile * {
    font-family: 'Open Sans';
}

.frontpage__heading--mobile {
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: 800;
    line-height: 0.9;
}

.frontpage__subheading--mobile {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.fsvs-body--mobile {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

.fsvs-body--mobile > * {
    min-height: 100% !important;
    height: auto !important;
}

h4 {
    font-size: 24px;
    margin-bottom: 7px;
}

.header--mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100px;
    line-height: 100px;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    color: #4277b8;
}

.slick-slide {
    position: relative;
}

.slick-slide img {
    display: inline-block;
}

.footer {
    position: absolute;
    width: 100%;
    height: 53px;
    left: 0;
    bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease, transition 200ms 0s;
}

.footer.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease, transition 0s;
}

.footer__item {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.footer__item .btn-down {
    pointer-events: none;
}

.footer__item.active {
    opacity: 1;
}

.footer__item.active .btn-down {
    pointer-events: initial;
}

.footer__item {
    display: inline-block;
    text-align: center;
    width: 33.3%;
    vertical-align: middle;
}

.footer__item:first-of-type {
    float: left;
    text-align: left;
}

.footer__item:last-of-type {
    float: right;
    text-align: right;
}

.footer__item--btn-down {
    width: 100%;
}

.footer__wrap {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.fbfr-logo {
    width: 53px;
    height: 42px;
    background: url("../img/fbfr_logo.png") 0 0 no-repeat;
}

.footer--dark {
    color: #111;
}

.footer--dark .fbfr-logo {
    background-position: -53px 0;
}

.footer--dark .btn-down {
    background: url("../img/down.png") -40px 0 no-repeat;
}

.footer--dark .dimaneva-logo {
    background-position: -31px 0;
}

.footer--dark .underline {
    box-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.footer--dark .underline:hover {
    box-shadow: 0 1px #000;
}

.footer--dark .bbpro-logo {
    background-position: -38px 0;
}

.footer--dark .footer-timer {
    border: 1px solid #111;
    color: #111;
}

.footer--dark .footer-vk {
    background: url("../img/vk.png") -43px 0 no-repeat;
}

.action-link {
    color: #4277b8;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.action-link:hover,
.action-link:active,
.action-link:focus {
    color: #4277b8;
}

.action-link.underline {
    box-shadow: 0 1px rgba(66, 119, 184, 0.3);
}

.action-link.underline:hover {
    box-shadow: 0 1px #4277b8;
}

.btn {
    padding: 0;
    border: none;
    background-color: transparent;
    display: inline-block;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    color: #fff;
    padding: 12px 55px;
}

.btn:focus {
    outline: none !important;
}

.btn--accent {
    background-color: #4277b8;
    color: #fff;
}

.btn--accent:hover,
.btn--accent:focus {
    background-color: #4277b8;
    color: #fff;
}

.btn--contour {
    background-color: transparent;
    border: 2px solid rgba(66, 119, 184, 0.5);
    color: #4277b8;
}

.btn--contour:hover {
    background-color: #4277b8;
    color: #fff;
}

.btn--small {
    padding: 10px 28px;
}

.btn--accent-2 {
    background-color: #f1c40f;
    color: #111;
}

.btn--accent-2:hover {
    background-color: #f1b60f;
}

.btn-down {
    width: 40px;
    height: 40px;
    background: url("../img/down.png") 0 0 no-repeat;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    display: block;
    margin: 0 auto;
}

.btn-down.active {
    pointer-events: initial;
}

.btn-down:focus {
    outline: none;
}

.sidemenu-select {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #fff;
    margin-bottom: 20px;
    border-radius: 3px;
    background: transparent;
    color: #fff;
}

.sidemenu-select option {
    font-size: 1em;
}

.mobile-footer {
    font-size: 18px;
    color: #111;
    margin: 30px 0;
    text-align: center;
}

.btn-down--mobile {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -20px;
}

.sidemenu {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    width: 60%;
    padding: 20px;
    background-color: #4277b8;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.sidemenu.active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.sidemenu__list {
    padding: 0;
    list-style: none;
    margin: 50px 0 0 0;
}

.sidemenu__list li {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 5px;
}

.sidemenu__close {
    padding: 0;
    border: none;
    background: none;
    top: 20px;
    right: 10%;
    position: absolute;
    color: #fff;
    font-size: 42px;
}

.csstransforms .btn-down {
    -webkit-animation: slide-down 0.8s infinite;
    animation: slide-down 0.8s infinite;
}

.csstransforms .sponsors-slider {
    animation: sponsors-slider 5s linear infinite;
    -webkit-animation: sponsors-slider 5s linear infinite;
}

.dimaneva-logo {
    width: 31px;
    height: 31px;
    background: url("../img/dimaneva_logo.png") 0 0 no-repeat;
}

.bbpro-logo {
    width: 38px;
    height: 38px;
    background: url("../img/bbpro_logo.png") 0 0 no-repeat;
}

.author-img-mobile {
    position: absolute;
    right: 90px;
    bottom: 0;
}

.footer-timer {
    font-family: 'Arial';
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0px 18px;
    margin-left: 10px;
}

.slick-slide:focus {
    outline: none;
}

.loader-circle {
    width: 126px;
    height: 126px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    margin: auto;
}

.loader-circle img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.features-slider__loader {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease, transition 200ms 0s;
    height: 100%;
    bottom: 0;
}

.features-slider__loader.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease, transition 0s;
}

.sole-animation {
    background: url("../img/sole_anim.jpg") 0 0;
    height: 884px;
    width: 650px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease, transition 200ms 0s;
    position: absolute;
    bottom: 0;
}

.sole-animation.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease, transition 0s;
}

@media (max-width: 1290px) {
    .sole-animation {
        -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
        transform: translateX(100px);
    }
}

.family {
    position: absolute;
}

.family #circle {
    opacity: 0;
    transition: opacity 0s linear 0.5s;
}

.family img {
    position: absolute;
    left: 43%;
    opacity: 0;
    transition: opacity 0s linear 0.5s;
}

.family.active img {
    opacity: 1;
    transition: opacity 0.4s ease 1s;
}

.family.active #circle {
    -webkit-animation: 0.75s bounceIn 0.5s ease;
    animation: 0.75s bounceIn 0.5s ease;
    opacity: 1;
}

.fade-in {
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 0;
    width: 845px;
    height: 884px;
    opacity: 0;
    transition: all 1.2s ease 0.5s;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.fade-in.active {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.fade-in .slick-list,
.fade-in .slick-track,
.fade-in .slick-slide {
    height: 100%;
}

@media (max-width: 1720px) {
    .fade-in,
    .fade-in .slick-list,
    .fade-in .slick-track,
    .fade-in .slick-slide,
    .fade-in .internal-view,
    .fade-in .zoom-container,
    .fade-in .zoom-container img {
        width: 800px;
    }
}

@media (max-width: 1600px) {
    .fade-in,
    .fade-in .slick-list,
    .fade-in .slick-track,
    .fade-in .slick-slide,
    .fade-in .internal-view,
    .fade-in .zoom-container,
    .fade-in .zoom-container img {
        width: 700px;
    }
}

@media (max-width: 1450px) {
    .fade-in,
    .fade-in .slick-list,
    .fade-in .slick-track,
    .fade-in .slick-slide,
    .fade-in .internal-view,
    .fade-in .zoom-container,
    .fade-in .zoom-container img {
        width: 650px;
    }
}

@media (max-width: 1290px) {
    .fade-in,
    .fade-in .slick-list,
    .fade-in .slick-track,
    .fade-in .slick-slide,
    .fade-in .internal-view,
    .fade-in .zoom-container,
    .fade-in .zoom-container img {
        width: 550px;
    }
}

@media (max-width: 991px) {
    .fade-in,
    .fade-in .slick-list,
    .fade-in .slick-track,
    .fade-in .slick-slide,
    .fade-in .internal-view,
    .fade-in .zoom-container,
    .fade-in .zoom-container img {
        width: 350px;
    }
}

@media (max-width: 900px) {
    .fade-in,
    .fade-in .slick-list,
    .fade-in .slick-track,
    .fade-in .slick-slide,
    .fade-in .internal-view,
    .fade-in .zoom-container,
    .fade-in .zoom-container img {
        width: 250px;
    }
}

.internal-view {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.textblock__content {
    margin-bottom: 50px;
    padding-right: 110px;
    line-height: 25px;
}

@media (max-width: 1650px) {
    .textblock__content {
        padding-right: 0;
    }
}

.textblock__content:last-of-type {
    margin-bottom: 0;
}

.footer-vk {
    width: 43px;
    vertical-align: middle;
    margin-left: 20px;
    display: inline-block;
    height: 43px;
    background: url("../img/vk.png") 0 0 no-repeat;
}

.calendar-wrap {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: subpixel-antialiased;
}

.calendar-carousel {
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.slide__map {
    height: 550px;
    overflow: hidden;
}

#yandex-map,
#yandex-map-mobile {
    height: 100%;
}

#yandex-map-mobile {
    pointer-events: none;
}

.slide__contacts {
    padding-left: 55px;
}

.frontpage__subheading-small {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 44px;
}

.feedback-form {
    background-color: #fff;
    width: 880px;
    margin: 0 auto;
    padding: 50px 90px 60px;
}

@media (max-height: 800px) {
    .feedback-form {
        padding: 25px 90px 30px;
    }
}

.feedback-form .phone {
    font-size: 21px;
    font-weight: bold;
}

.mCS-blue-theme.mCSB_scrollTools .mCSB_dragger_bar {
    background-color: #fff;
    width: 100%;
}

.mCS-blue-theme.mCSB_scrollTools .mCSB_scrollTools {
    width: 20px;
    border-radius: 20px;
}

.mCS-blue-theme.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #3963a6;
    width: 100%;
}

.mCS-blue-theme-inverse.mCSB_scrollTools .mCSB_dragger_bar {
    background-color: #4277b8 !important;
    width: 100%;
}

.mCS-blue-theme-inverse.mCSB_scrollTools .mCSB_scrollTools {
    width: 20px;
    border-radius: 20px;
}

.mCS-blue-theme-inverse.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #edecea;
    width: 100%;
}

.sidescreen .mCS-blue-theme .mCSB_draggerContainer,
.sidescreen .mCS-blue-theme .mCSB_scrollTools {
    top: 88px;
    bottom: 88px;
}

.sidescreen .mCS-blue-theme .mCSB_container {
    padding: 53px 0 176px;
}

.sidescreen .mCS-blue-theme .mCSB_draggerContainer {
    top: 0;
}

.sidescreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    left: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.sidescreen.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.sidescreen .payment {
    background-color: #4277b8;
    color: #fff;
    padding-top: 150px;
}

.sidescreen button[data-btn-action="back"] {
    margin-bottom: 53px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.sidescreen h2 {
    margin-bottom: 60px;
    color: inherit;
}

.sidescreen .payment__sidemenu {
    margin-top: 167px;
    position: fixed;
    width: 258px;
}

@media (max-height: 800px) {
    .sidescreen .payment__sidemenu {
        margin-top: 100px;
    }
}

.sidescreen .payment__sidemenu:focus {
    outline: none;
    margin-top: 50px;
}

.sidescreen .sidemenu-title {
    font-weight: bold;
    cursor: pointer;
}

.sidescreen .sidemenu-list {
    padding: 0;
    margin: 0 0 30px 0;
}

.sidescreen li {
    padding-left: 22px;
    list-style: none;
    margin: 3px 0;
    cursor: pointer;
}

.sidescreen li.active {
    background-color: #fff;
    color: #4277b8;
}

.sidescreen .article {
    margin-bottom: 45px;
}

.sidescreen .article:last-of-type {
    margin-bottom: 0;
}

.sidescreen .article h3 {
    font-size: 26px;
    color: inherit;
    font-weight: bold;
    margin-bottom: 33px;
}

.sidescreen .article__subheading {
    font-size: 21px;
    margin: 44px 0 25px;
    font-weight: bold;
}

.sidescreen .article__subheading i {
    font-weight: normal;
}

.sidescreen .article__buttons {
    margin-bottom: 35px;
}

.sidescreen .article__buttons button {
    border-color: #fff;
    color: inherit;
    margin-right: 20px;
}

.sidescreen .article__buttons button:hover {
    background-color: #fff;
    color: #4277b8;
}

.sidescreen .article__content {
    line-height: 25px;
    padding-right: 30%;
}

@media (max-width: 1290px) {
    .sidescreen .article__content {
        padding-right: 15%;
    }
}

.sidescreen .payment,
.sidescreen .map {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0ms ease, transition 0ms 0s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sidescreen .payment.active,
.sidescreen .map.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0ms ease, transition 0s;
}

.btn--contour-small {
    padding: 3px 18px;
    border: 2px solid #4277b8;
    font-size: 16px;
}

.textblock-buttons--section {
    margin-top: 65px;
}

.map__sidemenu {
    width: 100px;
    float: left;
    height: 100%;
    text-align: center;
    background-color: #4277b8;
    color: #fff;
    position: relative;
    z-index: 1;
    transition: width 0.2s ease;
    word-wrap: nowrap;
    cursor: pointer;
}

.map__sidemenu button {
    width: 64px;
    height: 64px;
    border: none;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
    background: url("../img/direction196.png") center center/contain no-repeat;
}

.map__sidemenu:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.map__sidemenu:hover {
    width: 150px;
}

.map #map {
    margin-left: 100px;
    height: 100%;
}

.twentytwenty-finger-handle {
    background: none;
    border: none;
    padding: 0;
    display: inline-block;
    position: relative;
    margin: 20px 0 0 -32px;
}

.twentytwenty-finger-handle img {
    width: 64px;
    height: 64px;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
}

@-webkit-keyframes slide-down-3d {
    0% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
}

@media only screen and (max-width: 1820px) {
    .container {
        width: 1720px;
    }
}

@media only screen and (max-width: 1750px) {
    .container {
        width: auto;
        padding: 0 30px;
    }
    .row {
        margin: 0 -30px;
    }
    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1650px) {
    .header__btn {
        margin-right: 20px;
    }
    .about-offset,
    .technologies-offset {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 1550px) {
    .frontpage__heading {
        font-size: 90px;
    }
    .frontpage__subheading {
        font-size: 55px;
    }
    .header-title {
        font-size: 22px;
        margin-left: 10px;
    }
    .footer {
        font-size: 12px;
    }
    .header {
        font-size: 17px;
    }
    .header__btn {
        padding: 0 18px;
    }
}

@media only screen and (max-width: 1450px) {
    .btn-general {
        font-size: 18px;
    }
    .frontpage__heading {
        font-size: 80px;
    }
    .frontpage__subheading {
        font-size: 50px;
    }
    .footer {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1380px) {
    .catalog-intro-bootstrap-wrap {
        width: 66.666%;
    }
    body {
        font-size: 15px;
    }
    .catalog-list-item {
        padding: 16px 0 16px 30px;
    }
    .catalog-showcase-item-heading {
        font-size: 30px;
    }
    .catalog-item-place {
        font-size: 28px;
    }
    .header__logo img {
        height: 30px;
    }
}

@media only screen and (max-width: 1290px) {
    .header {
        font-size: 16px;
    }
    .header__logo img {
        height: 30px;
    }
    .header__btn {
        font-size: 15px;
    }
    .header__tel .fa {
        margin-right: 2px;
        font-size: 23px;
    }
    .header__nav {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1199px) {
    .header__hamburger {
        display: inline-block;
    }
    .header {
        font-size: 14px;
    }
    .header__btn {
        font-size: inherit;
    }
    .header__btn,
    .header__tel {
        margin-right: 20px;
        font-size: 16px;
    }
    .header__nav {
        display: none;
    }
    .frontpage__logo {
        width: 850px;
        height: 175px;
        right: 10px;
    }
    h2,
    .emphasize {
        line-height: normal !important;
    }
    h2 {
        font-size: 36px;
        margin: 10px 0;
    }
    .emphasize {
        font-size: 42px !important;
    }
    .textblock__content {
        margin-bottom: 20px;
    }
    .textblock-heading {
        margin-bottom: 15px;
    }
    .textblock-buttons {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        width: 750px;
    }
    .article__buttons button {
        width: 100%;
        display: block;
        margin-bottom: 7px;
    }
    .article__buttons button:last-of-type {
        margin-bottom: 0;
    }
    .sidescreen .payment__sidemenu {
        position: static;
        width: auto;
        margin: 50px 0 0 0;
    }
    .sidemenu-list {
        display: none;
    }
    .sidemenu-title {
        padding: 10px;
        display: inline-block;
    }
    .catalog-showcase-item-heading {
        font-size: 24px;
    }
    .frontpage__logo {
        width: 700px;
        height: 144px;
        right: 0;
    }
    .frontpage__subheading {
        font-size: 42px;
        left: 0;
    }
    .btn {
        padding: 6px 10px;
        font-size: 15px !important;
    }
    .slide[data-anchor=frontpage] .btn {
        font-size: 17px;
    }
    .sole-animation {
        width: 350px !important;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .textblock__buttons button {
        margin-right: 5px;
    }
    .catalog-showcase-item__header {
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    .catalog-showcase-item {
        padding: 30px 35px;
    }
    .catalog-list-item {
        font-size: 14px;
        padding: 12px 0 12px 30px;
    }
    .feedback-form {
        width: auto;
    }
    .form-fields input,
    .form-fields textarea {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 900px) {
    .sole-animation {
        width: 250px !important;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: auto;
    }
    .map #map {
        margin-left: 15%;
    }
    .map__sidemenu {
        width: 15%;
    }
    .map__sidemenu button {
        width: 32px;
        height: 32px;
    }
    .map__sidemenu:hover {
        width: 15%;
    }
    .header {
        position: fixed;
        padding: 5px 0 !important;
    }
    .sidemenu__list {
        margin: 30px 0 0;
    }
    .sidemenu li {
        font-size: 15px;
    }
    .sidemenu__close {
        font-size: 27px;
    }
    .textblock-heading {
        font-size: 21px;
    }
    .feedback-form {
        padding: 40px 30px;
    }
    .option {
        width: auto;
        float: left;
    }
    .option__params {
        margin-bottom: 15px;
    }
    .option__params .param {
        width: auto;
        display: block;
    }
    .option .btn {
        float: none;
        display: block;
        width: 100%;
    }
    .option:after {
        display: none;
    }
    .btn {
        font-size: 18px !important;
    }
    .textblock-buttons>:first-child {
        margin-bottom: 0;
    }
    .slide[data-anchor=frontpage] .btn {
        background: #f1c40f;
        color: #111;
        border: none;
        font-size: 24px;
    }
    .slide[data-anchor=frontpage] .btn:hover,
    .slide[data-anchor=frontpage] .btn:focus {
        background: #f1c40f;
        color: #111;
    }
    .slide {
        padding: 30px 0 !important;
    }
    .slide[data-anchor=about] {
        padding-bottom: 0 !important;
    }
    .slide:last-of-type {
        padding-bottom: 0 !important;
    }
    .form-fields input[type=text] {
        margin-bottom: 10px;
    }
    h2 {
        margin-top: 0;
    }
    .btn {
        padding: 12px 21px;
        font-size: 18px;
    }
    .action-link {
        font-size: 18px;
    }
    [data-btn-slide] {
        width: 49%;
        margin: 0 !important;
    }
    [data-btn-slide]:last-of-type {
        float: right;
    }
    .features-slider-mobile {
        height: 650px;
        margin-bottom: 30px;
        width: 100%;
    }
    .features-slider-mobile .sole-animation {
        background: url("../img/sole_anim650.jpg") center 0 no-repeat;
        background-position-x: center !important;
        width: 100% !important;
        height: 100%;
        position: static;
    }
    .features-slider-mobile .slick-list,
    .features-slider-mobile .slick-track,
    .features-slider-mobile .slick-slide {
        height: 100%;
    }
    .frontpage__logo {
        width: 450px;
        height: 93px;
    }
    .frontpage__subheading {
        font-size: 27px;
    }
    [data-anchor=frontpage] {
        height: 100vh;
    }
    .family {
        position: relative;
        left: auto !important;
        right: auto !important;
        text-align: center;
        margin-top: 50px;
    }
    .family img {
        left: 50%;
    }
    [data-anchor=about] .vc-content {
        height: auto !important;
        margin: 0 !important;
    }
    [data-anchor=about] .vc-content:after {
        display: none;
    }
}

@media only screen and (max-width: 610px) {
    .header__btn {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .swipe-down img {
        width: 42px;
        height: 42px;
    }
    .feedback-form {
        padding: 20px 15px;
    }
    .sidemenu__btn {
        margin-top: 10px;
        width: 100%;
        padding: 0;
        text-align: center;
        font-size: 15px;
    }
    h2 {
        font-size: 28px !important;
    }
    .header__tel {
        display: none;
    }
    .header__tel--mobile {
        display: block;
        color: #fff;
        font-size: inherit;
    }
    .header__tel--mobile .fa {
        margin-right: 7px;
    }
    .sidemenu {
        padding: 10px;
        font-size: 13px;
    }
    .sidemenu__list,
    .sidemenu li {
        font-size: inherit;
    }
    .sidemenu__btn {
        font-size: 16px;
    }
    .features-slider-mobile {
        height: 435px;
        margin-top: 100px;
    }
    .features-slider-mobile .sole-animation {
        background: url("../img/sole_anim436.jpg") center 0 no-repeat;
    }
    .frontpage__logo {
        width: 300px;
        height: 62px;
    }
    .frontpage__subheading {
        font-size: 18px;
    }
    [data-btn-slide] {
        float: none;
        width: 100%;
    }
    [data-btn-slide]:first-child {
        margin-bottom: 7px !important;
    }
}

@media only screen and (max-height: 1000px) {
    .header {
        padding: 10px 0;
    }
}


/*====================================
=            Media Height            =
====================================*/

@media only screen and (max-height: 1025px) {
    .textblock-buttons {
        margin-top: 15px;
    }
    .textblock__content {
        margin-bottom: 35px;
    }
}

@media only screen and (max-height: 950px) {
    h2 {
        margin-bottom: 15px;
        font-size: 40px;
    }
}

@media only screen and (max-height: 950px),
screen and (max-width: 1060px) {
    .sole-animation {
        background: url("../img/sole_anim650.jpg") 0 0;
        height: 650px;
        width: 478px;
    }
}

@media only screen and (max-height: 800px) {
    .textblock-heading {
        margin-bottom: 15px;
    }
    body {
        font-size: 15px;
    }
    .textblock-inner-heading {
        margin: 0;
    }
    .textblock__author {
        margin-top: 15px;
        padding-top: 10px;
    }
}

@media only screen and (max-height: 767px) {
    h4 {
        font-size: 16px;
        margin-bottom: 2px;
    }
    h4 .frontpage-wrap {
        bottom: 0;
    }
    h4 .textblock__buttons {
        margin-top: 20px;
    }
}

@media only screen and (max-height: 440px) {
    .slide[data-anchor=frontpage] {
        height: 560px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
}


/*=====  End of Media Height  ======*/

@-webkit-keyframes scroll-down {
    from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        -webkit-transform: translate(0, -60px);
        transform: translate(0, -60px);
        opacity: 0;
    }
}

@keyframes scroll-down {
    from {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        -webkit-transform: translate(0, -60px);
        transform: translate(0, -60px);
        opacity: 0;
    }
}

@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
    75% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
    75% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes bounceIn3d {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    75% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn3d {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    75% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
}

@-webkit-keyframes slide-down-3d {
    0% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes slide-down-3d {
    0% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
}
