.select {
  color: white;
  background-color: #555b61;
  border-radius: 20px;
  font-size: 16px;
  padding: 8px 20px;
  border: none;
  outline: none;
  appearance: none;
  height: fit-content;
  width: 240px;
  margin: 0 15px;
  font-family: 'ROBOTO CONDENSED';
  &:focus {
    box-shadow: 0 0 0 2px #00b8d4;
  }
}
