h4, p {
	margin: 0;
}


.clearfix {
	clear: both;
}

header {
	position: relative;
	top: 128px;
	.logo {
		position: relative;
		left: 86px;
		float: left;
	}

	.contact-us {
		float: right;
		position: relative;
		right: 125px;
		h4 {
			font-family: Roboto;
			color:  #0085c3;
			font-size: 16px;
			font-weight: 400;
			text-align: right;
		}
		.tel {
			font-family: Roboto;
			color:  #353535;
			font-size: 36px;
			font-weight: 400;
		}
	}
}

.main-content {
	position: relative;
	top: 156px;
	.carousel {
		width: 82%;
		display: inline-block;
		float: left;
		.slide-1 {
			background-image: url(../img/slide_1.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 756px;
		}

		.slide-2 {
			background-image: url(../img/slide_2.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 756px;
		}

		.slide-3 {
			background-image: url(../img/slide_3.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 756px;
		}

		.slide-4 {
			background-image: url(../img/slide_4.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 756px;
		}

		.slide-5 {
			background-image: url(../img/slide_5.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 756px;
		}

		.slick-dots {
			bottom: 5px;
			left: 68%;
			width: initial;
			li {
				width: 16px;
				height: 18px;
				background-color:  rgba(255, 255, 255, 0.4);
				border-radius:50%;
				margin: 0 7px;

				button {
					height: 100%;
					width: 100%;
				}

				button:before {
					content:'';
					width: 0;
					height: 0;
				}
			}
			li.slick-active {
				background-color:  rgba(255, 255, 255, 0.7);
			}
		}
	}

	.carousel > button {
		position: absolute;
		top: 313px;
		background-size: cover;
		background-repeat: no-repeat;
		width: 43px;
		height: 87px;
		outline:0;
		background-color:transparent;
		border:0;
		opacity: 0.8;
		transition: opacity .2s ease;
	}

	.carousel > button:hover {
		opacity: 1;
	}

	.carousel > button.prev {
		background-image: url(../img/arrow_left.png);
		left: 10px;
	}

	.carousel > button.next {
		background-image: url(../img/arrow_right.png);
		right: 10px;
	}

	.form {
		width: 17%;
		display: inline-block;
		height: 756px;
		float: left;

		.heading {
			height: 142px;
			background-color:#1b1b1b;
			position: relative;
			z-index: 2;
			.wrapper {
				width: 270px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%, -50%);
			}
			h4 {
				font-family: Roboto;
				color:  #ffffff;
				font-size: 25px;
				font-weight: 700;
				line-height: 20px;
				position: relative;
				bottom: 8px;
			}

			p {
				font-family: Roboto;
				color:  #ffffff;
				font-size: 16px;
				font-weight: 400;
				line-height: 18px;
				position: relative;
				top: 10px;
			}
		}

		form {
			height: 614px;
			background-color:  #008fc3;
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
			position: relative;
			.wrapper {
				width: 265px;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				height: 557px;
				margin: auto;
				input, textarea {
					font-family: Arial;
					color:  #838488;
					font-size: 14px;
					font-weight: 400;
					line-height: 12.458px;
					box-sizing:border-box;
				}

				input {
					width: 100%;
					height: 45px;
					margin: 6px 0;
					border: 0;
					padding: 0;
				}

				input:first-of-type {
					margin-top: 0;
				}

				textarea {
					width: 100%;
					margin-top: 6px;
					height: 123px;
					border: 0;
					padding: 0;

				}

			}
		}

		.heading:after, .heading:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		.heading:after {
			border-color: rgba(27, 27, 27, 0);
			border-top-color: #1b1b1b;
			border-width: 10px;
			margin-left: -10px;
		}
		.heading:before {
			border-color: rgba(0, 0, 0, 0);
			border-width: 16px;
			margin-left: -16px;
		}
	}
}