html{
  overflow-x: hidden;
}
body {
  max-width: 2000px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
}

h4, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.clearfix {
  clear: both;
}

header {
  padding-top: 50px;
}
header .logo {
  margin-left: 86px;
  float: left;
}
header .contact-us {
  float: right;
  position: relative;
  right: 125px;
}
header .contact-us h4 {
  font-family: Roboto;
  color: #0085c3;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}
header .contact-us .tel {
  font-family: Roboto;
  color: #353535;
  font-size: 36px;
  font-weight: 400;
}

.main-content {
  margin-top: 30px;
}
.main-content .carousel {
  width: 82%;
  float: left;
  position: relative;
  margin-bottom: 0;
}
.main-content .carousel .slide {
  background-size: cover;
  background-repeat: no-repeat;
  height: 756px;
  background-position: 0px -1px;
}
.main-content .carousel .slide-1 {
  background-image: url(../img/slide_1.png);
}
.main-content .carousel .slide-2 {
  background-image: url(../img/slide_2.png);
}
.main-content .carousel .slide-3 {
  background-image: url(../img/slide_3.png);
}
.main-content .carousel .slide-4 {
  background-image: url(../img/slide_4.png);
}
.main-content .carousel .slide-5 {
  background-image: url(../img/slide_5.png);
}
.main-content .carousel .slick-dots {
  bottom: 27px;
  left: 68%;
  width: 160px;
  z-index: 2;
  margin: 0;
}
.main-content .carousel .slick-dots li {
  width: 16px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin: 0 7px;
}
.main-content .carousel .slick-dots li button {
  height: 100%;
  width: 100%;
}
.main-content .carousel .slick-dots li button:before {
  content: '';
  width: 0;
  height: 0;
}
.main-content .carousel .slick-dots li.slick-active {
  background-color: rgba(255, 255, 255, 0.7);
}
.main-content .carousel .caption {
  height: 72px;
  width: 100%;
  background-color: rgba(29, 29, 29, 0.95);
  position: absolute;
  bottom: 0;
}
.main-content .carousel .caption:after {
  bottom: 100%;
  left: 606px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba(29, 29, 29, 0.95);
  border-width: 20px;
  margin-left: -31px;
}
.main-content .carousel .caption span {
  font-family: Roboto;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  line-height: 72px;
  padding-left: 85px;
}
.main-content .carousel > button {
  position: absolute;
  top: 313px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 43px;
  height: 87px;
  outline: 0;
  background-color: transparent;
  border: 0;
  opacity: 0.8;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
.main-content .carousel > button:hover {
  opacity: 1;
}
.main-content .carousel > button.prev {
  background-image: url(../img/arrow_left.png);
  left: 10px;
}
.main-content .carousel > button.next {
  background-image: url(../img/arrow_right.png);
  right: 10px;
}
.main-content .form {
  width: 328px;
  height: 756px;
  float: left;
}
.main-content .form .heading {
  height: 142px;
  background-color: #1b1b1b;
  position: relative;
  z-index: 2;
}
.main-content .form .heading .wrapper {
  width: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main-content .form .heading h4 {
  font-family: Roboto;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  bottom: 8px;
}
.main-content .form .heading p {
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  top: 10px;
}
.main-content .form form {
  height: 614px;
  background-color: #008fc3;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  position: relative;
}
.main-content .form form .wrapper {
  width: 265px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 557px;
  margin: auto;
}
.main-content .form form .wrapper input, .main-content .form form .wrapper textarea {
  font-family: Arial;
  color: #353535;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 16px;
}
.main-content .form form .wrapper input {
  width: 100%;
  height: 45px;
  margin: 6px 0;
  border: 0;
}
.main-content .form form .wrapper input:first-of-type {
  margin-top: 0;
}
.main-content .form form .wrapper textarea {
  width: 100%;
  margin-top: 7px;
  height: 123px;
  border: 0;
}
.main-content .form form .wrapper .stripe {
  height: 3px;
  width: 100%;
  background-color: #30a2cc;
  margin: 18px 0;
}
.main-content .form form .wrapper input[type="submit"] {
  background-color: #ffcb08;
  width: 177px;
  height: 42px;
  font-family: Roboto;
  color: #353535;
  font-size: 17px;
  font-weight: 700;
  padding: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  border-radius: 20px;
  opacity: 0.8;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
.main-content .form form .wrapper input[type="submit"]:hover {
  opacity: 1;
}
.main-content .form .heading:after, .main-content .form .heading:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.main-content .form .heading:after {
  border-color: rgba(27, 27, 27, 0);
  border-top-color: #1b1b1b;
  border-width: 10px;
  margin-left: -10px;
}
.main-content .form .heading:before {
  border-color: transparent;
  border-width: 16px;
  margin-left: -16px;
}

.arguments {
  margin-top: 55px;
  margin-left: 105px;
  float: left;
}
.arguments .row {
  height: 300px;
}
.arguments .row .item {
  float: left;
  width: 612px;
  height: 100%;
  position: relative;
}
.arguments .row .item .stripe {
  width: 100%;
  height: 4px;
  background-color: #f8f8f8;
  position: absolute;
}
.arguments .row .item .pic {
  float: left;
  width: 94px;
  height: 94px;
  border-radius: 50%;
}
.arguments .row .item p, .arguments .row .item h4 {
  width: 495px;
  float: right;
}
.arguments .row .item h4 {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
}
.arguments .row .item p {
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  line-height: 20px;
}
.arguments .row .money .stripe, .arguments .row .think .stripe {
  top: 270px;
}
.arguments .row .floor .stripe, .arguments .row .engineering .stripe {
  top: 250px;
}
.arguments .row .item:nth-last-child(2) {
  margin-left: 112px;
}
.arguments .row .money .pic {
  background-color: #009a3d;
  background-image: url(../img/money.png);
  background-repeat: no-repeat;
  background-size: 48px 46px;
  background-position: center center;
}
.arguments .row .money h4 {
  color: #009a3d;
}
.arguments .row .floor .pic, .arguments .row .warranty .pic, .arguments .row .engineering .pic, .arguments .row .experience .pic {
  background-color: #0085c3;
}
.arguments .row .floor h4, .arguments .row .warranty h4, .arguments .row .engineering h4, .arguments .row .experience h4 {
  color: #0085c3;
}
.arguments .row .think .pic {
  background-color: #353535;
}
.arguments .row .think h4 {
  color: #353535;
}
.arguments .row .floor .pic {
  background-image: url(../img/arrows.png);
  background-repeat: no-repeat;
  background-size: 39px 39px;
  background-position: center center;
}
.arguments .row .warranty .pic {
  background-image: url(../img/warranty.png);
  background-repeat: no-repeat;
  background-size: 135px 113px;
  background-position: center center;
}
.arguments .row .engineering .pic {
  background-image: url(../img/engineering.png);
  background-repeat: no-repeat;
  background-size: 32px 54px;
  background-position: center center;
}
.arguments .row .experience .pic {
  background-image: url(../img/experience.png);
  background-repeat: no-repeat;
  background-size: 90px 55px;
  background-position: center center;
}
.arguments .row .think .pic {
  background-image: url(../img/think.png);
  background-repeat: no-repeat;
  background-size: 84px 33px;
  background-position: center center;
}

.contact {
  float: left;
  width: 280px;
  margin-top: 40px;
  margin-left: 145px;
}
.contact h4 {
  font-family: Roboto;
  color: #353535;
  font-size: 25px;
  font-weight: 700;
  width: 230px;
  line-height: 30px;
  display: inline-block;
}
.contact .name {
  font-family: Roboto;
  color: #353535;
  font-size: 20px;
  font-weight: 700;
}
.contact .position {
  font-family: Roboto;
  color: #353535;
  font-size: 16px;
  font-weight: 700;
}
.contact .phone {
  font-family: Roboto;
  color: #747474;
  font-size: 16px;
  font-weight: 700;
}
.contact .email {
  font-family: Roboto;
  color: #0085c3;
  font-size: 16px;
  font-weight: 400;
}
.contact img {
  width: 84px;
  float: left;
}
.contact .contact__info {
  float: right;
}
.contact .wrapper {
  margin-top: 30px;
}
.contact .contacts {
  margin-top: 10px;
}
.contact .stripe {
  width: 323px;
  height: 3px;
  background-color: #353535;
  margin-top: 40px;
  margin-left: -10px;
}

.small {
  display: none;
}

@media only screen and (max-width: 1920px) {
  .contact {
    float: right;
    margin-left: 0;
    margin-right: 33px;
  }
}
@media only screen and (max-width: 1830px) {
  .arguments .row .item:nth-last-child(2) {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 1760px) {
  .arguments .row .item p, .arguments .row .item h4 {
    width: 75%;
    float: left;
    margin-left: 20px;
  }

  .arguments .row .item {
    width: 550px;
  }

  .row:not(:nth-last-child(1)) {
    margin-bottom: 90px;
  }

  .arguments .row .money .stripe, .arguments .row .think .stripe {
    top: 310px;
  }

  .arguments .row {
    height: auto;
  }
}
@media only screen and (max-width: 1610px) {
  .arguments {
    margin-left: 50px;
  }

  .arguments .row .item {
    width: 480px;
  }

  .row:not(:nth-last-child(1)) {
    margin-bottom: 100px;
  }

  .arguments .row .money .stripe, .arguments .row .think .stripe {
    top: 390px;
  }

  .arguments .row .floor .stripe, .arguments .row .engineering .stripe {
    top: 275px;
  }
}
@media only screen and (max-width: 1500px) {
  .contact {
    display: block;
    float: none;
    width: 430px;
    margin: 100px auto 0;
    text-align: center;
  }
  .contact .stripe {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
    margin-top: 15px;
  }

  .contact h4 {
    width: initial;
  }

  .clearfix.small {
    display: block;
  }

  .main-content .carousel .caption span {
    padding-left: 10px;
    font-size: 24px;
  }

  .main-content .carousel .slick-dots {
    left: 80%;
  }

  .arguments {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    float: none;
    margin-left: 0;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1210px) {
  .main-content .carousel .slick-dots {
    left: 70%;
  }
}
@media only screen and (max-width: 1100px) {
  .main-content .carousel > button {
    top: 220px;
  }

  .main-content .carousel .slide {
    height: 515px;
  }

  .arguments .row .item {
    display: inline-block;
  }

  .main-content .carousel {
    display: block;
    float: none;
    width: 100% !important;
  }

  .main-content .carousel .caption:after {
    left: 460px;
  }

  .main-content .form {
    width: 100%;
    display: block;
    float: none;
  }

  .main-content .form .heading .wrapper {
    width: 100%;
    text-align: center;
  }

  .main-content .form form .wrapper {
    width: 50%;
  }

  .main-content .form form .wrapper input[type="submit"] {
    width: 80%;
    height: 50px;
    font-size: 24px;
    border-radius: 30px;
  }

  .stripe.small {
    display: block;
  }

  .arguments {
    display: block;
    float: none;
    text-align: center;
  }

  .arguments .row .item {
    float: none;
    margin: 0;
    width: 80%;
  }

  .arguments .row .item:nth-last-child(2), .row:not(:nth-last-child(1)) {
    margin: 0;
  }

  .arguments .row .item .pic {
    display: block;
    float: none;
    margin: 10px auto;
  }

  .arguments .row .item p, .arguments .row .item h4 {
    float: none;
    margin: 0;
    text-align: justify;
    display: inline-block;
  }

  .arguments .row .item h4 {
    text-align: center;
  }

  .arguments .row .item .stripe {
    width: 80%;
    margin: 70px 0;
    display: inline-block;
    position: static;
  }

  header .contact-us, header .logo {
    display: block;
    float: none;
    position: static;
    text-align: center;
    margin: 0;
  }

  header .contact-us h4 {
    text-align: center;
  }

  header .contact-us {
    margin-top: 50px;
  }

  .arguments .row .item h4 {
    margin: 30px;
  }
}
@media only screen and (max-width: 950px) {
  .main-content .carousel > button {
    top: 150px;
  }

  .main-content .carousel .slide {
    height: 430px;
  }
}
@media only screen and (max-width: 750px) {

  .main-content .carousel>button {
    top: 120px;
  }

  .main-content .carousel .caption span {
    line-height: 60px;
  }


  .main-content .carousel .slide {
    height: 340px;
  }

  .main-content .carousel .caption {
    text-align: left;
    height: 60px;
  }

  .main-content .carousel .slick-dots {
    right: 50px;
    left: initial;
    bottom: 21px;
  }

  .main-content .carousel .caption:after {
    left: 300px;
  }

  .logo img {
    width: 80%;
  }

  .main-content .carousel .caption span {
    font-size: 14px;
  }

  .main-content .form form .wrapper {
    width: 90%;
  }

  .contact {
    width: 300px;
  }

  .main-content .form .heading h4 {
    font-size: 20px;
  }

  .main-content .form .heading p {
    font-size: 11px;
  }

  .arguments .row .item p {
    font-size: 14px;
  }

  .main-content .form .heading .wrapper, .arguments .row .item {
    width: 90%;
  }

  .main-content .carousel > button {
    width: 26px;
    height: 53px;
  }
}
@media only screen and (max-width: 530px) {
  .main-content .carousel .caption {
    text-align: center;
  }
  .main-content .carousel .caption span {
    padding: 0;
  }

  .main-content .carousel .slick-dots {
    width: 100%;
    left: 0;
    bottom: 10px;
  }

  .main-content .carousel .slick-dots li {
    width: 11px;
    height: 11px;
  }

  .main-content .carousel .caption span {
    line-height: 42px;
  }

  .main-content .carousel .caption:after {
    left: 200px;
    border-width: 15px;
  }

  .main-content .carousel .slide {
    height: 250px;
  }

  .main-content .carousel > button {
    top: 100px;
  }
}
