body {
  color: #000;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #0c1b21;
}
ul,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  box-sizing: content-box;
  padding: 0 30px;
}
h1 {
  font-size: 49px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 45px;
}
h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 800;
  font-family: 'Roboto Condensed';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
h3 {
  letter-spacing: -1px;
  font-weight: 600;
}
.header {
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.3);
}
.header__btn {
  float: right;
  height: 52px;
  margin-right: 50px;
}
.header__btn:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 0;
}
.header__btn .btn {
  padding: 6px 20px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.035em;
  border-radius: 5px;
}
.header__logo {
  height: 91px;
  width: 91px;
  display: inline-block;
  vertical-align: top;
  background: #fff url("../img/header_logo.jpg") center center/65px 69px no-repeat;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 10px -3px rgba(0,0,0,0.3);
}
.header__nav {
  font-weight: 900;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  line-height: 52px;
}
.header__nav li {
  padding: 0 17px;
  display: inline-block;
  letter-spacing: 0.162em;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}
.header__nav li:hover,
.header__nav li.active {
  background: #68b85f;
  color: #fff;
}
.header__desc {
  float: right;
  font-weight: 300;
  font-size: 11px;
  color: #070707;
  height: 52px;
  white-space: nowrap;
}
.header__desc p {
  white-space: normal;
  text-align: right;
  letter-spacing: 0.05em;
  line-height: 12px;
}
.header__desc:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 0;
}
.header--scroll {
  transition: margin 0.2s ease, visibility 0s 0.2s, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, margin 0.2s ease, visibility 0s 0.2s;
  transition: transform 0.2s ease, margin 0.2s ease, visibility 0s 0.2s, -webkit-transform 0.2s ease;
  margin-top: -52px;
  position: fixed;
  visibility: hidden;
}
.header--scroll.active {
  visibility: visible;
  margin-top: 0;
  transition: margin 0.2s ease, visibility 0s, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, margin 0.2s ease, visibility 0s;
  transition: transform 0.2s ease, margin 0.2s ease, visibility 0s, -webkit-transform 0.2s ease;
}
.csstransforms .header--scroll {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  margin-top: 0 !important;
}
.csstransforms .header--scroll.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.showcase {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("../img/showcase_bg.jpg") center center/cover no-repeat;
}
.showcase__video-ended {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(20,145,220,0.97);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0s 0.2s ease;
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.showcase__video-ended.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s ease;
}
.showcase__video-ended ul {
  display: inline-block;
  vertical-align: middle;
}
.showcase__video-ended ul li {
  list-style: none;
  margin-right: 18px;
  display: inline-block;
  padding: 18px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.2s ease;
}
.showcase__video-ended ul li:last-of-type {
  margin-right: 0;
}
.showcase__video-ended ul li:hover {
  border-color: #fff;
  cursor: pointer;
}
.showcase__video-ended ul li span {
  margin-right: 13px;
}
.showcase__video-ended:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.showcase__string {
  position: absolute;
  right: 208px;
  bottom: 139px;
}
.showcase__map {
  position: absolute;
  top: 205px;
  right: 15px;
}
.showcase__heading {
  position: absolute;
  top: 21px;
  right: 50px;
  text-align: right;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
}
.showcase:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 0;
}
.showcase__video {
  background: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  z-index: 2;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
}
.showcase__video #showcase-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.showcase__video #showcase-video video {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 100%;
  width: auto;
  height: auto;
  min-height: 100%;
}
.showcase__video.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0s;
}
.showcase__logo,
.showcase__map,
.showcase .play {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.showcase-logo-container {
  position: absolute;
  top: 18px;
  left: 33px;
  width: 100%;
  z-index: 1;
}
.showcase-logo-container .play {
  position: absolute;
  top: 342px;
  right: 123px;
}
.showcase-subheading {
  color: rgba(16,16,16,0.75);
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.ghost {
  display: inline-block;
  vertical-align: middle;
}
.showcase-wrapper {
  top: 50%;
  position: relative;
}
span.red {
  color: #d41334;
}
span.green {
  color: #68b85f;
}
.play {
  background: none;
}
.play:focus {
  outline: none;
}
.welcome {
  text-align: center;
  padding: 72px 0 78px;
}
.welcome__btns {
  margin-top: 35px;
}
.welcome__btns button {
  margin: 0 2px;
}
.welcome__description button {
  color: #68b85f;
  background: none;
}
.welcome__description button:focus {
  outline: none;
}
.btn {
  color: #fff;
  border-radius: 4px;
  letter-spacing: 0.05em;
  padding: 14px 44px;
  font-weight: bold;
  font-size: 17px;
  transition: background 0.2s ease;
}
.btn:focus,
.btn:active,
.btn:hover {
  color: #fff;
}
.btn--green {
  background: #68b85f;
}
.btn--green:hover {
  background: #4d9b45;
}
.btn--red {
  background: #d20a2d;
}
.btn--red:hover {
  background: #a80824;
}
.delimiter {
  position: relative;
  line-height: 0;
  margin: 38px 0 44px;
}
.delimiter .stripe {
  width: 100%;
  left: 0;
  height: 1px;
  background-color: #000;
  background: linear-gradient(90deg, #68b85f 4px, #fff 2px);
  background-size: 6px 100%;
  background-repeat: repeat-x;
  top: 50%;
  position: absolute;
}
.delimiter span {
  position: relative;
  width: 33px;
  height: 33px;
  background: #68b85f;
  border-radius: 50%;
  display: inline-block;
}
.delimiter span i {
  color: #fff;
  line-height: 33px;
  font-size: 16px;
}
.heroes {
  overflow-x: hidden;
}
.heroes,
.heroes-carousel {
  background: url("../img/pattern.jpg") center center/cover no-repeat;
}
.heroes__bg,
.heroes-carousel__bg {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -20px;
  left: 0;
  background: rgba(0,164,227,0.88);
  transition: opacity 0.2s ease, visibility 0s 0.2s;
  z-index: 2;
}
.heroes__bg.active,
.heroes-carousel__bg.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s;
}
.heroes__images,
.heroes-carousel__images {
  height: 575px;
  position: relative;
  margin-bottom: -102px;
  text-align: center;
}
.heroes__images #north_people_img,
.heroes-carousel__images #north_people_img {
  position: relative;
  z-index: 1;
  bottom: 10px;
  right: 13px;
}
.heroes__btns,
.heroes-carousel__btns {
  text-align: center;
  padding: 38px 0;
}
.heroes__names,
.heroes-carousel__names {
  height: 85px;
  background: url("../img/waves.png") 0 0/cover repeat-x;
  position: relative;
  z-index: 3;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}
.heroes__names ul,
.heroes-carousel__names ul {
  text-align: center;
  line-height: 89px;
}
.heroes__names li,
.heroes-carousel__names li {
  display: inline-block;
  cursor: pointer;
}
.heroes__names li:nth-child(1),
.heroes-carousel__names li:nth-child(1) {
  margin-right: 77px;
}
.heroes__names li:nth-child(2),
.heroes-carousel__names li:nth-child(2) {
  margin-right: 274px;
}
.heroes__names li:nth-child(4),
.heroes-carousel__names li:nth-child(4) {
  float: right;
}
.heroes__names li.darkened,
.heroes-carousel__names li.darkened {
  opacity: 0.7 !important;
}
.heroes__description,
.heroes-carousel__description {
  z-index: 5;
  position: relative;
  color: #fff;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
  opacity: 0;
  visibility: hidden;
  width: 450px;
  position: absolute;
  top: 160px;
}
.heroes__description.active,
.heroes-carousel__description.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s;
}
.showcase-video-close {
  color: #fff;
  position: absolute;
  right: 30px;
  top: 82px;
  z-index: 5;
  background: none;
  padding: 0;
  border: none;
}
.showcase-video-close:focus {
  outline: none;
}
.hero-name {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}
.hero-position {
  text-transform: uppercase;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  margin-top: 40px;
}
.heroes-images-container {
  position: relative;
}
.heroes__images--description {
  position: absolute !important;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
}
.heroes__images--description.active {
  transition: opacity 0s ease, visibility 0s;
  opacity: 1;
  visibility: visible;
}
.heroes__images--description.active .hero-image {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
}
.heroes__images--description.active .hero-image.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s;
}
.hero-video {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  background: transparent;
  margin-top: 25px;
  font-size: 19px;
}
.hero-video span {
  margin-right: 10px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  position: relative;
}
.hero-video span:after {
  top: 0;
  left: 0;
  background: url("../img/circle.png") center center/contain no-repeat;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero-video:focus {
  outline: none;
}
.overlay {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  z-index: 5;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0s;
}
.overlay:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.btn--popup {
  background: transparent;
  transition: color 0.2s ease, background 0.2s ease;
  color: #088454;
  border: 1px solid #088454;
  font-weight: bold;
  padding: 10px 25px !important;
}
.btn--popup:hover,
.btn--popup:active,
.btn--popup:focus {
  background: #088454;
  color: #fff;
}
.btn--popup:focus {
  outline: none;
}
.btn--popup-red {
  border-color: #d20a2d;
  color: #d20a2d;
}
.btn--popup-red:hover,
.btn--popup-red:focus,
.btn--popup-red:active {
  background: #d20a2d;
}
[data-popup]:focus {
  outline: none;
}
.popup {
  vertical-align: middle;
  width: 580px;
  background: #fff;
  position: relative;
  padding: 45px 110px 55px;
  display: none;
  border-radius: 5px;
}
.popup__result {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.9);
  transition: opacity 0.2s ease, visibility 0s 0.2s ease;
}
.popup__result.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s ease;
}
.popup__result:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.popup__result p {
  display: inline-block;
  vertical-align: middle;
}
.popup.active {
  display: inline-block;
}
.popup__heading,
.popup__subheading {
  font-size: 21px;
  text-align: center;
  font-family: 'Roboto Condensed';
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.popup__subheading {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}
.popup[data-popup=video] {
  width: 80%;
  background: transparent;
  padding: 0;
  height: 70%;
}
.popup[data-popup=video] iframe {
  width: 100%;
  height: 100%;
}
.popup[data-popup=materials],
.popup[data-popup=about] {
  padding: 45px 55px;
}
.popup[data-popup=materials] .btn,
.popup[data-popup=about] .btn {
  display: inline-block;
  margin-right: 5px;
}
.popup[data-popup=materials] .btn:last-of-type,
.popup[data-popup=about] .btn:last-of-type {
  margin-right: 0;
}
.popup[data-popup=about] {
  text-align: left;
  padding: 45px 0;
}
.popup[data-popup=about] p,
.popup[data-popup=about] .popup__btns {
  padding: 0 55px;
}
.popup[data-popup=about] .popup__btns {
  margin-top: 30px;
  text-align: left;
}
.popup[data-popup=about] img {
  width: 100%;
  padding: 65px 0 30px;
}
.popup__form button[type=submit] {
  font-size: 21px;
  display: block;
  width: 100%;
  padding: 0;
  height: 60px;
}
.popup__form .input {
  height: 55px;
  line-height: 53px;
  padding: 0 30px;
}
.popup__form .textarea {
  height: 140px;
  padding: 15px 30px;
  background: #fff;
}
.popup__form .input,
.popup__form .textarea {
  display: block;
  width: 100%;
  margin-bottom: 9px;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  color: #686868;
}
.popup__form .input:focus,
.popup__form .textarea:focus {
  outline: none;
}
.hero-image {
  position: absolute;
  bottom: 0;
  transition: opacity 0.2s ease;
}
.hero-image[data-hero=dorofeev] {
  background: url("../img/TIM.png");
  width: 400px;
  height: 448px;
  left: -66px;
  bottom: 24px;
  z-index: 1;
}
.hero-image[data-hero=bronsky] {
  background: url("../img/BRONSKY.png");
  width: 360px;
  height: 456px;
  left: 143px;
  bottom: 56px;
}
.hero-image[data-hero=polikina] {
  background: url("../img/POLIKINA.png");
  width: 350px;
  height: 443px;
  left: 621px;
  bottom: 56px;
}
.hero-image[data-hero=starodubtsevy] {
  background: url("../img/STRD_W.png");
  width: 473px;
  height: 371px;
  left: 739px;
  bottom: 79px;
}
.hero-image--darkened {
  opacity: 0.7;
}
.heroes-description-container {
  position: relative;
  padding-top: 75px;
}
.experts {
  padding: 75px 0 112px;
  background: url("../img/experts_bg.jpg") center center/cover no-repeat;
  color: #fff;
  text-align: center;
}
.experts img {
  display: inline-block;
}
.experts__slider {
  width: 670px;
  display: inline-block;
  margin-top: 35px;
}
.expert-slide__text {
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  margin-top: 25px;
  line-height: 26px;
}
.expert-slide__credentials {
  float: left;
  text-align: left;
}
.expert-slide__quote {
  float: right;
  width: 465px;
  text-align: left;
  font-size: 21px;
  height: 120px;
  font-style: italic;
  font-family: 'Times New Roman';
  letter-spacing: 0.055em;
  padding-left: 40px;
  line-height: 23px;
  position: relative;
}
.expert-slide__quote:before {
  content: '';
  display: block;
  position: absolute;
  top: 45px;
  left: -10px;
  width: 28px;
  height: 30px;
  background: url("../img/quotes.png") center center/contain no-repeat;
}
.expert-slide__quote:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.expert-slide__quote p {
  display: inline-block;
  vertical-align: middle;
}
.expert-slide__img {
  margin-bottom: 13px;
}
.slick-slide:focus,
.slick-slide:active {
  outline: none;
}
.expert-name {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 23px;
  line-height: 36px;
  text-transform: uppercase;
}
.expert-position {
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 12px;
  text-transform: uppercase;
}
.slider-button {
  width: 52px !important;
  height: 52px !important;
  position: absolute !important;
  top: 150px;
  background: transparent;
  z-index: 1;
}
.slider-button:focus,
.slider-button:active {
  outline: none;
}
.slider-button:hover img {
  opacity: 0;
}
.slider-button:hover .hover-img {
  opacity: 1;
}
.slider-button img {
  transition: opacity 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
}
.slider-button .hover-img {
  opacity: 0;
}
.prev-arrow {
  left: -135px;
}
.next-arrow {
  right: -135px;
}
.slick-dots {
  position: absolute;
  left: 0;
  bottom: -34px;
}
.slick-dots li {
  display: inline-block;
  line-height: 0;
}
.slick-dots li.slick-active button {
  background: #fff;
}
.slick-dots li button {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: transparent;
  background: transparent;
  border: 2px solid #fff;
  transition: background 0.3s ease;
  margin-right: 18px;
}
.slick-dots li button:focus,
.slick-dots li button:active {
  outline: none;
}
.watch-an-episode {
  background: url("../img/watch-an-episode_bg.jpg") center center/cover no-repeat;
  padding: 16px 0;
}
.watch-an-episode .play {
  display: inline-block;
  vertical-align: middle;
  margin: 0 45px 0 39px;
}
.watch-an-episode__heading {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  position: relative;
  bottom: 4px;
}
.watch-an-episode .vertical-centering {
  line-height: 183px;
}
.watch-an-episode-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 10px;
}
.watch-an-episode-subtitle {
  font-size: 14px;
  letter-spacing: 0.013em;
}
.partners {
  padding: 76px 0 83px;
}
.partners h2 {
  margin-bottom: 65px;
}
.partner__body:before {
  content: '';
  display: block;
  background: url("../img/line.png") left center/contain no-repeat;
  height: 21px;
  margin: 16px 0 37px;
}
.partner__body img {
  margin-right: 26px;
}
.partner__body .btn {
  margin-top: 12px;
}
.join {
  padding: 67px 0 60px;
  color: #fff;
  background: #68b85f url("../img/join.png") center bottom/contain no-repeat;
}
.join h2 {
  margin-bottom: 18px;
}
.join__list {
  margin-top: 72px;
  font-size: 16px;
}
.join__em {
  color: #68b85f;
  font-weight: 900;
  background: #fff;
  padding: 2px;
  font-size: 43px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 20px;
  letter-spacing: 0.2em;
}
.join__em-2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 0.131em;
  padding: 0 30px;
  margin-top: 14px;
}
.join__em-2 span {
  font-size: 28px;
  letter-spacing: 0.1em;
}
.join__btn {
  text-align: center;
  font-weight: 900;
  margin-top: 38px;
}
.join__btn button {
  border-color: #fff;
  transition: background 0.2s ease, color 0.2s ease;
  letter-spacing: 1px;
  padding: 19px 36px;
  letter-spacing: 0.185em;
}
.join__btn button:hover {
  background: #fff;
  color: #61af58;
}
.join-accent {
  text-align: center;
  line-height: 52px;
  padding-left: 48px;
}
.join-accent span {
  font-size: 12px;
  margin-left: 15px;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  display: inline-block;
  vertical-align: top;
  letter-spacing: 1px;
  position: relative;
  bottom: 7px;
}
.join-accent .plate {
  width: 317px;
  height: 52px;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #68b85f;
  font-weight: bold;
  letter-spacing: 1px;
  background: url("../img/motto.png") center center/contain no-repeat;
}
.join-accent .plate p {
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.join-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  line-height: 25px;
  letter-spacing: 1px;
}
.join-item:nth-child(1) {
  width: 343px;
}
.join-item:nth-child(2) {
  margin: -53px 50px 0 0;
}
.join-item:last-of-type {
  margin-right: 0;
  width: 250px;
  padding-right: 25px;
}
.join-item p {
  margin-bottom: 11px;
}
.join-item span {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
}
.btn--transparent {
  background: transparent;
  border: 1px solid;
  border-radius: 5px;
}
.team {
  padding: 54px 0 22px;
  background: #f2f2f2;
  color: rgba(0,0,0,0.5);
  border-bottom: 1px solid #e1e1e1;
}
.team__delimiter {
  margin-bottom: 22px;
  position: relative;
  line-height: 0;
  bottom: 7px;
}
.team__group .download {
  font-size: 15px;
  font-weight: bold;
  color: inherit;
  background-image: linear-gradient(to right, rgba(0,0,0,0.5) 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  text-decoration: none !important;
  margin-left: 26px;
  letter-spacing: 0.05em;
}
.to-top {
  background-image: linear-gradient(to right, rgba(0,0,0,0.5) 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  background-color: transparent;
}
h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.14em;
  margin-bottom: 42px;
  display: inline-block;
}
h4 span {
  font-size: 17px;
  margin-right: 7px;
}
h5 {
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  margin-bottom: 5px;
}
.team-group-list {
  font-size: 12px;
  margin-bottom: 13px;
}
.team-group-list p {
  letter-spacing: 0.14em;
  line-height: 20px;
}
.team-group-list:last-of-type {
  margin-bottom: 0;
}
.footer {
  padding: 32px 0;
  font-size: 13px;
  color: #191919;
}
.footer__social {
  color: #00a4e3;
}
.footer__social a {
  display: inline-block;
  font-size: 21px;
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 50%;
  transition: background 0.1s ease, color 0.1s ease;
}
.footer__social a:hover {
  background: #00a4e3;
  color: #fff;
}
.footer__authors span {
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  margin-right: 19px;
  letter-spacing: 0.04em;
}
.footer__authors img {
  display: inline-block;
  vertical-align: middle;
}
.footer .gray {
  color: rgba(25,25,25,0.64);
}
.footer__share p {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer__share span {
  color: #d20a2d;
  margin: 0 3px;
}
.footer__share a {
  padding: 5px 12px;
  margin-right: 6px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #d20a2d;
  color: #d20a2d;
  font-weight: bold;
  transition: background 0.2s ease, color 0.2s ease;
}
.footer__share a:last-of-type {
  margin-right: 0;
}
.footer__share a span {
  transition: color 0.2s ease;
}
.footer__share a:hover,
.footer__share a:focus {
  color: #fff;
  background: #d20a2d;
}
.footer__share a:hover span,
.footer__share a:focus span {
  color: #fff;
}
.footer .vertical-centering {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.no-js .loader {
  display: none !important;
}
.loader {
  background: #2e3842;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.download {
  background: transparent;
}
.download:focus {
  outline: none;
}
.share {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: 1199px) and (max-height: 735px) and (min-height: 650px) {
  .showcase__logo {
    height: 480px;
  }
  .showcase__map {
    height: 360px;
  }
  .showcase__string {
    right: 270px;
    bottom: 100px;
  }
  .showcase-logo-container .play {
    top: 265px;
    right: 125px;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 42px;
  }
  .showcase-subheading {
    margin-top: 15px;
  }
  .showcase__logo {
    width: 45%;
  }
  .showcase__map {
    width: 55%;
  }
  .showcase__heading {
    width: 480px;
  }
  .showcase__string {
    width: 40%;
    right: 175px;
    bottom: 115px;
  }
  .showcase-logo-container {
    left: 10px;
    top: 60px;
  }
  .showcase-logo-container .play {
    top: 255px;
    right: 50px;
  }
  .partner__body img {
    margin-right: 10px;
  }
  .footer__share a {
    padding: 5px 7px;
  }
  .container {
    padding: 0 11px;
  }
  .hero-image[data-hero=dorofeev] {
    background: url("../img/TIM.png") center center/contain;
    width: 350px;
    height: 392px;
    left: -66px;
    bottom: 24px;
  }
  .hero-image[data-hero=bronsky] {
    background: url("../img/BRONSKY.png") center center/contain;
    width: 310px;
    height: 392px;
    left: 143px;
    bottom: 56px;
  }
  .hero-image[data-hero=polikina] {
    background: url("../img/POLIKINA.png") center center/contain;
    width: 300px;
    height: 379px;
    left: 495px;
    bottom: 56px;
  }
  .hero-image[data-hero=starodubtsevy] {
    background: url("../img/STRD_W.png") center center/contain;
    width: 423px;
    height: 331px;
    left: 575px;
    bottom: 79px;
  }
  .heroes__description {
    top: 100px;
  }
  .heroes__names li:nth-child(1) {
    margin-right: 50px;
  }
  .heroes__names li:nth-child(2) {
    margin-right: 130px;
  }
  .heroes__images {
    height: 480px;
  }
  .heroes__images #north_people_img {
    width: 27%;
  }
}
@media screen and (max-width: 991px) {
  .container {
    padding: 0 9px;
  }
  body {
    font-size: 15px;
  }
  .btn {
    padding: 10px 30px;
  }
  .btn,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 9px;
    padding-right: 9px;
  }
  .row {
    margin-left: -9px;
    margin-right: -9px;
  }
  .header {
    height: 45px;
  }
  .header__logo {
    margin-right: 10px;
    height: 80px;
    width: 80px;
    background: url("../img/header_logo.jpg") center center/75% 75% no-repeat #fff;
  }
  .header__desc {
    width: 230px;
    text-align: right;
    height: 45px;
    font-size: 10px;
  }
  .header__nav {
    font-size: 10px;
    line-height: 45px;
  }
  .header__nav li {
    padding: 0 10px;
  }
  .header__btn {
    height: 45px;
  }
  h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .showcase__heading {
    width: 380px;
    top: 0;
    right: 0;
  }
  .showcase__logo {
    width: 48%;
  }
  .showcase__map {
    width: 60%;
  }
  .showcase__string {
    width: 37%;
    right: 140px;
    bottom: 105px;
  }
  .showcase-subheading {
    font-size: 12px;
  }
  .showcase-logo-container {
    left: 0;
  }
  .showcase-logo-container {
    top: 35px;
  }
  .showcase-logo-container .play {
    top: 195px;
    right: 0px;
  }
  .footer__share a {
    font-size: 10px;
    margin-right: 5px;
  }
  .footer__share span {
    margin: 0 1px;
  }
  .footer__social a {
    height: 27px;
    width: 27px;
    line-height: 27px;
    font-size: 16px;
  }
  .join__em {
    font-size: 31px;
  }
  .join__em-2 {
    font-size: 23px;
  }
  .join__em-2 span {
    font-size: 20px;
  }
  .join-item {
    margin-right: 0 !important;
    width: 33% !important;
  }
  .join-item:nth-child(2) {
    text-align: center;
    margin-top: -20px;
  }
  .partner__body img {
    margin-right: 10px;
    max-width: 100px;
  }
  .partner__body a:last-of-type:first-of-type img {
    margin: 0;
    width: auto;
    max-width: none;
  }
  .hero-image[data-hero=dorofeev] {
    background: url("../img/TIM.png") center center/contain;
    width: 300px;
    height: 336px;
    left: -90px;
    bottom: 24px;
  }
  .hero-image[data-hero=bronsky] {
    background: url("../img/BRONSKY.png") center center/contain;
    width: 260px;
    height: 328px;
    left: 100px;
    bottom: 56px;
  }
  .hero-image[data-hero=polikina] {
    background: url("../img/POLIKINA.png") center center/contain;
    width: 250px;
    height: 315px;
    left: 385px;
    bottom: 56px;
  }
  .hero-image[data-hero=starodubtsevy] {
    background: url("../img/STRD_W.png") center center/contain;
    width: 373px;
    height: 291px;
    left: 480px;
    bottom: 79px;
  }
  .heroes__images {
    height: 480px;
  }
  .heroes__images #north_people_img {
    width: 25%;
  }
  .heroes__names {
    font-size: 13px;
    height: 75px;
  }
  .heroes__names ul {
    line-height: 80px;
  }
  .heroes__names li {
    transition: opacity 0.2s ease;
  }
  .heroes__names li:nth-child(1) {
    margin-right: 60px;
  }
  .heroes__names li:nth-child(2) {
    margin-right: 100px;
  }
  .heroes__names li:nth-child(3) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .header__sidemenu-trigger {
    float: right;
    line-height: 45px;
  }
  .header__sidemenu-trigger button {
    background: transparent;
  }
  .header__sidemenu-trigger button:focus {
    outline: none;
  }
  .sidemenu {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    width: 50%;
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    z-index: 999;
    background: #d20a2d;
    color: #fff;
    padding: 65px 25px;
    text-transform: uppercase;
    line-height: 30px;
  }
  .sidemenu.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .sidemenu__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
  }
  .sidemenu__close:focus {
    outline: none;
  }
  .sidemenu li {
    cursor: pointer;
  }
  .showcase {
    height: auto !important;
  }
  .showcase__logo {
    width: 100%;
  }
  .showcase__string {
    display: none;
  }
  .showcase__heading {
    text-align: center;
    position: static;
    margin: 30px 0;
    width: 100%;
  }
  .showcase-wrapper {
    height: auto !important;
    margin-top: 85px !important;
  }
  .showcase-logo-container {
    position: static;
  }
  .showcase-logo-container .play {
    display: block;
    margin: 20px auto 0;
    position: static;
  }
  .welcome {
    padding: 40px 0;
  }
  .welcome__btns a {
    display: block;
  }
  .welcome__btns a:last-of-type {
    margin-top: 10px;
  }
  .experts {
    padding: 40px 0;
  }
  .experts__slider {
    width: 100%;
    margin-top: 0;
  }
  .expert-slide__quote p {
    padding-left: 25px;
  }
  .expert-slide__credentials,
  .expert-slide__quote {
    display: block;
    float: none;
    text-align: center;
    margin-top: 25px;
  }
  .expert-slide__quote {
    text-align: center;
    width: 100%;
    height: auto;
    padding-left: 0;
  }
  .expert-slide__quote p {
    padding-left: 0;
  }
  .expert-slide__quote:before {
    display: none;
  }
  .expert-slide__img {
    width: 100%;
  }
  .watch-an-episode {
    padding: 40px 0;
  }
  .watch-an-episode .vertical-centering {
    line-height: inherit;
    text-align: center;
    width: 100%;
    margin-top: 25px;
  }
  .watch-an-episode .play {
    margin: 0 auto;
    display: block;
  }
  .watch-an-episode__heading {
    margin: 25px 0 0 0;
    display: block;
    text-align: center;
  }
  .partners {
    padding: 40px 0 0;
  }
  .partners h2 {
    margin: 0 0 30px 0;
  }
  .partner {
    text-align: center;
    margin-bottom: 40px;
  }
  .partner__body:before {
    background-position: center center;
    margin: 15px 0;
  }
  .partners {
    padding: 40px 0;
  }
  .partners h2 {
    margin: 30px;
  }
  .join__list {
    margin-top: 20px;
  }
  .join-item {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 0 20px 0 !important;
    display: block !important;
    text-align: center !important;
  }
  .heroes-carousel {
    padding: 40px 0;
  }
  .heroes-carousel .hero-image {
    display: inline-block;
    position: static;
  }
  .heroes-carousel .slick-dots li.slick-active button {
    background: #0c1b21;
  }
  .heroes-carousel .slick-dots li button {
    border: 2px solid #0c1b21;
  }
  .slick-dots {
    position: static;
    text-align: center;
    margin-top: 30px;
  }
  .footer .col-xs-12 {
    text-align: center;
    margin: 10px 0;
  }
  .popup {
    width: 90%;
    margin: 50px 0;
    padding: 15px !important;
  }
  .popup__heading {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .popup__subheading {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .popup[data-popup=video] {
    width: 100%;
  }
  .popup[data-popup=about] {
    padding: 15px 0 !important;
  }
  .popup[data-popup=about] p {
    padding: 0 15px;
  }
  .popup__btns {
    padding: 0 15px !important;
  }
  .btn--popup {
    display: block;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .btn--popup:last-of-type {
    margin-bottom: 0;
  }
  .team__delimiter {
    margin: 22px 0;
  }
  .team__delimiter img {
    width: 100%;
  }
  .btn {
    font-size: 14px;
  }
  .hero-text {
    text-align: center;
  }
  .team-group-wrapper {
    margin-bottom: 13px;
  }
  .join-accent {
    padding: 0;
  }
  .join-accent span {
    display: block;
    font-size: 16px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .join {
    padding: 40px 0;
  }
  .join__list {
    margin-top: 0;
  }
  .join__em {
    font-size: 18px;
  }
  .join__em-2 {
    font-size: 16px;
  }
  .join__em-2 span {
    font-size: 14px;
  }
  .join__btn button {
    padding: 15px 0;
    width: 100%;
    letter-spacing: 1px;
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .join-accent .plate {
    width: 290px;
    height: auto;
  }
}
@media screen and (max-height: 650px) and (max-width: 991px) {
  .showcase__video #showcase-video {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: auto;
    width: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .showcase__video #showcase-video video {
    min-height: 0;
    min-width: 0;
    width: 100%;
    position: static;
    height: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .showcase-video-close {
    top: 15px;
    right: 15px;
  }
}
