@font-face {
    font-family: "NerisThin";
    src: url("NerisThin/NerisThin.eot");
    src: url("NerisThin/NerisThin.eot?#iefix")format("embedded-opentype"), url("NerisThin/NerisThin.woff") format("woff"), url("NerisThin/NerisThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "NerisLight"; */

@font-face {
    font-family: "NerisLight";
    src: url("NerisLight/NerisLight.eot");
    src: url("NerisLight/NerisLight.eot?#iefix")format("embedded-opentype"), url("NerisLight/NerisLight.woff") format("woff"), url("NerisLight/NerisLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "NerisSemiBold"; */

@font-face {
    font-family: "NerisSemiBold";
    src: url("NerisSemiBold/NerisSemiBold.eot");
    src: url("NerisSemiBold/NerisSemiBold.eot?#iefix")format("embedded-opentype"), url("NerisSemiBold/NerisSemiBold.woff") format("woff"), url("NerisSemiBold/NerisSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "NerisBoldItalic"; */

@font-face {
    font-family: "NerisBoldItalic";
    src: url("NerisBoldItalic/NerisBoldItalic.eot");
    src: url("NerisBoldItalic/NerisBoldItalic.eot?#iefix")format("embedded-opentype"), url("NerisBoldItalic/NerisBoldItalic.woff") format("woff"), url("NerisBoldItalic/NerisBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "NerisLightItalic"; */

@font-face {
    font-family: "NerisLightItalic";
    src: url("NerisLightItalic/NerisLightItalic.eot");
    src: url("NerisLightItalic/NerisLightItalic.eot?#iefix")format("embedded-opentype"), url("NerisLightItalic/NerisLightItalic.woff") format("woff"), url("NerisLightItalic/NerisLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "NerisThinItalic"; */

@font-face {
    font-family: "NerisThinItalic";
    src: url("NerisThinItalic/NerisThinItalic.eot");
    src: url("NerisThinItalic/NerisThinItalic.eot?#iefix")format("embedded-opentype"), url("NerisThinItalic/NerisThinItalic.woff") format("woff"), url("NerisThinItalic/NerisThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "NerisSemiBoldItalic"; */

@font-face {
    font-family: "NerisSemiBoldItalic";
    src: url("NerisSemiBoldItalic/NerisSemiBoldItalic.eot");
    src: url("NerisSemiBoldItalic/NerisSemiBoldItalic.eot?#iefix")format("embedded-opentype"), url("NerisSemiBoldItalic/NerisSemiBoldItalic.woff") format("woff"), url("NerisSemiBoldItalic/NerisSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NerisBlack';
    src: url('../fonts/neris-black-webfont.eot');
    src: url('../fonts/neris-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neris-black-webfont.woff2') format('woff2'), url('../fonts/neris-black-webfont.woff') format('woff'), url('../fonts/neris-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
