body {
  background-color: #050505;
  background-image:
    radial-gradient(circle at 15% 50%, rgba(124, 58, 237, 0.25), transparent 40%),
    radial-gradient(circle at 85% 30%, rgba(14, 165, 233, 0.25), transparent 40%),
    radial-gradient(circle at 50% 80%, rgba(217, 70, 239, 0.15), transparent 40%);
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

// .bg-noise {
//   background-size: 300px 300px;
//   animation: 250ms steps(10, end) 0s infinite alternate-reverse none running
//     noise-animation;
//   @keyframes noise-animation {
//     0% {
//       background-position: 0% 0%;
//     }
//     10% {
//       background-position: -5% -5%;
//     }
//     20% {
//       background-position: -10% 5%;
//     }
//     30% {
//       background-position: 5% -10%;
//     }
//     40% {
//       background-position: -5% 15%;
//     }
//     50% {
//       background-position: -10% 5%;
//     }
//     60% {
//       background-position: 5% 5%;
//     }
//     70% {
//       background-position: 0% 10%;
//     }
//     80% {
//       background-position: -5% -5%;
//     }
//     90% {
//       background-position: 10% 5%;
//     }
//   }
// }

.experience-line {
  background: repeating-linear-gradient(90deg, #565656 0 11px, #0000 0 22px);
  height: 2px;
  top: 15px;
  width: 100%;
  position: absolute;
  left: 0;
}

.frosted-glass {
  background: rgba(23, 23, 23, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
}