/*=============================
=            reset            =
=============================*/
button {
  background: none;
  border: none;
  padding: 0;
  outline: none !important;
}
input {
  outline: none !important;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.owl-carousel .owl-item img {
  width: auto;
}
.select2-selection {
  outline: none !important;
}
/*=====  End of reset  ======*/
/*======================================
=            general styles            =
======================================*/
body {
  font-family: 'Roboto';
  overflow-x: hidden;
}
body.prevent-scroll {
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1072px;
    padding: 0;
  }
}
/*=====  End of general styles  ======*/
/*===============================
=            buttons            =
===============================*/
.btn {
  border: 3px solid #123885;
  color: #123885;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 32px;
  transition: all 0.2s ease;
}
.btn:hover {
  background: #123885;
  color: #fff;
}
/*=====  End of buttons  ======*/
/*==============================
=            header            =
==============================*/
.header {
  padding: 15px 0;
}
.header-flex-container {
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}
.header-flex-container > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
@media screen and (max-width: 1200px) {
  .header-flex-container {
    width: 100%;
  }
}
.header-logo {
  margin-right: 30px;
}
.header-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #d2d2d2;
  transition: all 0.2s ease;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none !important;
}
.header-link--active,
.header-link:hover {
  color: #002672;
}
.header-link--active {
  border-bottom: 4px solid #fff200;
}
.circle-btns {
  margin-left: auto;
}
.circle-btns .circle-btn {
  border: 2px solid #eaeaea;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 30px;
  transition: all 0.2s ease;
  background-color: #fff;
  position: relative;
}
.circle-btns .circle-btn--white {
  background: transparent;
}
.circle-btns .circle-btn--white:hover path {
  fill: #0f0f0f;
}
.circle-btns .circle-btn:hover {
  border-color: #fff200;
  background-color: #fff200;
}
.circle-btns .circle-btn:hover .circle-btn__tooltip {
  opacity: 1;
}
.circle-btns .circle-btn__tooltip {
  position: absolute;
  color: #fcfdff;
  font-size: 12px;
  font-weight: 400;
  background: #000;
  padding: 0px 11px;
  white-space: nowrap;
  top: 40px;
  right: -5px;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}
.circle-btns--white {
  border-color: #3c5b99;
}
.city-contacts {
  margin-right: 112px;
}
.city-contacts .select2 {
  width: 160px !important;
  display: block;
}
.city-contacts .select2-container--open {
  box-shadow: none;
}
.city-contacts .select2-selection {
  outline: none !important;
}
.city-contacts .select2-selection__rendered {
  color: #000 !important;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
.city-contacts .select2-selection--single {
  border: none;
  height: auto;
}
.city-contacts .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  line-height: inherit;
}
.city-contacts .select2-selection__arrow {
  width: 9px !important;
  height: 6px !important;
  top: 5px !important;
  background: url("../img/icons/arrow-down.png") center no-repeat;
}
.city-contacts .select2-selection__arrow b {
  display: none;
}
.city-contacts--white .select2-selection {
  background: transparent;
}
.city-contacts--white .select2-selection__rendered {
  color: #fff !important;
}
.city-contacts--white .select2-selection__arrow {
  width: 6px !important;
  height: 10px !important;
  top: 5px;
  background: url("../img/icons/arrow-right--white.png") center no-repeat;
}
.city-contacts--white .select2-selection__arrow b {
  display: none;
}
.city-contacts__num {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none !important;
}
.city-contacts__num--white {
  color: #fff;
}
/*=====  End of header  ======*/
/*=================================
=            subheader            =
=================================*/
.subheader {
  background-color: #002672;
  padding: 11px 0;
  text-align: center;
}
.subheader .subheader-link {
  opacity: 0.8;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  transition: all 0.2s ease;
  margin: 0 13px;
  display: inline-block;
}
.subheader .subheader-link--active,
.subheader:hover {
  color: #fff200;
}
/*=====  End of subheader  ======*/
/*===================================
=            main-slider            =
===================================*/
.main-slider {
  overflow: hidden;
  max-height: 590px;
}
.main-slider__container {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  bottom: 95px;
}
.main-slider .owl-dots {
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 224px;
}
.main-slider .owl-dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 7px;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  transition: all 0.2s ease;
}
.main-slider .owl-dot.active {
  background-color: transparent;
  border: 3px solid #fff200;
  width: 16px;
  height: 16px;
}
.main-slider .owl-nav {
  position: absolute;
  height: 44px;
  top: 36%;
  left: 0;
  width: 100%;
}
.main-slider .owl-prev,
.main-slider .owl-next {
  position: absolute;
}
.main-slider .owl-prev {
  left: 45px;
}
.main-slider .owl-next {
  right: 45px;
}
.main-slider-item {
  height: 590px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-slider-item__title {
  color: #eff2f9;
  font-size: 83px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  line-height: 1.15;
  margin-bottom: -10px;
}
.main-slider-item__subtitle {
  color: #fff;
  font-size: 21px;
  font-weight: 100;
}
/*=====  End of main-slider  ======*/
/*==============================
=            offers            =
==============================*/
.offers {
  background-color: #d8dbe6;
}
.offers-container {
  background-color: #eff2f9;
  padding: 50px 0 40px;
  margin-top: -113px;
  position: relative;
  z-index: 2;
}
.offers-title {
  color: #002672;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
  line-height: 1.1;
}
.offer-triggers-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.offer-trigger {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.offer-trigger__icon,
.offer-trigger__title {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.offer-trigger__title {
  margin-left: 15px;
  color: #6e6e6e;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px dotted #c9c9c9;
  line-height: 1;
  transition: all 0.2s ease;
}
.offer-trigger__icon {
  width: 62px;
  height: 62px;
  background-color: #123885;
  transition: all 0.2s ease;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.offer-trigger__icon svg {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.offer-trigger__icon path {
  transition: all 0.2s ease;
}
.offer-trigger--active .offer-trigger__icon {
  background-color: #fff200;
}
.offer-trigger--active .offer-trigger__icon path {
  fill: #123885;
}
.offer-trigger--active .offer-trigger__title {
  color: #123885;
}
.offer-trigger--active:after {
  opacity: 1 !important;
}
.offer-trigger:after {
  top: 100px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255,255,255,0);
  border-top-color: #eff2f9;
  border-width: 19px;
  margin-left: -19px;
  opacity: 0;
  transition: all 0.2s ease;
}
/*=====  End of offers  ======*/
/*======================================
=            offers-content            =
======================================*/
.offers-content {
  background-color: #d8dbe6;
}
.offer-content__img-container {
  border-radius: 50%;
  border: 12px solid #eff2f9;
}
.offer-content__img {
  border-radius: 50%;
}
.offer-content-info {
  margin-left: 45px;
}
.offer-content-info__title {
  color: #123885;
  font-size: 34px;
  font-weight: 700;
  display: inline;
  background-color: #fff200;
  box-shadow: 10px 0 0 #fff200, -10px 0 0 #fff200;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 10px 0;
}
.offer-content-info__description {
  color: #323232;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0 27px;
}
.offer-content-container {
  padding: 63px 0 78px 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
/*=====  End of offers-content  ======*/
/*===============================
=            popular            =
===============================*/
.popular {
  padding: 90px 0 80px;
  background: url("../img/backgrounds/laptop.jpg") center center/cover no-repeat;
}
.popular-title {
  color: #123885;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 37px;
}
.popular-products {
  background-color: #123885;
  padding: 40px 0 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
}
.popular-product {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0 45px;
  transition: all 0.2s ease;
}
.popular-product__title {
  width: 110px;
}
.popular-product__icon {
  position: relative;
  line-height: 0;
  margin-bottom: 30px;
}
.popular-product__icon path {
  transition: all 0.2s ease;
}
.popular-product__icon:after {
  content: '';
  border: 3px solid #fff200;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47px 0 0 -47px;
  transition: all 0.2s ease;
  opacity: 0;
}
.popular-product:hover {
  color: #fff200;
}
.popular-product:hover .popular-product__icon path {
  fill: #fff200;
}
.popular-product:hover .popular-product__icon:after {
  opacity: 1;
}
/*=====  End of popular  ======*/
/*============================
=            info            =
============================*/
.info {
  background-color: #eff2f9;
  padding: 80px 0 30px;
}
.info-trigger {
  color: #c0c0c0;
  font-size: 26px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 15px;
  line-height: 1.2;
}
.info-trigger--active {
  color: #123885;
  border-bottom: 4px solid #fff200;
}
.info-trigger-container {
  text-align: center;
  margin-bottom: 45px;
}
.info-article {
  margin-bottom: 15px;
}
.info-article__title {
  color: #123885;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 13px;
  display: inline-block;
}
.info-article__text {
  color: #343434;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 7px;
}
.info-article__date {
  color: #c0c0c0;
  font-size: 14px;
  font-weight: 400;
}
.info-content__ajax-btn-container {
  padding-top: 25px;
  text-align: center;
  clear: both;
}
.info-content-inner-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/*=====  End of info  ======*/
/*==============================
=            footer            =
==============================*/
.footer {
  background-color: #123885;
  text-align: center;
  padding: 45px 0 33px;
}
.user {
  margin-bottom: 45px;
}
.user__avatar {
  border-radius: 50%;
  border: 2px solid rgba(234,234,234,0.3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 41px;
  width: 41px;
  margin: 0 auto;
  transition: all 0.2s ease;
  margin-bottom: 7px;
}
.user__avatar:hover {
  border: 2px solid #eaeaea;
}
.user a {
  color: #eff2f9;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-decoration: underline;
}
.footer-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 55px;
}
.footer-nav-category {
  margin: 0 5px;
  -ms-flex: 0.3;
  flex: 0.3;
}
.footer-nav-category:nth-child(2) {
  -ms-flex: none;
  flex: none;
}
.footer-nav-category__title {
  color: #fff200;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-nav-category a {
  color: #8cabe8;
  font-size: 14px;
  font-weight: 300;
}
.footer-nav-category li {
  list-style-type: none;
  margin-bottom: 4px;
}
.footer-social-networks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 60px;
}
.footer-social-network {
  width: 54px;
  height: 54px;
  border: 3px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.2s ease;
  margin: 0 7px;
}
.footer-social-network path {
  transition: all 0.2s ease;
}
.footer-social-network:hover {
  border-color: #fff200;
  background: #fff200;
}
.footer-social-network:hover path {
  fill: #123885;
}
.footer-copyright {
  color: #8cabe8;
  font-size: 12px;
  font-weight: 300;
}
.footer-copyright a {
  color: #8cabe8 !important;
}
/*=====  End of footer  ======*/
/*=============================
=            modal            =
=============================*/
.modal-dialog {
  background: #fff;
  position: relative;
  width: 704px;
  padding: 35px 32px 30px;
}
.modal-dialog--wide {
  width: 952px;
}
.modal-close {
  position: absolute;
  top: 16px;
  right: 19px;
}
.modal-title {
  color: #123885;
  font-size: 26px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  position: relative;
}
.modal-title__help {
  color: #151515;
  font-size: 14px;
  font-weight: 500;
  width: 22px;
  height: 22px;
  border: 2px solid #fff200;
  background-color: #fff;
  border-radius: 50%;
  line-height: 18px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: help;
}
.modal-title__help:hover + .modal-title__tooltip {
  opacity: 1;
}
.modal-title__tooltip {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  background-color: #000;
  position: absolute;
  width: 228px;
  padding: 7px 0;
  text-align: center;
  top: 40px;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease;
}
.modal-header {
  margin-bottom: 28px;
  padding: 0;
  border: none;
  position: relative;
  z-index: 2;
}
.modal-trigger-container {
  display: inline-block;
  border: 1px solid #8eaff2;
  line-height: 34px;
  border-radius: 35px;
  overflow: hidden;
  vertical-align: middle;
}
.modal-trigger {
  font-size: 14px;
  font-weight: 400;
  color: #123885;
}
.modal-trigger--active {
  background-color: #123885;
  color: #fff !important;
}
.modal-trigger--middle {
  padding: 0 15px;
}
.modal-trigger:first-of-type,
.modal-trigger:last-of-type {
  padding: 0 35px 0 20px;
}
.modal-form {
  background-color: #eff2f9;
  padding: 40px 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: end;
  align-items: flex-end;
}
.modal-form:before,
.modal-form:after {
  content: '';
  width: 100%;
  -ms-flex-order: 1;
  order: 1;
}
.modal-form__input {
  background-color: #fff;
  height: 55px;
  border: none;
  padding: 0 15px;
  margin: 0 10px 20px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #000;
  font-weight: 500;
}
.modal-form__input::-webkit-input-placeholder {
  color: #b3b3b3;
  font-weight: 300;
}
.modal-form__input:-moz-placeholder {
  color: #b3b3b3;
  font-weight: 300;
}
.modal-form__input::-moz-placeholder {
  color: #b3b3b3;
  font-weight: 300;
}
.modal-form__input:-ms-input-placeholder {
  color: #b3b3b3;
  font-weight: 300;
}
.modal-form__input--small {
  -ms-flex-positive: 0.35;
  flex-grow: 0.35;
}
.modal-form__label {
  margin: 0 10px 20px;
  width: 1%;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.modal-form__label > span:first-of-type {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}
.modal-form__label--half {
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
}
.modal-form .btn[type="submit"] {
  margin: 20px auto 0;
  -ms-flex-order: 1;
  order: 1;
}
.modal-form__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
}
.modal-form__container .modal-form__input {
  width: 1%;
}
.modal-select + .select2 {
  width: 100%;
}
.modal-select + .select2 .select2-selection {
  background-color: #fff;
  transition: all 0.2s ease;
  height: 55px;
  padding: 0 16px;
  border: none;
  width: 100%;
}
.modal-select + .select2 .select2-selection:hover {
  background-color: #fff42c;
}
.modal-select + .select2 .select2-selection__rendered {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 55px;
  width: 100%;
}
.modal-select + .select2 .select2-selection__arrow {
  width: 10px;
  height: 6px;
  background: url("../img/icons/triangle-down.png") center/contain no-repeat;
  top: 50%;
  margin-top: -5px;
  right: 16px;
  transition: all 0.2s ease;
}
.modal-select + .select2 .select2-selection__arrow b {
  display: none;
}
.modal-select + .select2 .select2-selection__placeholder {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 300;
}
.modal-select + .select2-container--open .select2-selection__arrow {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.2;
}
.select2-results {
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
}
.select2-results li {
  line-height: 41px;
  background-color: #fff !important;
  transition: all 0.2s ease;
  color: #000 !important;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
}
.select2-results li.select2-results__option--highlighted {
  background-color: #fff42c !important;
}
.select2-dropdown {
  border: none;
}
.select2-dropdown,
.select2-container--open {
  box-shadow: 0 0 10px rgba(63,120,235,0.31);
  transition: all 0.2s ease;
}
.modal-select#city + .select2 {
  width: 100%;
}
.modal-select#city + .select2 .select2-selection__arrow {
  width: 8px;
  height: 12px;
  background: url("../img/icons/arrow-right.png") center/contain no-repeat;
  top: 50%;
  margin-top: -6px;
  right: 16px;
}
.modal-select#city + .select2 .select2-selection__arrow b {
  display: none;
}
.modal-form__textarea {
  box-shadow: none;
  border: 1px solid #8eaff2;
  background-color: #fff;
  transition: all 0.2s ease;
  width: 100%;
  height: 110px;
  margin: 0 10px;
  outline: none !important;
}
.modal-form__textarea:active,
.modal-form__textarea:hover,
.modal-form__textarea:focus {
  box-shadow: 0 0 10px rgba(63,120,235,0.31);
}
/*=====  End of modal  ======*/
/*==============================
=            mobile            =
==============================*/
.mobile-menu,
.mobile-cities,
.mobile-search,
.modal-close--mobile,
.mobile-menu-trigger {
  display: none;
}
@media screen and (min-width: 992px) {
  .offer-content-info-title-wrapper {
    background: none !important;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 100% !important;
  }
  .city-contacts,
  .main-links,
  .circle-btns {
    display: none;
  }
  .header-logo {
    width: 162px;
  }
  .mobile-menu-trigger {
    display: block;
  }
  .header-flex-container {
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
  }
  .main-slider__container {
    z-index: 1;
    bottom: auto;
  }
  .main-slider__container br {
    display: none;
  }
  .main-slider-item {
    position: relative;
    height: 53px;
  }
  .main-slider-item__title {
    color: #eff2f9;
    font-size: 18px;
    font-weight: 700;
    border-bottom: none;
    line-height: 1.42857143;
    margin-bottom: 0;
  }
  .main-slider-item__subtitle {
    color: #fff;
    font-size: 11px;
    font-weight: 100;
  }
  .main-slider-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(32,34,42,0.8);
  }
  .main-slider {
    max-height: 53px;
  }
  .main-slider .owl-dots {
    display: none;
  }
  .main-slider .owl-nav {
    height: 21px;
    top: 30%;
    pointer-events: none;
  }
  .main-slider .owl-nav div {
    pointer-events: auto;
  }
  .main-slider .owl-nav img {
    height: 21px;
  }
  .offers-content {
    padding-bottom: 35px;
  }
  .offers-container {
    margin: 0 -15px;
    padding: 40px 0 20px;
  }
  .subheader {
    display: none;
  }
  .offer-triggers-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .offers-title {
    color: #182a6f;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .offer-trigger {
    display: block;
    width: 25%;
  }
  .offer-trigger__title {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
  }
  .offer-trigger__icon {
    margin: 0 auto 10px;
  }
  .offer-trigger:after {
    top: 130px;
  }
  .offer-content-container {
    padding: 0;
  }
  .offer-content__img-container {
    display: none;
  }
  .offer-content-info {
    margin: 0;
  }
  .offer-content-info__title {
    color: #162451;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 5px 0 0 #fff200, -5px 0 0 #fff200;
    padding: 5px 0;
  }
  .offer-content-info-title-wrapper {
    height: 162px;
    margin: 0 -15px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 42px 0 0 25px;
  }
  .offer-content-info__description {
    font-size: 14px;
  }
  .btn {
    color: #f0f2f9;
    font-size: 13px;
    font-weight: 400;
    background-color: #263b82;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  .popular-title {
    color: #263b82;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .popular {
    padding: 35px 0;
  }
  .popular-products {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .popular-product {
    margin: 0 auto 41px;
  }
  .popular-product__title {
    font-size: 14px;
    font-weight: 400;
  }
  .popular-product__icon {
    margin-bottom: 30px;
  }
  .popular-product:last-of-type {
    margin-bottom: 0;
  }
  .popular-product:hover {
    color: #fff200;
  }
  .info-trigger {
    color: #263b82;
    font-size: 16px;
    font-weight: 700;
    margin: 0 8px;
  }
  .info-trigger-container {
    margin-bottom: 25px;
  }
  .info {
    padding: 45px 0 30px;
  }
  .info-content__ajax-btn-container {
    display: none;
  }
  .info-content-inner-container .owl-dots {
    text-align: center;
    width: 100%;
  }
  .info-content-inner-container .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    background-color: #d8dbe6;
    margin: 0 6px;
    border-radius: 50%;
    transition: all 0.2s ease;
  }
  .info-content-inner-container .owl-dots .owl-dot.active {
    background-color: #263b82;
  }
  .footer-nav {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .footer-nav-category {
    margin-bottom: 25px;
  }
  .user {
    margin-bottom: 30px;
  }
  .mobile-menu,
  .mobile-cities,
  .mobile-search {
    display: block;
    background-color: #123885;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 0.3s ease;
    background-color: #123885;
    width: 90%;
    opacity: 0;
    z-index: 3;
    padding: 20px 23px;
  }
  .mobile-menu--active,
  .mobile-cities--active,
  .mobile-search--active {
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .mobile-menu .main-links,
  .mobile-cities .main-links,
  .mobile-search .main-links {
    display: block;
    margin: 0 -10px 40px;
  }
  .mobile-menu .header-link,
  .mobile-cities .header-link,
  .mobile-search .header-link {
    color: rgba(255,255,255,0.2);
    font-size: 16px;
    font-weight: 500;
  }
  .mobile-menu .header-link--active,
  .mobile-cities .header-link--active,
  .mobile-search .header-link--active {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  .mobile-menu .circle-btns,
  .mobile-cities .circle-btns,
  .mobile-search .circle-btns,
  .mobile-menu .city-contacts,
  .mobile-cities .city-contacts,
  .mobile-search .city-contacts {
    display: block !important;
  }
  .mobile-menu .circle-btns,
  .mobile-cities .circle-btns,
  .mobile-search .circle-btns {
    margin-bottom: 25px;
  }
  .mobile-menu .circle-btn,
  .mobile-cities .circle-btn,
  .mobile-search .circle-btn {
    vertical-align: middle;
  }
  .mobile-menu .circle-btn__tooltip,
  .mobile-cities .circle-btn__tooltip,
  .mobile-search .circle-btn__tooltip {
    display: none;
  }
  .mobile-menu .circle-btn svg,
  .mobile-cities .circle-btn svg,
  .mobile-search .circle-btn svg {
    vertical-align: middle;
  }
  .mobile-cities,
  .mobile-search {
    width: 100%;
    z-index: 4;
  }
  .mobile-menu-bottom {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
  }
  .mobile-menu-bottom--static {
    position: static;
    margin-top: 20px;
  }
  .mobile-menu-close {
    position: absolute;
    top: 23px;
    right: 23px;
  }
  .mobile-nav {
    margin-bottom: 20px;
  }
  .mobile-nav-section {
    border-bottom: 1px solid rgba(245,245,245,0.2);
    padding: 10px 0;
    position: relative;
  }
  .mobile-nav-section__title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.2s ease;
  }
  .mobile-nav-section__title[aria-expanded="true"] {
    color: #fbf239;
  }
  .mobile-nav-section a {
    color: #8cabe8;
    transition: all 0.2s ease;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none !important;
    margin-bottom: 5px;
  }
  .mobile-nav-section a:hover {
    color: #fbf239;
  }
  .mobile-nav-section .collapse-container {
    padding-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .mobile-nav-section__arrow {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.2);
    line-height: 18px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 12px;
    transition: all 0.2s ease;
  }
  .mobile-nav-section__arrow svg {
    vertical-align: middle;
  }
  .mobile-nav-section__arrow path {
    transition: all 0.2s ease;
  }
  .mobile-nav-section [aria-expanded=true] + .mobile-nav-section__arrow {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .mobile-nav-section [aria-expanded=true] + .mobile-nav-section__arrow path {
    fill: #ede73d;
  }
  .mobile-menu-links a {
    opacity: 0.8;
    color: #7a98d6;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease;
    text-decoration: none !important;
    display: inline-block;
  }
  .mobile-menu-links a:after {
    content: '|';
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
  }
  .mobile-menu-links a:last-of-type:after {
    display: none;
  }
  .mobile-menu-links a:hover {
    opacity: 1;
    color: #fff;
  }
  .mobile-cities-trigger {
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .mobile-cities-trigger:after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 6px;
    height: 10px;
    background: url("../img/icons/arrow-right--white.png");
  }
  .mobile-cities-description {
    color: #8cabe8;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .mobile-search-close,
  .mobile-cities-close {
    display: inline-block;
    vertical-align: middle;
  }
  .mobile-screen-title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .mobile-screen-header {
    margin-bottom: 40px;
  }
  .mobile-cities-list {
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -25px;
  }
  .mobile-cities-list li {
    -ms-flex: 1 0 calc(50% - 25px);
    flex: 1 0 calc(50% - 25px);
    margin-right: 25px;
  }
  .mobile-cities-list a {
    font-weight: 400;
    color: #fff;
    text-decoration: none !important;
    transition: all 0.2s ease;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
  }
  .mobile-cities-list a:hover {
    color: #fbf239;
  }
  .mobile-cities-list--big {
    margin-bottom: 20px;
    display: block;
  }
  .mobile-cities-list--big a {
    font-size: 16px;
    line-height: 26px;
  }
  .mobile-search-input {
    background-color: #f0f2f9;
    line-height: 57px;
    background: url("../img/icons/search.png") left 18px center no-repeat, linear-gradient(#f0f2f9, #f0f2f9);
    padding: 0 20px 0 45px;
    border: none;
    display: block;
    width: 100%;
  }
  .modal-close {
    display: none;
    position: static;
  }
  .modal-close--mobile {
    display: inline-block;
    margin-right: 15px;
  }
  .modal-title {
    color: #123885;
    font-size: 16px;
    font-weight: 500;
  }
  .modal-title__help {
    margin-left: 12px;
  }
  .modal-header {
    margin-bottom: 28px;
  }
  .modal-dialog {
    padding: 24px;
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .modal-trigger-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 25px;
    height: 34px;
    line-height: inherit;
    position: relative;
    width: 100%;
  }
  .modal-trigger {
    color: #263b82;
    font-size: 12px;
    font-weight: 400;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .modal-form {
    padding: 30px 17px;
  }
  .modal-form__input {
    margin-bottom: 15px;
  }
  .modal {
    height: 100%;
    background: #fff;
  }
  .modal#call .modal-trigger {
    line-height: 12px;
    width: 33.333%;
  }
  .modal#call .modal-trigger:first-of-type,
  .modal#call .modal-trigger:last-of-type {
    padding: inherit;
  }
  .modal#call .modal-trigger--middle {
    padding: 0;
  }
  .modal#call .modal-form__input,
  .modal#call .modal-form__label,
  .modal#call .modal-form__textarea {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .modal#call .modal-form__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/*=====  End of mobile  ======*/
